[2018-07-04 12:44] KPalmerHeathman commented on #135
Also the case for other 'Sirs'

[2018-07-04 12:45] KPalmerHeathman commented on #96
I found a trace: the full stop is still pushed along the line as if there was an icon present, as in Inner Temple in this entry:
http://10.245.28.108:3000/journals/04-11-10

[2018-07-04 14:04] peterwebster commented on #96
What say you, @nomoregrapes ?

[2018-07-04 14:04] peterwebster commented on #96
@KPalmerHeathman but other than that, we're done?

[2018-07-04 14:07] peterwebster commented on #135
Without being able to see them, I think persons should be listed in this context as:

Surname, FirstName

and where there is a title

Surname, Title Firstname

[2018-07-04 14:25] peterwebster commented on #92
@KPalmerHeathman @DurHHHI @dpl0js @williamsonphilip
May I ask for first impressions/preferences for these several logo choices that Gregory has produced for us?

[2018-07-04 15:19] dpl0js commented on #92
@dpl0js - Thanks Gregory, I like white HHH the most.

[2018-07-04 15:27] DurHHHI commented on #92
Thanks @nomoregrapes for the logo support! I support any of the above options - the white HHH is a good one - save the bishop's hat. This is only because the digitised journals start in 1900, well before Henson became bishop.

[2018-07-05 05:51] peterwebster commented on #92
From @williamsonphilip

"Not, I think the mitre.  Aside from the good comment below, I rather doubt that Henson would have favoured such anglo-catholic headgear, though he may have needed to wear it sometimes (1937 coronation?).

I favour simplicity, so of these the white single H.  But to have a radical thought; is a logo necessary? The webpage design - particularly the top  banner of The Henson

[2018-07-05 12:43] peterwebster opened #136 "Adjustment to Stage 7 handling of special characters"
Peter to adjust later process to cater for i umlaut (some coming up in 17)

[2018-07-05 13:05] peterwebster commented on #121
Hi @nomoregrapes , some answers on this.

- [x] In the very top, I think we need to keep the login somewhere, but as it is only for admin users, we could perhaps move it to the footer instead?
- [x] We can lose the Guidance/Help if it just goes to the WP home. The 'Help' option in the line below actually goes to the real help pages.

History (being, I guess, just a certain number of back links oou

[2018-07-05 13:10] peterwebster opened #137 "History and Bookmarks"
Once repo is live and accessible offsite, I shall review both these and specify how to deal with them.

Includes deciding on the appropriate citation format in Bookmarks.

[2018-07-05 13:12] peterwebster commented on #47
@nomoregrapes assigning to you for information, but ignore this until August.

[2018-07-05 13:28] peterwebster commented on #102
@durHHI could you confirm that this makes sense to you? Then I can close this down.

[2018-07-05 13:30] DurHHHI commented on #102
@peterwebster  makes sense to me! I'll close.

[2018-07-05 13:31] peterwebster commented on #102
Thanks @DurHHHI - reopening just to remind me to update the documentation. Once we've got clear of these next few weeks, I have a big master document that lays out the processes we go through.

[2018-07-05 13:36] peterwebster commented on #85
FYI: @KPalmerHeathman @DurHHHI this missed the boat in the scramble of the last few weeks, and so now goes onto the someday-maybe pile, in relation to 14 and 15 at least. It can, of course, be amended manually in the interface, but life may be too short for that.

@nomoregrapes could you confirm that, as Katie and Hilary observe this revised nesting practice from now on, the existing stylesheet wi

[2018-07-05 13:40] peterwebster commented on #125
The best contender seems to be 'Select', which I think works quite well. There's a end-of-day job for @nomoregrapes ;-)

[2018-07-05 14:47] DurHHHI commented on #69
![chronological sort](https://user-images.githubusercontent.com/32575577/42330246-a4ca4062-806a-11e8-930e-26824faa7419.JPG)

[2018-07-05 14:48] DurHHHI commented on #69
@peterwebster - checking today, sort working well and in chronological order save for under issues/controversies. I don't know if this is intentional. I sorted for virgin birth and 'issue' pick up reflects out of date.

[2018-07-05 14:52] DurHHHI commented on #69
[Now dealt with at #149 , ignore here ]

@peterwebster Same issue (perhaps meant to be reflected this way) when working within annotations - see below example for Winnington Ingram.

![chronological sort persons](https://user-images.githubusercontent.com/32575577/42330632-7e17fb48-806b-11e8-94cd-21e681d567ad.JPG)

[2018-07-05 15:07] DurHHHI commented on #100
@peterwebster having a fair bit of problems getting the site to work. Cannot return to home page and refresh not working, delaying confirmation. @nomoregrapes perhaps you're doing something with the site at the moment, if so - apologies - will try again later!

[2018-07-05 15:13] DurHHHI opened #138 "Missing annotation?"
@peterwebster
Noticed this just by chance as JS sent an email about Dean's Yard (a drafted placename). It is not hidden in the TSV but does not appear as a placename option when searching for it on the website.

[2018-07-05 16:03] DurHHHI opened #139 "Icon annotation present but text 'not found'"
@peterwebster
Have been going through the journal website page by page to try to find hiccups - seeing a few. Apologies, you're about to be inundated with github tickets - hopefully most of these can be closed quickly.

Seeing many examples - a few screenshots taken below to illustrate - of icons present without annotated text in the boxes. If these should be display=no they are still visible, if

[2018-07-05 16:06] DurHHHI opened #140 "Icon with apostrophe issues ('s examples)"
Hey @peterwebster - still many examples where the ''s' wasn't corrected through the script fix and the icon is appearing before the 's. Is there a fix here (for now and future eps) or is it manual intervention when time allows?

Some examples here:

![apostrophe - still several examples of not fixed](https://user-images.githubusercontent.com/32575577/42334608-a1c634f6-8075-11e8-97f8-ff74091c96e4.J

[2018-07-05 16:08] DurHHHI opened #141 "Frontmatter Vol 15 Display Issue"
@peterwebster As you can see, something funny going on with vol 15 frontmatter:

![display vol 15 frontmatter](https://user-images.githubusercontent.com/32575577/42334758-12345830-8076-11e8-9139-94ef2dc80614.JPG)

[2018-07-05 16:11] DurHHHI opened #142 "Tags sometimes unbolding when in bold underline"
@peterwebster Noticed several instances where tags appear to be 'unbolded' within a bold underline series. A couple of examples below.

![tag unbolding - multiple examples of this](https://user-images.githubusercontent.com/32575577/42334840-55669f0a-8076-11e8-8625-c116541756f8.JPG)

--//--

![tag unbolding - multiple examples of this_2](https://user-images.githubusercontent.com/32575577/42334854-5

[2018-07-05 16:13] DurHHHI opened #143 "Annotation box fail"
@peterwebster - I tried clicking everywhere to leave this annotation box but the website was having none of it. Only refresh or a move to previous or forward page killed it.

![screenshot-2018-7-5 the henson journals](https://user-images.githubusercontent.com/32575577/42334939-a892c47e-8076-11e8-92a6-3dec475e97f3.png)

[2018-07-05 16:15] DurHHHI opened #144 "Search results for dean's yard"
Searching the 'journals & annotations' option for deans yard brought me this view - persons and place tags not identified and an odd 'Sir' (this turned out to be Craik). I imagine you guys are already on this for annotation IDs but just in case, a screenshot.

![search - dean s yard](https://user-images.githubusercontent.com/32575577/42335063-0ade1c0a-8077-11e8-91a9-8717311252ef.JPG)

[2018-07-05 16:22] DurHHHI opened #145 "Icon placement several lines above tagged ID"
@peterwebster I saw many instances of this issue - again you and @nomoregrapes are probably aware of this. Using Mozilla and Chrome.

Icons are appearing a several lines above the tagged ID.

Examples below:

Icon for Alfred
![icon for alfred - not better after refresh](https://user-images.githubusercontent.com/32575577/42335206-86d59d2e-8077-11e8-9b41-6f5877fb73c0.JPG)

Icon for Dean
![icon for d

[2018-07-05 16:26] DurHHHI commented on #129
Many examples of this issue - difficult to click to second box, if even permitted. How best to rectify?
![icon double - no does not display event unbolded sermon](https://user-images.githubusercontent.com/32575577/42335451-5652ce96-8078-11e8-996e-f7b97a5987cb.JPG)
--//--
![icon double - two persons one visible - not working well_3](https://user-images.githubusercontent.com/32575577/42335478-6fd19d

[2018-07-05 16:28] DurHHHI commented on #145
Apologies - seeing now that this likely relates to #127
Should note that I had the same issue when checking via chrome on my mac.

[2018-07-05 16:34] DurHHHI opened #146 "Font size presentation"
A few different instances noticed with font size and/or justification.

1) with bulleted lists (hidden bullets) - font size appears smaller/perhaps different justification also

![font size - tables or bulleted lists](https://user-images.githubusercontent.com/32575577/42335769-56643fa4-8079-11e8-89c4-2eff8b1fd7ce.JPG)

--//--

![font size - tables or bulleted lists_2](https://user-images.githubuse

[2018-07-05 16:37] DurHHHI commented on #100
This looks good to me @peterwebster - see my comment in #146 about the div quote, but this honestly could just be my eyes!

[2018-07-05 16:40] DurHHHI opened #147 "Manual fix of odd characters in annotations"
@peterwebster  The odd unwelcome character/symbol is still present when clicking through annotations and within the journal text as well.

Some examples to view:

![extra symbols - annotation 14 412](https://user-images.githubusercontent.com/32575577/42336061-5625c1f6-807a-11e8-9769-cf27da6378a9.JPG)

--//--

![extra symbols - annotation 15 44](https://user-images.githubusercontent.com/32575577/42

[2018-07-06 09:08] nomoregrapes opened #148 "References, export to Github"
Because the TSV format was changing, I hadn't yet created the "export to Github" feature like I have for the other annotation types.

Not a big task: copy & paste then adjust for Ref fields.

[2018-07-06 10:29] peterwebster commented on #129
@nomoregrapes implementXSLT to allow two nested persons, displaying with a single icon with both annotations in one box.

@KPalmerHeathman @DurHHHI in future XML, we should not mark up anything with more than one type (ref and event, say) but mark up as one and use a cross-ref to the other.
We'll need to review existing to see how many of these there are already, and figure out how to redo them.

[2018-07-06 11:12] nomoregrapes commented on #96
My bad. I had an extra space after the invisible tag.

@KPalmerHeathman can now close this issue?

[2018-07-06 11:20] nomoregrapes commented on #135
This is non-issue.

@KPalmerHeathman the tell-tell sign is that the other people are not displaying with any name at all. This happens after I work on the code and don't restart the system (I still don't really know why it does that). It shouldn't happen when we have a stable system and I've stopped breaking things.

Proof that Sirs display correctly...
![search_people](https://user-images.githubu

[2018-07-06 11:20] #135 closed, assigned to nomoregrapes

[2018-07-06 11:50] nomoregrapes commented on #130
648	Car&ouml;e	William Douglas

**Added space:** In the Person TSV there is a space in the narrative, `William Douglas Car&ouml; e (1857-1938; ODNB), arc...`. I can fix it on the repository copy of the TSV but @DurHHHI should also fix it.

**Display in the "tab"(title) of the page, and display on the search results:** These now render the accents & special characters.

**Searching without accents:

[2018-07-06 11:53] nomoregrapes commented on #132
An example is `Caröe, William Douglas` should be searchable by `Caroe`.

I'll research the best way to technically do this, which should mean I don't have to make my own list of characters for transliteration.

[2018-07-06 12:59] peterwebster commented on #130
Could @DurHHHI have a root around and report back...

[2018-07-06 13:01] peterwebster commented on #96
If @DurHHHI is in the office, we could check this and close it down?
http://10.245.28.108:3000/journals/04-11-10   (Inner Temple)

[2018-07-06 13:08] peterwebster commented on #147
Let's keep this one open until we have the repository in its final home. Then we can use them as training examples of fixing stuff in the interface itself, and at the same time it looks to me as if it's a matter of opening the TSV (in the text editor) and just deleting whatever there is in those places.
FWIW, this is one of the disadvantages of our workflow, in that stuff gets pasted from the web

[2018-07-06 13:12] peterwebster commented on #100
OK, closing this now...

[2018-07-06 13:12] #100 closed, assigned to KPalmerHeathman, DurHHHI

[2018-07-06 13:14] peterwebster commented on #127
@nomoregrapes see more examples at #145 , now closed.

[2018-07-06 13:14] #145 closed, assigned to peterwebster

[2018-07-06 13:45] nomoregrapes commented on #128
Problem confirmed. Can't fix myself, going to assume I've found the correct reason...

The website (probably) works fine, but Microsoft doesn't like that the address is an IP address on the network (i.e. my laptop could be running a dodgy scam website). This will not be an issue when we have the website setup in a way that the whole world(& Peter) can view.

There is a meanwhile-fix, but I don't h

[2018-07-06 13:46] peterwebster commented on #144
If you were try this again @DurHHHI , I suspect it has been solved.

[2018-07-06 13:47] peterwebster commented on #128
Let's close it @KPalmerHeathman @nomoregrapes

[2018-07-06 13:47] #128 closed, assigned to nomoregrapes

[2018-07-06 13:49] peterwebster commented on #141
Some sort of issue with the padding in the top of the display window @nomoregrapes

[2018-07-06 13:52] peterwebster opened #149 "Date sorting of journal results in annotation views"
![image](https://user-images.githubusercontent.com/5520710/42382414-2086bf3e-812c-11e8-883a-5f625f3628e1.png)

[2018-07-06 13:53] peterwebster commented on #149
@nomoregrapes are these sorting at the minute according to Solr relevance ranking?

[2018-07-06 13:55] peterwebster commented on #69
Assigning to @nomoregrapes re the sorting of results for certain issues/controversies. How are these currently sorted?

[2018-07-06 13:58] peterwebster commented on #139
Could you take a look in the TSV and see what is supposed to happen with these? (I'm not sure which ones are the issue, from the screenshot) @DurHHHI

[2018-07-06 14:00] peterwebster commented on #143
Could you check it again next week and see if it recurs? While @nomoregrapes is under the bonnet strange things happen, but then he'll be away.

[2018-07-06 14:02] peterwebster opened #150 "Arrange mapping of bought domain name to site"
For once we're deployed in a final or at least ongoing place @nomoregrapes

@BoguslawObara was on the case with registering the domain.

[2018-07-06 14:16] peterwebster opened #151 "Font size in certain passages of <hi rend="bold""
As in this example:
![image](https://user-images.githubusercontent.com/5520710/42383553-732376f8-812f-11e8-91af-511926b45faa.png)

Could @DurHHHI take a look at the XML and report back on any differences from the usual? This is just bold text, in theory.

[2018-07-06 14:20] peterwebster opened #152 "Font and colour in <div"
@DurHHHI I think it's a different font, but @nomoregrapes can confirm. Do you dislike it, or were you just raising it as something to check?

![image](https://user-images.githubusercontent.com/5520710/42383743-12af4d32-8130-11e8-86b9-e47adfd83258.png)

[2018-07-06 14:22] peterwebster commented on #146
@nomoregrapes could you confirm whether the font is different, differently coloured, or perhaps just with narrower line spacing in lists?

[2018-07-06 14:22] peterwebster commented on #146
@DurHHHI it looks to me as if the first character in an unnumbered list is justified to the same position as a number would be. Is this a major issue?

[2018-07-06 14:24] peterwebster commented on #140
@DurHHHI could you let me know which filenames these are in?

[2018-07-06 14:26] peterwebster commented on #138
Could you screenshot this for me @DurHHHI ?

[2018-07-06 14:26] DurHHHI commented on #146
@peterwebster Not a major issue for me, just anticipating comments. It does look different when compared against the rest of the entry/ies.

[2018-07-06 14:27] peterwebster commented on #142
What's the filename of the first one @DurHHHI ? Are they by any chance supposed to be double underlined?

[2018-07-06 14:28] DurHHHI commented on #140
@peterwebster - these are just a few examples, there are unfortunately more. Two of the filenames would be 01-01-01 and 01-05-14, and I can track down the other for you.

[2018-07-06 14:30] peterwebster commented on #146
@DurHHHI I meant the justification of the lists, rather than the font. Do you mean to say there are other lists that behave differently, or just that numbered and unnumbered are different to each other but consistently so.

[2018-07-06 14:30] peterwebster commented on #140
@DurHHHI no, don't worry, these will do for now.

[2018-07-06 14:30] DurHHHI commented on #138
@peterwebster Can ref to the pic in #144 as this was the search. I didn't screenshot because there was no visible placename option for the Dean's Yard tag.

[2018-07-06 14:32] DurHHHI commented on #146
Hey @peterwebster - I believe it is the latter.

[2018-07-06 14:36] peterwebster commented on #138
@nomoregrapes could this be related to #132 , in this case, the difference between a curly and straight quote?

[2018-07-06 14:37] peterwebster commented on #146
Let's wait and see whether this becomes an issue @DurHHHI

[2018-07-06 15:05] nomoregrapes commented on #125
Done.

[2018-07-06 15:05] #125 closed, assigned to nomoregrapes

[2018-07-06 15:08] nomoregrapes commented on #111
Done.

[2018-07-06 15:08] #111 closed, assigned to nomoregrapes

[2018-07-06 15:08] DurHHHI commented on #152
@peterwebster - raising as something to check, anticipating comments.

[2018-07-09 09:55] KPalmerHeathman commented on #92
I like the white H.H.H. best.

[2018-07-09 10:01] KPalmerHeathman opened #153 "'View other Journal mentions' error"
Just doing a bit of clicking around to test things and found that for quite a few Person annotations, clicking the 'View other journal mentions' link in the pop up produces an error. A couple of examples here:

http://10.245.28.108:3000/journals/04-11-06-11-08 Northcote
http://10.245.28.108:3000/journals/04-11-08 Montague-Smith

[2018-07-09 10:03] KPalmerHeathman commented on #149
Not sure if this is supposed to have been sorted, but these are still not displaying in date order.

[2018-07-11 07:56] peterwebster commented on #152
@DurHHHI closing this, but it can be reopened if it is disliked.

[2018-07-11 07:56] #152 closed, assigned to nomoregrapes

[2018-07-11 07:57] peterwebster commented on #111
Thanks @nomoregrapes

[2018-07-11 08:08] peterwebster opened #154 "Disable robots.txt in WP settings"
Settings > Reading

[2018-07-11 12:17] DurHHHI commented on #151
@peterwebster - I'm not seeing anything unusual in the TSV - like you said, marked up as bold text.

[2018-07-11 12:37] DurHHHI commented on #139
Weird discoveries here, @peterwebster.

I've looked in the TSV for the first image example above - filename: 01-06-04-02-03-12. It has not been modified or opened since 24 March 2018.

Looking at this file, you can see under 'London Diocesan Conference' that, if there was an org markup tag, it has been removed.

<img width="833" alt="screen shot 2018-07-11 at 1 30 53 pm" src="https://user-images.g

[2018-07-11 12:40] DurHHHI commented on #139
Now understand what is going on with the first example 'London Diocesan Conference'. Can/will fix this when have facility to edit within the repository directly.

The second issue with the above image is that in the third paragraph, the note after 'deep impression on the Conference' is supposed to appear. It is not set as 'do not display' in the TSV. Currently, it shows an annotation icon, but no

[2018-07-11 12:46] DurHHHI commented on #130
@peterwebster - just a heads up, that Katie and my version of persons.tsv has not modified to correct accents since the ingest and I'm not viewing an added space with ' Car&ouml;e ' when opening in excel or textedit. How can we catch these possible extra characters/spaces?

<img width="382" alt="screen shot 2018-07-11 at 1 43 06 pm" src="https://user-images.githubusercontent.com/32575577/42572089-

[2018-07-11 12:49] DurHHHI commented on #130
@peterwebster Rooted around the website though and see title accents reflecting correctly now - fab!

[2018-07-11 12:52] DurHHHI commented on #142
@peterwebster - no, this is supposed to be standard bold underline - have just checked this in the XML. The filename for the first image is 01-06-04-02-03-12.

[2018-07-11 14:24] DurHHHI commented on #143
@peterwebster yes, this can be closed - fine today!

[2018-07-11 14:30] peterwebster commented on #143
@DurHHHI super....

[2018-07-11 14:30] #143 closed, assigned to DurHHHI

[2018-07-11 14:39] peterwebster commented on #130
Closing this ticket now, but the answer to @DurHHHI is that, if there are any of these inserted in the TSV since you last fixed them, the rogue character is designed to be invisible,,, so it's a question of putting the cursor next to them and seeing whether there is a space there. Also, I don't know whether you're transferring new annotations at the minute, but if so it would be better to hang on

[2018-07-11 14:43] peterwebster commented on #139
@DurHHHI before I pass this on to Gregory, could you just confirm that it is still an issue today (it could be one of the temporary issues created when Gregory is under the bonnet.)

[2018-07-11 14:46] DurHHHI commented on #139
@peterwebster checked on the website - fine today - text box appearing.

[2018-07-11 14:48] peterwebster commented on #151
Can anyone spot the mistake @DurHHHI @KPalmerHeathman ?  (This is a test whether you've become true XML monkeys yet).

`<p>
		 <p>
            <hi rend="bold">[417]</hi>
         </p>
            <hi rend="bold">Friday, November 23</hi><hi rend="bold superscript underline">rd</hi><hi rend="bold">, 1900</hi>
         </p>`

[2018-07-11 14:50] peterwebster commented on #139
:-)

[2018-07-11 14:56] peterwebster commented on #142
@nomoregrapes some sort of issue with multiple style rules in the stylesheet ?

[2018-07-11 15:00] peterwebster commented on #151
And, once you've spotted the mistake, a supplementary Q: how come this parses properly?

[2018-07-11 15:03] DurHHHI commented on #151
@peterwebster '<'p'> <'p'>' ?

[2018-07-11 15:45] DurHHHI commented on #139
@peterwebster I'm so sorry Peter, this might be temporary issues again but 'London Diocesan Conference' (orgID 148) in the example should also display text and after a refresh on the website and a double check in the TSV and XML, it still reflects an empty box on the website.

[2018-07-16 09:09] nomoregrapes commented on #69
Yep, I'll be able to work on this.

* [Winnington Ingram needing mentions ordered](http://10.245.28.108:3000/people/person166)
* [results with unordered topics](http://10.245.28.108:3000/?utf8=%E2%9C%93&search_field=all_fields&q=virgin+birth) (might be trickier to fix)

[2018-07-16 09:10] nomoregrapes commented on #149
There are 2 things that need fixing in #69 which covers this. I'll leave the examples there for me, and close this issue.

[2018-07-16 09:10] #149 closed, assigned to nomoregrapes

[2018-07-16 09:12] nomoregrapes commented on #69
Yep, I can work on this.

* [Ingram](http://10.245.28.108:3000/people/person166) needing mentions ordered
* [virgin birth results](http://10.245.28.108:3000/?utf8=%E2%9C%93&search_field=all_fields&q=virgin+birth) with topics unordered

[2018-07-16 09:24] nomoregrapes commented on #139
* [journal entry](http://10.245.28.108:3000/journals/01-06-04-02-03-12) refers to "London Diocesan Conference" but popup says "_Sorry, this annotation could not be found._" because orgID 148 doesn't exist.

Only 22 organisations were ingested (don't know why).
Reingesting...
167 now ingested.
[London Diocesan Conference](http://10.245.28.108:3000/organisations/org148) now exists.

No idea why that

[2018-07-16 09:26] DurHHHI commented on #139
Thanks @nomoregrapes !

[2018-07-16 09:31] nomoregrapes commented on #142
[link](http://10.245.28.108:3000/journals/01-06-04-02-03-12) and [link](http://10.245.28.108:3000/journals/02-11-08).
References(no other annotation) had some specific style rules that over-ruled the bold. Might have been left from early days of the website styling.

Fixed now.

[2018-07-16 09:31] #142 closed, assigned to nomoregrapes

[2018-07-17 07:08] peterwebster commented on #142
@DurHHHI there you go..

[2018-07-17 07:11] peterwebster commented on #139
If you're happy this is fixed @DurHHHI could you close this ticket?

[2018-07-17 07:15] peterwebster commented on #151
Full marks @DurHHHI !  This parses OK because it is, strictly speaking, well-formed. However, having a para within another para obviously interferes with the action of the stylesheet, so (once the GUI is ready), you should pick this one out and fix it. That is, move one of the opening <p tags to after the </hi </p
@KPalmerHeathman

[2018-07-17 07:22] peterwebster commented on #144
Hhi @DurHHHI : could you check and see whether this is still an issue?

[2018-07-17 07:30] peterwebster commented on #92
@nomoregrapes let's implement the white HHH and live with it for a while (but not urgently)

[2018-07-17 08:02] peterwebster commented on #96
Could @DurHHHI or @KPalmerHeathman take a look at this and see whether it is fixed,, and if so close the ticket?

[2018-07-17 08:07] peterwebster commented on #129
@KPalmerHeathman @DurHHHI
Could you think about this question: "are there pairs of orgs, or places, or any other type that might be referrred collectively as these people are? If so, we'll need to do the same as persons for them."

[2018-07-17 08:40] #153 closed, assigned to nomoregrapes

[2018-07-17 08:41] KPalmerHeathman commented on #96
Fixed, closing ticket.

[2018-07-17 08:41] #96 closed, assigned to KPalmerHeathman, DurHHHI

[2018-07-17 08:45] #138 closed, assigned to nomoregrapes

[2018-07-17 08:51] peterwebster commented on #121
Login to go in a footer or somewhere less prominent.

Guidance and Help can go because the Help option in the grey bar does the same job.

[2018-07-17 15:05] nomoregrapes commented on #66
I've done the final part "_Close when when they click elsewhere in the page_".

If you're happy with all the ways that popups can close, then we can close this ticket.

[2018-07-17 15:18] nomoregrapes commented on #98
Span is no longer visible in search results.

I think this ticket is just left for testing. Awaiting either later volumes (in which ref 130 gets mentioned) or awaiting ability for you guys to have edit control so you can fake it then put it back.

[2018-07-18 08:51] nomoregrapes commented on #114
Solr is now setup on Helios and completely accessible from the library Hydra servers.

[2018-07-18 08:51] #114 closed, assigned to nomoregrapes

[2018-07-18 09:01] nomoregrapes commented on #85
Yes, that should work as I think you want it to.
An example in [00-11-15-11-21](http://10.245.28.108:3000/journals/00-11-15-11-21) shows Harry Ramsey double-underlined, but not the icon.
![journal-underline-person](https://user-images.githubusercontent.com/1181194/42871103-6c7c3bb4-8a71-11e8-9af2-fb42c856f1b9.png)

` <persName xml:id="95"><hi rend="doubleunderline">Harry Ramsey</hi></persName> sta

[2018-07-18 10:28] nomoregrapes commented on #148
This is now done.

[2018-07-18 10:29] #148 closed, assigned to nomoregrapes

[2018-07-19 05:38] peterwebster commented on #114
@nomoregrapes were you able to deal with the issue with the 503 page as well?

[2018-07-19 05:48] peterwebster commented on #85
OK, many thanks @nomoregrapes , you're done with this one.

@KPalmerHeathman @DurHHHI : for volumes 14 and 15, where there are instances of this, it will be a case of amending them in the editing interface, if you have time and inclination. I should be able to generate a list of which files it occurs in.

In XML for 16 that is already marked up, you'd need to review the files and reverse the order

[2018-07-19 05:51] peterwebster commented on #66
Can @DurHHHI and @KPalmerHeathman test this out and report back?

[2018-07-19 09:13] peterwebster commented on #140
As per an email, this is a manual fix in 14 and 15 (apologies again). So, I leave this open as it cannot be acted on until we have the keys to the GUI.

[2018-07-19 09:14] peterwebster commented on #147
See also #140 which may be worth doing at the same time @KPalmerHeathman @DurHHHI

[2018-07-19 09:45] peterwebster commented on #85
As per email, this is a manual fix in 14 and 15. Once you're happy that you know what to do from now on, close this ticket @DurHHHI @KPalmerHeathman

[2018-07-19 09:48] peterwebster opened #155 "Extract instances of <..Name within <..hi in v16"
As per #85 , K&H need a list of all instances in 16 where these occur

`grep -E -o ".{0,25}ame></hi>.{0,20}" *.xml `

[2018-07-19 10:09] peterwebster commented on #101
Hi @DurHHHI : apart from the specific matter in #98 , are you satisfied that the GUI picks up all the right fields for refs, and displays them in the right order, correctly punctuated etc.?

[2018-07-19 10:13] peterwebster commented on #74
Could @DurHHHI test this out? See if the search finds publications by their editor, subtitle, details of volumes in which an item is contained, periodical titles.

[2018-07-19 10:16] peterwebster opened #156 "Configure this Github repo as the master repo for project data"
Just a note to self/us that this will need doing.

[2018-07-19 10:18] peterwebster commented on #156
Unless we think that the Library Github is a better idea (discuss) @nomoregrapes

[2018-07-19 10:54] peterwebster commented on #117
Done.

[2018-07-19 10:54] #117 closed, assigned to peterwebster

[2018-07-20 09:17] nomoregrapes commented on #132
I've been looking into the solr schema settings for this, but haven't been able to get it working (yet).

It might be helpful if I find another example. Perhaps one where special characters are used in journal text (not annotation data).

[2018-07-20 10:33] nomoregrapes commented on #127
This seems to be fixed, probably as a result of other style changes.

@KPalmerHeathman could you confirm on Firefox that the icons are on the correct line. E.g. [link to journal](http://10.245.28.108:3000/journals/00-12-02-12-14) with Miss Talbot and you original screenshot.

[2018-07-20 11:14] DurHHHI commented on #144
@peterwebster Searchable now (though still with added nonsense characters) - 'place5'

<img width="1291" alt="screen shot 2018-07-20 at 12 12 46 pm" src="https://user-images.githubusercontent.com/32575577/42999612-52b76860-8c16-11e8-8b16-c0b09ef25010.png">
<img width="1258" alt="screen shot 2018-07-20 at 12 12 56 pm" src="https://user-images.githubusercontent.com/32575577/42999615-55b1bc5a-8c16-11

[2018-07-20 11:19] nomoregrapes commented on #141
This was because the spacing in the style rules expect a journal entry to start with a paragraph (`<p>`).

Now fixed with better style rules.

[2018-07-20 11:19] DurHHHI commented on #101
@peterwebster -I'm working through this

ref9 - periodical - is displaying as:
<img width="1188" alt="screen shot 2018-07-20 at 12 17 58 pm" src="https://user-images.githubusercontent.com/32575577/42999824-1c24b81a-8c17-11e8-9aec-6e46a0893787.png">

It is missing the year -
Should be displayed as:
H. H. Henson, 'Our unhappy divisions: a plea for the recognition of non-episcopal churches', _Contemp

[2018-07-20 11:23] DurHHHI commented on #101
@peterwebster

Issue with ref200 - letter - above, as well. Currently displaying as:

<img width="1053" alt="screen shot 2018-07-20 at 12 23 38 pm" src="https://user-images.githubusercontent.com/32575577/43000045-da1aaeba-8c17-11e8-9b12-0b5a4cb9f87a.png">

Missing date/year: Should be:

H. H. Henson, et al., letter, 'The bishop of Birmingham and Canon Henson', _Times_, 2 Apr. 1909, 10.

[2018-07-20 11:26] DurHHHI commented on #101
@peterwebster

Another issue with ref20 - book chapter, from above examples. Currently displaying as:

<img width="1209" alt="screen shot 2018-07-20 at 12 25 09 pm" src="https://user-images.githubusercontent.com/32575577/43000115-199b305a-8c18-11e8-9b05-110b7c8ca0b2.png">

Missing year and title and editor in wrong order. Should be reflected as:

H. H. Henson, 'Jeremy Taylor', in _Typical English

[2018-07-20 11:34] DurHHHI commented on #101
@peterwebster

ref62 - book with more values - is also missing year. Displaying as:
<img width="1171" alt="screen shot 2018-07-20 at 12 31 39 pm" src="https://user-images.githubusercontent.com/32575577/43000378-18d6109e-8c19-11e8-8c1f-c3eee4191769.png">

Should be:
Adolf Harnack, _The expansion of christianity in the first three centuries_, ed. and trans. James Moffat (2 vols, London, 1904-05).

[2018-07-20 11:37] DurHHHI commented on #101
@peterwebster

Finally, ref3 - book:monograph - also displaying incorrectly:

2 vols listed twice (appearance twice might be an input issue with '2 vols' appearing in 'title' field - if so, will fix in TSV) and publication missing year.

<img width="1096" alt="screen shot 2018-07-20 at 12 34 10 pm" src="https://user-images.githubusercontent.com/32575577/43000438-54209638-8c19-11e8-97a1-c0c49f5c965

[2018-07-20 11:41] DurHHHI commented on #74
@peterwebster
Yes, this seems to be working!

[2018-07-20 11:43] DurHHHI commented on #101
@peterwebster No surprise I'm sure given above examples, but in search, confirmation that all references missing date/year necessary field.

[2018-07-20 11:51] DurHHHI commented on #66
@peterwebster  - pop ups closing when another one is clicked on. Great!

[2018-07-20 11:53] DurHHHI commented on #139
@peterwebster Closed this as orgs ingested and clickable but still noticing icons missing data.

For example:

<img width="1253" alt="screen shot 2018-07-20 at 12 51 00 pm" src="https://user-images.githubusercontent.com/32575577/43001087-dfcdb0a6-8c1b-11e8-91dc-3953b5a2c965.png">

Henry Graham definitely has an annotation in the TSV but his deets are not appearing.

[2018-07-20 11:56] DurHHHI commented on #130
@peterwebster Reopening (temporarily) as do not know where to place this comment. Still finding some instances where accented characters not appearing correctly. See tagged persons alongside Ella's annotation as example.

<img width="1302" alt="screen shot 2018-07-20 at 12 50 51 pm" src="https://user-images.githubusercontent.com/32575577/43001211-554bcf16-8c1c-11e8-9905-35d867adf304.png">

[2018-07-20 14:24] #66 closed, assigned to peterwebster

[2018-07-20 14:25] peterwebster commented on #130
Passing this on to @nomoregrapes

[2018-07-20 14:28] peterwebster commented on #85
@DurHHHI what does the H&K return label mean?

[2018-07-20 14:29] #74 closed, assigned to peterwebster

[2018-07-20 14:30] peterwebster commented on #141
@DurHHHI could you test this out, and close the ticket?

[2018-07-20 14:30] DurHHHI commented on #85
@peterwebster I can delete this label if it messes with your organisation Peter - apologies if so. Just an easy way for me to see what items need to be checked and/or require a manual fix once editing with the website is possible.

[2018-07-20 14:31] DurHHHI commented on #141
@KPalmerHeathman just FYI if you get to this first

[2018-07-20 14:32] peterwebster commented on #144
Hi @nomoregrapes : two things going on here:

(i) probably a curly quote not displaying right in the annotation
(ii) names of orgs, places, persons not showing in the search results.

[2018-07-20 14:32] nomoregrapes commented on #69
I've now sorted both types of ordering.

For front/back matter, they have to get listed after dated entries. As these lists are short and not full search results (they're just journal mentions), I think that should look okay. [example](http://10.245.28.108:3000/references/ref8)

[2018-07-20 14:33] peterwebster commented on #85
@DurHHHI not a problem, just interested,,

[2018-07-20 14:42] peterwebster commented on #132
05-02-26-03-11.xml:         <p>There was a Lev&#x00E9;e afterwards  	</p>

04-11-08.xml:         <p><persName xml:id="648">Car&#x00F6;e</persName> the designer of that odious <persName xml:id="187">Farrar</persName> monument came to see me, &amp; together we went to the church, &amp; I authorised the erection.</p>

01-01-27-02-07.xml:               <cell rend="No_Spacing">&#x00A3;35</cell>

@nomor

[2018-07-23 09:24] nomoregrapes commented on #92
Done.

[2018-07-23 10:16] nomoregrapes commented on #144
Fixed these.

[2018-07-23 10:16] #144 closed, assigned to nomoregrapes

[2018-07-23 12:40] peterwebster commented on #92
Many thanks @nomoregrapes . I'm now going to say that this is closed, until such a time as anyone raises an issue.

[2018-07-23 14:08] peterwebster commented on #129
Could @KPalmerHeathman and @DurHHHI feed back on the question above.

If not many, we can contemplate:
unnesting the tags, so giving two icons, or
marking up one, and using the cross-refs

[2018-07-23 14:13] peterwebster commented on #156
Give Olli access to this also

[2018-07-23 14:15] DurHHHI commented on #129
@peterwebster I can't think of any instances off the top of my head where there are pairs of orgs, places, etc. in nested tags. People, yes.

[2018-07-23 14:16] KPalmerHeathman commented on #129
I can't think of any either.

[2018-07-23 14:23] peterwebster commented on #129
@DurHHHI @KPalmerHeathman that's great thanks. So, after talking to @nomoregrapes , dealing with the nested pairs of persons may well be possible, but is not instantly straightforward. I've asked Gregory to spend a little longer on this, but not too long, and to report back. In the meantime, if it proves to be very consumptive of time at this stage, what do you think about either:

(1) unnesting t

[2018-07-23 14:26] peterwebster commented on #129
@nomoregrapes rereading the ticket above, if we took option 1, we'd need to think about the spacing of the two icons, as they each need to be easily clickable.

[2018-07-23 14:34] peterwebster commented on #101
These look to be several different presentation of the same issue @nomoregrapes

[2018-07-23 15:08] DurHHHI commented on #101
@peterwebster - yes, save for the book chapter example - missing year and in different order.

[2018-07-24 09:40] nomoregrapes commented on #129
I've managed to make it work like this...
[example of nested people](http://10.245.28.108:3000/journals/02-07-09). Note that the 2nd Wilberforce(pers1757) doesn't have an indexed annotation so won't pop-up. The " Abps." shows two annotations in one box.
![journal_double-annotation](https://user-images.githubusercontent.com/1181194/43130165-fa645c98-8f2d-11e8-92d5-05587d695483.png)

However an anno

[2018-07-30 14:59] peterwebster opened #157 "Tweak to WP stylesheet re indetation of unnumbered lists"
In light of how this looks, we could do with a tweak to the indentation of lists:  <ul

http://community.dur.ac.uk/henson.project/index.php/editorial-policies/

[2018-08-06 10:23] nomoregrapes commented on #157
I've changed it so the bullets are with the paragraph (no longer in the margin) and thus the text is indented. Is that all that you wanted for the lists?

[2018-08-06 14:11] nomoregrapes commented on #104
I've implemented this somewhat, although I could make more use of it.

Self note: it could be worth adding [resque-status](https://github.com/quirkey/resque-status) for the larger tasks, so you can see it's "10% processed annotations in the new XML files", but currently I feel it's too time consuming to setup. I may just note that link in documentation for "dev things that could be done".

[2018-08-06 14:55] nomoregrapes commented on #75
Complete.

[2018-08-06 14:55] #75 closed, assigned to nomoregrapes

[2018-08-06 16:12] nomoregrapes commented on #116
I've confirmed this was due to having old cross refs (back when I imported them bi-directional), which I have now deleted from the database.

I'm in the process of reimporting the cross reference data for different items, I discovered a few code bugs along the way.

Not all people are getting ingested, and I need to figure out why this is.

[2018-08-07 13:34] nomoregrapes commented on #116
This is now fixed.
[Isabella](http://10.245.28.108:3000/people/person112) only has 5 cross-refs. All cross-refs around the site should be correct and not have extras.

[2018-08-07 13:38] nomoregrapes commented on #133
This is another example of the problems at the end of the discussion for #116
My checking is that Rosa and cross-refs to/from her now match the TSV.

[2018-08-07 13:38] #133 closed, assigned to nomoregrapes

[2018-08-07 15:51] nomoregrapes commented on #121
This is how the homepage looks now...
![header](https://user-images.githubusercontent.com/1181194/43782555-8adfb3b0-9a57-11e8-908b-2039ea9cc89b.png)

I moved the login link to be a discreet key icon in the footer, but do you want to consider further the footer? currently it's the key to annotations, and now a login link.
![footer](https://user-images.githubusercontent.com/1181194/43782636-afdd6784

[2018-08-08 06:52] peterwebster commented on #121
Moving the issue of whether or not to look at the layout of the footer to a new ticket for clarity.

Could @nomoregrapes confirm that the Help link in the grey bar (in the repo) goes to http://community.dur.ac.uk/henson.project/index.php/help/ ?
If it does, we can close this ticket.

[2018-08-08 06:53] peterwebster opened #158 "Consider the layout of the footer"
@DurHHHI @KPalmerHeathman in the footer of the pages in the repository, we have the key of abbreviations to the left, and the login icon to the right.

How much of a priority is it to recast this?

[2018-08-08 06:55] peterwebster commented on #116
Could @DurHHHI @KPalmerHeathman check this one out, and close the ticket if you're happy?

[2018-08-08 06:58] peterwebster commented on #157
What do @KPalmerHeathman @DurHHHI now think of the indenting of bullets?

[2018-08-08 07:10] peterwebster commented on #104
Agreed @nomoregrapes : do please just note this in the documentation as a someday-maybe task.

[2018-08-08 07:19] peterwebster commented on #47
@nomoregrapes this one is still on the low priority list, but I flag it up as it is now, in fact, August.

[2018-08-08 07:23] peterwebster commented on #106
@nomoregrapes as you've now got as far as is sensible with delayed/scheduled tasks, ( #104 ) , this one now comes back into play.

[2018-08-08 07:25] peterwebster commented on #107
As time is pushing on, I've decided that this can be shelved. Assigned to me rather than @nomoregrapes in order to update the user documentation.

[2018-08-08 07:27] DurHHHI commented on #157
Personally, I like this solution - thanks @nomoregrapes.

[2018-08-08 07:33] DurHHHI commented on #129
Ok, thanks for this heads up @peterwebster / Gregory. - should be able to find these occurrences in XML.
@peterwebster, I'm assuming any instances where this occurs in 14/15 will have to be fixed via direct editing of the repository text once this is enabled?

[2018-08-08 07:39] peterwebster commented on #129
Could @KPalmerHeathman @DurHHHI take a look at the archbishops example and feedback? If we're happy with this, then on our next call we need to establish that we're clear on how to handle these in XML in future. Then we can close this ticket.

[2018-08-08 07:53] peterwebster commented on #69
Could @KPalmerHeathman @DurHHHI have a look at the sorting of search results, trying out with a variety of search criteria? Hopefully we can knock this one on the head soon.

[2018-08-08 07:54] #76 closed, assigned to peterwebster

[2018-08-08 08:29] peterwebster commented on #25
So far, almost no examples of this have presented themselves, so closing this ticket.

[2018-08-08 08:29] #25 closed, assigned to peterwebster

[2018-08-08 08:31] peterwebster commented on #113
Adding this to H&K return label with a view to looking at it in Durham next week.

[2018-08-08 09:06] peterwebster commented on #150
Hih @BoguslawObara : I wonder whether you've had a chance to register the domain?

[2018-08-08 09:08] peterwebster commented on #139
@DurHHHI having spoken to @nomoregrapes we think this is now fixed; could you check around and close the ticket if you're happy?

[2018-08-08 09:11] #121 closed, assigned to nomoregrapes

[2018-08-08 09:15] peterwebster commented on #108
To be set up on Gregory's gmail and shared with Peter

[2018-08-08 09:17] KPalmerHeathman commented on #69
In search results I have journal entries displayed in chronological order, but they are still displaying as date code, rather than 'Journal entry for....'
![image](https://user-images.githubusercontent.com/32575539/43828360-30feca28-9af4-11e8-839a-d3782c39fc37.png)

[2018-08-08 09:18] KPalmerHeathman commented on #69
same with 'person807' etc in search results for Persons. This is in Firefox.
![image](https://user-images.githubusercontent.com/32575539/43828411-57aae350-9af4-11e8-80ce-6bd75d9488a6.png)

[2018-08-08 09:19] KPalmerHeathman commented on #69
Journal mentions displaying correctly in chronological order on a person page though, as in Winnington-Ingram above.

[2018-08-08 09:37] peterwebster commented on #69
*ping* @nomoregrapes

[2018-08-08 09:57] nomoregrapes commented on #130
Fixed.

[2018-08-08 10:22] nomoregrapes commented on #101
This was actually an ingest issue, none of the dates were in the database. Not sure why we didn't spot that sooner, but all fixed now.

[ref9](http://10.245.28.108:3000/references/ref9), [ref200](http://10.245.28.108:3000/references/ref200), [ref20](http://10.245.28.108:3000/references/ref20), [ref62](http://10.245.28.108:3000/references/ref62), [ref3](http://10.245.28.108:3000/references/ref3)

[2018-08-08 10:38] peterwebster commented on #129
Having discussed with Katie and Hilary, this is now a matter for documentation only.

[2018-08-08 10:38] #129 closed, assigned to KPalmerHeathman, DurHHHI

[2018-08-08 10:50] peterwebster commented on #101
@DurHHHI if you're happy with this, do close this one down.

[2018-08-08 11:52] KPalmerHeathman commented on #116
The cross refernces seem to be behaving as they should, so I'm closing this now.

[2018-08-08 11:52] #116 closed, assigned to KPalmerHeathman

[2018-08-08 11:55] KPalmerHeathman commented on #127
Fine in Talbots example now.

[2018-08-08 11:56] KPalmerHeathman commented on #141
Yes this is fine now.

[2018-08-08 11:56] #141 closed, assigned to KPalmerHeathman, DurHHHI

[2018-08-08 12:00] KPalmerHeathman commented on #157
Thanks @nomoregrapes, it does look more elegant now.

[2018-08-08 12:00] #157 closed, assigned to KPalmerHeathman, DurHHHI

[2018-08-08 12:15] nomoregrapes commented on #107
Yep, I think this ticket crept in as something that wasn't massively requested/required.

When editing journals there is a "Refresh preview" button. Terribly invalid XML will make the preview look bad, you can also check annotations by hovering/clicking them in the preview before you save.

[2018-08-08 13:43] nomoregrapes commented on #108
I've set this up on [Google Analytics](https://analytics.google.com/analytics), there are two "properties" which you can flick between by clicking "All Accounts/All Web Site Data" in the top-right.
* WP pages - the wordpress part
* Repository - the Samvera/rails app.

I have tested both, however the later is now configured to only track visits to our "production" site (i.e. not my computer and not

[2018-08-08 15:37] peterwebster commented on #108
Many thanks @nomoregrapes : assigning this to me so I can test once we've deployed the repo to production.

[2018-08-09 08:57] KPalmerHeathman commented on #139
Just spotted some odd characters in the organisation annotation for 'The Seven': Henson's clerical club in the St Alban's diocese, forerunner of the Brotherhood before Henson's translation to Westminster.ÃŠAs well as Henson, its members includedÃŠThomas Marsden, Richard Swallow, John Russell, John Pelham, William Dawson, and Henry Lake.

[2018-08-09 09:03] KPalmerHeathman commented on #139
I can't see anything.

[2018-08-09 09:03] #139 closed, assigned to KPalmerHeathman, DurHHHI

[2018-08-09 09:04] KPalmerHeathman commented on #130
Just spotted some odd characters in the organisation annotation for 'The Seven': Henson's clerical club in the St Alban's diocese, forerunner of the Brotherhood before Henson's translation to Westminster.ÃŠAs well as Henson, its members includedÃŠThomas Marsden, Richard Swallow, John Russell, John Pelham, William Dawson, and Henry Lake.

[2018-08-09 14:38] nomoregrapes commented on #132
Special characters are now searchable, both literally and similarly.
I.e. a search for "Caröe" will return the same results as "Caroe", which is 2 people and 3 journal entries.

[2018-08-09 14:52] peterwebster commented on #132
Could @KPalmerHeathman @DurHHHI take a look at the search, and try some examples of search terms without special characters: levee, regime, Caroe. If they look OK, do close this one down.

[2018-08-09 14:54] peterwebster commented on #130
@nomoregrapes is this just an incidence of nonsense characters that have ended up in the TSV - and so just need deleted manually in the GUI? Or is there something else going on?

[2018-08-09 14:59] nomoregrapes commented on #130
[org4](http://10.245.28.108:3000/organisations/org4)

Yep, it seems to be in the TSV as `its members includedÊThomas Marsden` so just needs to be deleted manually. I'll do that on the current website now.

[2018-08-09 15:03] peterwebster commented on #130
Thanks @nomoregrapes : once you've done that, assign to @DurHHHI @KPalmerHeathman as it will need to be fixed in the master TSV file to avoid it being reingested later.

[2018-08-09 15:18] KPalmerHeathman commented on #132
Seems to working as it should.

[2018-08-09 15:18] #132 closed, assigned to KPalmerHeathman, DurHHHI

[2018-08-09 15:19] KPalmerHeathman commented on #130
Gah how did this stuff get in the TSV? Just found quite a few more in the annotations online when looking around for other checks.

[2018-08-09 16:10] nomoregrapes commented on #130
I've not been able to work it out, and annoyingly me and Peter are unable to perform a search across files to find them. (I just had another go at a Regex pattern)

It could be that the characters are some formatting message from Word/Windows that appear invisible, but when the text is decoded as UTF-8 they are considered to be these visible characters. If all our text editors/viewers are set to U

[2018-08-09 16:11] nomoregrapes commented on #130
It would be easier if I could remove everything that isn't `a-Z`, but they you wouldn't get all of Henson's greek letter usage, characters with accents, or his use of quotes etc.

[2018-08-09 16:20] DurHHHI commented on #130
If that is the case, do you think we could raise this at next week's meeting? Maybe omitting the accents and greek characters is the better way to go? This would also, I imagine, apply to the hundreds of accented 'nee's that have been used with married women.

[2018-08-10 09:31] nomoregrapes commented on #109
Starting work on this now. There are 47 places I wrote "TODO" but a lot are now irrelevant or similar to each other.

[2018-08-10 10:41] peterwebster commented on #130
On my list for next week is to finish ticket #113 which should help. These are usually the things that show up as little question marks in Excel, and have come across either from Word or from some online source and don't show in GDrive.
To solve it, we'd need to be editing in something other than GDrive, which upheaval is probably too much to contemplate, at least any time soon. I don't think losi

[2018-08-10 10:44] peterwebster commented on #130
Adding this ticket now to the K&H return label, as another thing to fix once we have access to the editing. @DurHHHI @KPalmerHeathman

[2018-08-13 13:37] nomoregrapes opened #159 "Bug: search as you type"
The "search as you type" functionality throws an error and is no longer working. E.g. on the `/people` page.

I think this is due to a change in the last 3 weeks and I'm trying to track down the exact cause.

[2018-08-13 14:05] nomoregrapes commented on #159
Fixed this faster than I expected.

[2018-08-13 14:05] #159 closed, assigned to nomoregrapes

[2018-08-15 09:00] nomoregrapes opened #160 "Iterate through XML files on Github to check existance"
Have a feature that iterates through all the XML files on Github, checking they have a matching journal (control metadata) in the repository. A no would have occurred if it was missing from the control file.

Report list of filenames missing from repository, and provide link to `journals/new` that is prepopulated with the filename and XML content.

This feature will be done per volume (folder on G

[2018-08-15 09:13] peterwebster commented on #106
Agreed that admin dashboard requires an alert (as part of the ingest of a new volume) that the application has found control data without a matching XML file.
User then retrieves file(s), manual addition to Github, and triggers an 'Insert' ingest to solve the issue

As for missing control data for an XML file, see #160

[2018-08-15 09:24] peterwebster opened #161 "Create and test vol 999 (badly formed XML)"

[2018-08-15 09:24] nomoregrapes commented on #106
Note to Greg, read http://www.nokogiri.org/tutorials/ensuring_well_formed_markup.html

Ideal would be to use "strict mode", handle badly formed by adding message to ingest report (suggest user checks that entry), but save the auto-fixed version of the XML.

[2018-08-15 09:28] peterwebster commented on #69
This error seems to be a product of development process, and is fixed on restart of the system, so assigning to me to sign off before soft launch. @KPalmerHeathman has a knack of looking at the system just as @nomoregrapes has partly broken it..

[2018-08-15 10:41] nomoregrapes opened #162 "Editing reference/publication"
Datefull needs to default to blank (not todays date)

Form could be a drop down box option.
Fields could be conditional on "form" selected (Greyed-out or disappear?).

[2018-08-15 11:35] peterwebster commented on #137
In Bookmarks, need to remove Email button

I need to define the citation format for the Cite option.

In History, remove Save.

I need to think about explanatory wording on both pages.

PW to think about what a download option for all bookmarks might look like.

[2018-08-15 11:40] peterwebster commented on #158
I shall specify which pages the key to the annotaitons should appear on.

@nomoregrapes to shift the login to the left.

[2018-08-15 11:43] peterwebster commented on #158
Need to agree some sort of copyright statement and other information to be placed below the annotation key but above the login symbol. @nomoregrapes

[2018-08-15 12:37] #101 closed, assigned to KPalmerHeathman, DurHHHI

[2018-08-15 15:07] nomoregrapes opened #163 "Journals, editing"
Functionality in the editing of a journal...
- [x] Add dateFrom & dateTo fields.
- [x] add issues/controversies (topics) field.

[2018-08-15 15:20] nomoregrapes opened #164 "Back/front matter"
The file name needs to be consistent, e.g. "V15front" (decide if it's front, frontmatter, front_matter)

Greg to then recognise those filenames and display as "Volume 15 front matter" as the title.

[2018-08-15 15:20] nomoregrapes opened #165 "References (publications) display"
Should be `Title:subtitle` (colon not comma).

[2018-08-15 15:22] nomoregrapes opened #166 "Sermons (events)"
Agreed to ditch this as an annotation.

- [x] hide icon in the stylesheet of Journal XMl/content so it is not an annotation.
- [x] remove option in the search dropdown
- [x] delete all events, so that they're not found on search

[2018-08-15 15:24] nomoregrapes opened #167 "Search results, bookmark all"
Add a bookmark all button to the search results page.

[2018-08-15 15:25] nomoregrapes opened #168 "Typo in Note"
A typo was noticed in `note2`, I think the word "response".

[2018-08-16 08:49] nomoregrapes opened #169 "Servers"
In case you want to know...

![server_test_development](https://user-images.githubusercontent.com/1181194/44198196-a992a280-a138-11e8-9f43-b405e25cdda3.png)
*Development* server runs on Gregory's computer. Up-time not reliable, subject to frequent changes and breaks when Gregory is working. http://10.245.28.108:3000/people

![server_test_server](https://user-images.githubusercontent.com/1181194/44

[2018-08-16 09:40] peterwebster commented on #163
@nomoregrapes this in file 05-01-01-01-04 , though it may only have been an issue in the preview

[2018-08-16 10:33] peterwebster commented on #113
Now done in Notepad++ on two office machines
Also on Excel on two office machines
Both done on Hilary's laptop
Still to do on Katie's.

Consider creating Word documents with encoding set in which keyers can begin work for each new volume.

[2018-08-16 11:03] peterwebster commented on #163
On the ampersand, also the case 02-12-04-12-07  - we checked the XML and they are there as &amp; so there may be an import issue

[2018-08-16 11:13] peterwebster opened #170 "Editing annotations: add cross-reference field"
In the edit view for each annotation, we need also to be able to edit the cross-references

[2018-08-16 11:19] peterwebster commented on #158
In the annotation key, change 'Reference to published item', to 'Publication'

[2018-08-16 12:37] peterwebster opened #171 "Adjust rounding of numbers in places/organisations/people pages"
http://10.245.28.108:3000/journals
Over 230 journals have been transcribed, annotated, and made available here. Either search below, or select a particular day or range of dates.
Perhaps play around with the spacing between the two.

http://10.245.28.108:3000/people
I'm assuming that this number is auto-generated.
'Henson mentions over 700 different people within the transcribed journals. Search f

[2018-08-16 12:44] peterwebster commented on #158
OK @nomoregrapes : let's have the annotation key on journal pages and search results,

but not on the People/Places pages ( http://10.245.28.108:3000/people/person10 and http://10.245.28.108:3000/people
And the same for Places, Orgs, and also Journal Entries

[2018-08-16 13:06] peterwebster commented on #137
In History, we need this bit of text:

'Your [n] most recent searches are given below. These are not saved, however, and will expire at the end of your session.'
And lose the heading 'Your recent searches'

[2018-08-16 13:07] peterwebster commented on #158
Also, lose them on the Saved Searches and Bookmarks pages.

[2018-08-16 13:16] peterwebster opened #172 "Saved Searches"
At the minute, we have this visible for logged in users only  http://10.245.28.108:3000/saved_searches

but I don't think that the search results enable those users to save a search in the first place.

If this is trivial to enable, let's do so. If not, let's lose it entirely.

@nomoregrapes could you assess how much effort is involved. Whichever we do, it should be the easiest thing to do.

[2018-08-16 13:27] peterwebster commented on #137
In Bookmarks:
Let's have the citation format as:
The Henson Journals, Entry for [date], [URL]
The Henson Journals, Entry for [date to date], [URL]
The Henson Journals, Note 57, [URL]
The Henson Journals, [Title Firstname Surname], ......
...... [Place Name]
..... [Organisaiton Name]
...... [Author, <i Publication title</i]

And [if we have time], the results download could be structured the same w

[2018-08-16 13:30] peterwebster commented on #137
In Bookmarks, also add:

'Your bookmarked items from this session are listed below. Please be aware that these will expire at the end of your session.

[2018-08-16 13:43] peterwebster commented on #164
@nomoregrapes let's agree that the format in the control sheet (and thus the filename) should always be

V15_front
V14_back

- [x] @nomoregrapes to implement
- [ ] @KPalmerHeathman @DurHHHI to note for future reference
- [x] I shall update my documentation

[2018-08-16 13:47] peterwebster commented on #162
Upping this one to critical just on account of the first point, the Date Full default behaviour.

The drop down box is a medium, the conditional behaviour nice-to-have.

[2018-08-16 13:49] peterwebster commented on #147
As we've done our "training", adding this to the list of stuff to edit once the production deployment is available.

[2018-08-16 13:52] peterwebster commented on #113
Assigning to Katie in relation to her laptop. Once that's done, ping it back to me.

[2018-08-16 14:06] peterwebster commented on #112
Hi @nomoregrapes : we obviously discussed this in a call, but I don't recall how it was possible to do this.

There isn't anything like an Add Annotation/ New Annotation button at http://10.245.28.108:3000/people/person311  .
Did we conclude that one just made a one line TSV with the new one, and ingested it from the admin dashboard?

[2018-08-16 14:18] peterwebster commented on #69
Having spent some time around the GUI, happy to close this one now.

[2018-08-16 14:18] #69 closed, assigned to peterwebster

[2018-08-16 15:26] peterwebster commented on #112
@nomoregrapes aha, I see these now, at http://10.245.28.108:3000/people

This creates a new issue, however. Presumably the application gives the new person an ID which is next in the sequence (as far as it knows it, ie the last number so far ingested plus one).
BUT offline, the sequence of IDs for each has already continued beyond that, as the work on the next volume has gone on. So, we will have

[2018-08-20 14:25] nomoregrapes commented on #167
Done.

[2018-08-20 15:43] nomoregrapes commented on #165
Notes...
Subtitles are always joined by a colon (not a comma).
Unless it's a periodical or a book chapter, the subtitle will be in italics (em).
The Title+Subtitle will always be wrapped in single quotes, unless it's a Book (and not a Book chapter).

This is now done.

[2018-08-21 09:52] peterwebster commented on #167
Many thanks @nomoregrapes this looks good.

One more thing, then this can be closed. The 'Bookmark all' button actually appears in the Bookmarks view, which is superfluous and should come out.   https://henson-test.durham.ac.uk/bookmarks

[2018-08-21 09:56] peterwebster opened #173 "Links from bookmarks view not working from test"
If you create some bookmarks, it seems that none of the links from https://henson-test.durham.ac.uk/bookmarks?per_page=100 then work. This may be an artefact of what data is and isn't available in test at the moment.

[2018-08-21 10:00] peterwebster commented on #173
In fact, it's the case from the general search results view as well

https://henson-test.durham.ac.uk/?utf8=%E2%9C%93&per_page=100&search_field=all_fields&q=bible

[2018-08-21 10:45] peterwebster opened #174 "Poundsign correction"
In 04-11-08 (volume 15), there is a correction to make in the table. (It's a pound sign that, in your last XML, was missing an ampersand and so was not change to the `&#x00A3;` when I ran my final script.

As we won't ingest again, make this correction directly in the production GUI.

[2018-08-21 10:47] peterwebster opened #175 "Amend scripts to deal with 'dollarsign'"

[2018-08-21 11:54] peterwebster commented on #172
Saved Searches removed as an option, closing ticket

[2018-08-21 12:04] peterwebster opened #176 "Ampersand not showing in journal entry page and in edit preview"

[2018-08-21 12:05] peterwebster commented on #163
For ampersands see #176

[2018-08-21 12:17] peterwebster commented on #112
On creation of new annotation, need new number field in which staff can enter the appropriate ID.

Some light validation of that input is a nice-to-have (is this a number? is this an ID already in use in the repo?)

[2018-08-21 12:28] peterwebster commented on #172
Ah, reopening this as the option to save a search is still available here for logged-in users  https://henson-test.durham.ac.uk/search_history

[2018-08-21 12:29] peterwebster commented on #172
So (for the avoidance of doubt) let's remove the Save option there too @nomoregrapes

[2018-08-21 15:07] nomoregrapes commented on #137
For the citation format, I'm trying to keep use of the function that shows titles in search results.
![citations](https://user-images.githubusercontent.com/1181194/44410436-45b71200-a55c-11e8-85ce-c028f75ebaf0.png)

* "Journal entry for" gets replaced with "Entry for"
* References need the addition of author.
* People needs to be opposite order (no spaces). Should Title(Mr/Sir/Mrs) be included too

[2018-08-21 16:05] nomoregrapes commented on #137
I don't think search history has a maximum number, it will empty when the session expires (or is cleared by the server restarting). I've set "[n]" to how many searches are currently saved, I could just remove that number.
That whole paragraph will only appear if there are messages.

[2018-08-21 16:23] nomoregrapes commented on #137
I've pushed the changes to henson-test.

Still need to work on the Bookmarks download feature.

[2018-08-21 16:44] nomoregrapes commented on #167
Now removed on the bookmarks page.

[2018-08-22 07:08] peterwebster commented on #164
Over to you @KPalmerHeathman @DurHHHI : do shut this down once you've noted the change in practice for future reference.

[2018-08-22 07:12] peterwebster commented on #167
Magic, thanks @nomoregrapes

[2018-08-22 07:12] #167 closed, assigned to peterwebster

[2018-08-22 07:19] peterwebster commented on #137
- [x] Revised explanatory text to Bookmarks page
- [x] Remove email option from Bookmarks page
- [x] Remove Save option from History
- [x] Add explanatory text in History page
- [x] Implement human-readable format for citations
- [ ] Bookmarks download

[2018-08-22 07:30] peterwebster opened #177 "Error on adding items to bookmarks (test)"
![image](https://user-images.githubusercontent.com/5520710/44449291-9a529f80-a5e5-11e8-8591-cae710a83115.png)

[2018-08-22 07:31] peterwebster commented on #177
This was on 'Bookmark all results on this page'; seems to be related to the Issue result.

[2018-08-22 07:33] peterwebster commented on #137
Many thanks for all this @nomoregrapes: some feedback:

(i) in History, I think we can lose the [n] from 'Your [n] most recent searches'
(ii) in the citation format, I think we either need a line break before the URL, or perhaps a colon:

![image](https://user-images.githubusercontent.com/5520710/44449428-0208ea80-a5e6-11e8-95ee-49f2e856ed0b.png)

[2018-08-22 07:35] peterwebster commented on #137
I think the download is probably only a medium priority, although nice to have @nomoregrapes : if, however, we don't get to it, we need to remember to remove the link

[2018-08-22 07:40] peterwebster commented on #177
This makes me think that we should probably treat a search result for a topic slightly differently, as they have no descriptive content attached to them, they are just a pointer to journal entries. So, let's say that they shouldn't be added to Bookmarks using this function, but shouldn't throw an error either. @nomoregrapes

[2018-08-22 07:48] peterwebster commented on #164
@nomoregrapes on the test server, I can see search results in the old format
![image](https://user-images.githubusercontent.com/5520710/44450146-13eb8d00-a5e8-11e8-9acc-29df343e3d7d.png)

[2018-08-22 08:07] peterwebster commented on #171
On the journals page, perhaps we could lose the dropdown (which currently defaults to Journals) since it just replicates the options that are available at the top of the page. Just the search box and the button? Low priority, however.

Changes outstanding on people/organisations/places.

[2018-08-22 08:16] #107 closed, assigned to peterwebster

[2018-08-22 08:39] nomoregrapes commented on #158
I've set this to remove it from specific annotation pages (people/person10, organisation/org10,...) the annotation indexes (people, organisations,...), removed from journal entries (journals/04-10-10,...), and removed from the bookmarks page(/bookmarks).
It will still appear on the journals index (/journals).

Would it not make sense to keep it on "Bookmarks", because the icons are shown there (as

[2018-08-22 08:45] nomoregrapes commented on #164
Sorry, I hadn't actually pushed the changes to henson-test. I have now.

[2018-08-22 09:04] peterwebster commented on #102
All documented now.

[2018-08-22 09:04] #102 closed, assigned to peterwebster

[2018-08-22 09:29] nomoregrapes opened #178 "Henson-test specific problems"
Not imported any journals yet.
Need CIS to setup a process worker, so all the ingest steps can be done. Will also make it easier for me to do other things to check/fix data.

Seems that journals appear in search results, despite not existing yet. Could be that the search index of development and test_server is mixed up.

Olli has reported problems on the test server for other rails applications. N

[2018-08-22 09:34] nomoregrapes commented on #177
This does work on the development version (it bookmarks the topic).
The error is because the topic doesn't exist yet, so a link to it can't be saved.

I don't know why those non-existing results are appearing on the test site. I've created #178 to track that though.

[2018-08-22 10:11] nomoregrapes commented on #171
Done.
The counts are rounded down to 10s. Doesn't have to rounded, but possibly makes it read better. People was rounded to 100, but that results in "over 0" for organisations!

[2018-08-22 10:19] peterwebster commented on #118
This is now added to the documentation.

[2018-08-22 10:19] #118 closed, assigned to peterwebster

[2018-08-22 10:22] nomoregrapes commented on #172
Removed.

[2018-08-22 10:25] peterwebster commented on #172
Thanks @nomoregrapes, closing ticket now.

[2018-08-22 10:25] #172 closed, assigned to peterwebster

[2018-08-22 10:28] peterwebster commented on #177
OK @nomoregrapes , if it works on the dev version let's keep it. Keeping this open in order to test on `henson-test` once there is a topic for it to create a link to.

[2018-08-22 10:33] peterwebster commented on #164
OK, this looks good to me @nomoregrapes
Assigning to @KPalmerHeathman to acknowledge the change in working practice in relation to filenames, and close the ticket.

[2018-08-22 10:56] peterwebster commented on #171
Like the rounding of the counts. 'Over 1176' did read strangely; 'over 1170' is better. 'Over 1100' is the ideal, I think (ie. 100s), but I take the point about Orgs (although I think you mean Places)
I suppose Places could be set to 10s and the others to 100s, but it's a tiny point, so will mark this down to low priority, but there is one tiny thing:

in the journals page, I remember Philip prefe

[2018-08-22 15:43] nomoregrapes commented on #112
Done for new people.
Need to repeat for the other types.

[2018-08-23 15:42] nomoregrapes commented on #112
Done for the other types, needs testing.

References probably still needs some work (was there a ticket about editing reference dates?) and tidying up.

[2018-08-24 06:02] peterwebster commented on #166
Thanks for this @nomoregrapes although it doesn't look as if you've pushed these to test yet.

[2018-08-24 06:04] peterwebster commented on #112
Thanks @nomoregrapes  I can test this once we've got some data in `henson-test`

[2018-08-24 06:07] peterwebster commented on #112
Issue #170 is related to this, but I think you mean @nomoregrapes the issue of the date defaulting to today when editing a reference in the GUI. I can't find the ticket for it, strangely, but this is critical.

[2018-08-24 16:22] nomoregrapes commented on #166
I've pushed the changes now.

My work is held up that I can't get the background processes working on the test-server. This is also needed to delete all the events (or unpublish them all, which is easier & similar to existing functionality).

[2018-08-28 09:13] peterwebster commented on #158
Apologies, I've confused the issue here, but it can be sorted out by:

- [x] (i) showing the key on journal entry pages (journals/01-01-01) but not at (journals/)  [I expressed this poorly earlier on]
- [x] (ii) [as you suggest] showing the key on Bookmarks.
- [x] (iii) removing from Search History

Sorry to be making you redo things.

[2018-08-28 09:20] peterwebster commented on #158
Also @nomoregrapes :  the copyright statement agreed for the footer is now:

Copyright: the dean and chapter of Durham Cathedral, Durham Cathedral Library and the Henson project.

If you can come up with the nice copyright symbol (c) then all well and good but not essential.

[2018-08-28 09:20] peterwebster commented on #158
Marking up to critical as we definitely must have the copyright statement

[2018-08-28 09:55] peterwebster opened #179 "Redirect WP links to production server"
Once we've deployed to production, there are links (and the search) in the WP that will need redirecting.

(Creating this ticket just as an aide-memoire)

[2018-08-28 10:12] peterwebster commented on #97
http://community.dur.ac.uk/henson.project/index.php/help/

Could @KPalmerHeathman and @DurHHHI take a look at this and let me know what you think? There will be links to the Journals etc pages once they are in their final location.

[2018-08-28 10:19] peterwebster opened #180 "Height of search button in WP"
A minor point, but perhaps one for a spare five minutes.

The search button is slightly squashed in WP, so the text is not centred vertically.

![image](https://user-images.githubusercontent.com/5520710/44717127-1b150e00-aab4-11e8-9cd8-43985e4db995.png)

[2018-08-28 10:19] DurHHHI commented on #97
@peterwebster The help page looks good, Peter. 👍Is it worth adding JS' email address should a reader want to contact her directly with a journal query? This might not be done on standard 'help' web pages, and ignore if so.

[2018-08-28 10:20] peterwebster commented on #97
@DurHHHI better to use a generic email account, but is there one for the project?

[2018-08-28 10:21] DurHHHI commented on #97
@peterwebster No, I do not believe so.

[2018-08-28 10:37] peterwebster commented on #177
This is still an issue on test, so passing back over to Gregory.

[2018-08-28 10:44] peterwebster commented on #178
@nomoregrapes annotating this regarding the Publish All functions in Admin dashboard on test.

[2018-08-29 10:13] #169 closed, assigned to nobody

[2018-08-29 10:15] peterwebster opened #181 "Retain Gregory's Bitbucket access after contract end"
@nomoregrapes just a aide memoire on this, as your access is I think tied to your Durham email, and so someone (within CIS) will probably need to do this, and may require Julia's authorisation to do so, so it may take a couple of days.

[2018-08-29 10:30] peterwebster commented on #108
Having had a look at this, and seeing it track real time data on production from today (as well as WP data for a few weeks), closing this now. Many thanks @nomoregrapes

[2018-08-29 10:30] #108 closed, assigned to peterwebster

[2018-08-29 10:50] peterwebster opened #182 "Twitter login not working on test"
Just tried this and while the Github works OK, the Twitter does not.

We could live without it, but it would be worth checking out; if we can't fix it within the time available, we should hide the link. Marking this as critical for this last reason only.

[2018-08-29 12:20] nomoregrapes commented on #181
If my Durham user account/email is retained, then all things dependent on that will likely be okay. Julia would have to request for my account to be extended to a specific date before it's deleted. I'm not sure how quickly/often CIS delete accounts, but it's the contract-end date they look at unless other agreements have been made.

Bitbucket is barely used now.
Durham's enterprise version of Gith

[2018-08-29 12:39] peterwebster commented on #181
OK, I'll drop Julia a line and ask her to contact CIS and extend for a while to allow us some wriggle room.

[2018-08-29 12:44] peterwebster commented on #181
Email now sent; keeping this open until it is resolved. @nomoregrapes

[2018-08-29 12:44] nomoregrapes commented on #137
Updates made.
Download button removed, until I return to work on it again.

[2018-08-29 13:02] peterwebster commented on #137
Will test bookmarks email and citation format once there is data in `test`.

[2018-08-29 13:37] nomoregrapes commented on #166
Events are all set to unpublished. The line on the manage dashboard has a grey background, but events could be reingested (and published if desired).

[2018-08-29 13:41] nomoregrapes commented on #104
The resque-status isn't actually that helpful the way all the technical stuff has come together.

There is a "Logs" page in the manage area, that shows when background process jobs started & ended - you can start to learn how long. I.e. Volume 15 might have post-ingest jobs that take 30 minutes, and Volume 16 is of a similar/smaller/larger size.

[2018-08-30 05:41] peterwebster commented on #104
I shall watch the logs in action and, if necessary, add some documentation.

[2018-08-30 05:57] peterwebster commented on #166
Many thanks @nomoregrapes for leaving the pipes open for this in future. Closing the ticket now.

[2018-08-30 05:57] #166 closed, assigned to nobody

[2018-08-30 07:31] peterwebster commented on #137
This looks really good @nomoregrapes and would be just fine as it stands.

*If* there's time, I think on reflection a colon would look better in the citation format, giving:

The Henson Journals:  Entry for 20 February 1905

and particularly so for

The Henson Journals: Bailward, William Amias

What do @KPalmerHeathman and @DurHHHI think? Log into henson-test, search, bookmark some results and loo

[2018-08-30 07:45] peterwebster commented on #158
I think we're all done here, so closing ticket: many thanks @nomoregrapes

[2018-08-30 07:45] #158 closed, assigned to peterwebster

[2018-08-30 07:56] peterwebster opened #183 "Visibility of login icon"
A Slack conversation:

"Q: if a member of the public finds the login icon and signs in using Github (but we don't make them an admin) what can they then see and do?

"A:  They see their name on the top-right, I think they can edit their name or delete their account and that's it

Working on the basis that users shouldn't be able to do anything that there's no point doing, we should remove the logi

[2018-08-30 08:06] peterwebster commented on #173
This seems to have cleared itself up, so closing the ticket now.

[2018-08-30 08:06] #173 closed, assigned to nomoregrapes

[2018-08-30 08:52] peterwebster commented on #112
On the issue of the DateFull defaulting to today's date when editing a reference @nomoregrapes :  you've added a note that reads ' If set to today, no date will not be saved.' I guess you mean 'no date will be saved', and so the issue is resolved? Is that right?
I tried opening a reference that already had a date prior to today, and that is not overwritten with today's date (which is good)

[30 Au

[2018-08-30 09:02] KPalmerHeathman commented on #113
Done on my laptop now so closing this.

[2018-08-30 09:02] #113 closed, assigned to KPalmerHeathman

[2018-08-30 09:35] peterwebster commented on #112
I created a new person, 9999, but on hitting Create Person, I get an error.

I assumed that this was because I had obeyed the instructions, formatting the ID as person9999, but it also fails as pers.9999

[2018-08-30 09:38] peterwebster commented on #112
Same issue for organisations and references, haven't yet looked at place @nomoregrapes

[2018-08-30 09:48] peterwebster opened #184 "Consider commenting out facility to create New Journal"
I think that this is a sufficiently unlikely case that it could probably be commented out. Much more likely to do an upload of any new file that was needed, and it is hard to see when that would arise.

[2018-08-30 09:58] KPalmerHeathman opened #185 "Missing 'view other journal mentions'"

[2018-08-30 09:59] #185 closed, assigned to nobody

[2018-08-30 10:05] peterwebster opened #186 "Clearing a search parameter redirects to WP homepage"
If I try to remove the Organisations/Wallis facet here, I am redirected to henson-test..... Really, I need to stay on the search page.

https://henson-test.durham.ac.uk/?utf8=%E2%9C%93&search_field=only_organisations&q=Wallis

[2018-08-30 10:06] KPalmerHeathman commented on #137
![image](https://user-images.githubusercontent.com/32575539/44845175-bf2dbf00-ac44-11e8-9db5-b71f594502d8.png)
Tried clicking cite in my bookmarks view....

[2018-08-30 10:27] peterwebster commented on #186
Optimal solution: redirects to whichever annotation search type was used: ie, in this case, /organisations

If that's too much at this stage, redirect all of them to https://henson-test.durham.ac.uk/journals

[2018-08-30 10:31] peterwebster commented on #183
If user who is not logged in tries to access a resources set to Admin, should get an error, saying 'This resources is only available to adminstrators'
Also, if one of team (not logged in) tries to access any of the management URLs (new person, edit ref), should redirect to the login page.

[2018-08-30 12:54] nomoregrapes commented on #137
@KPalmerHeathman can you make some bookmarks on https://henson-test.durham.ac.uk/bookmarks (test_server) and then test again.

The "development" version continues to be unstable, and the pink stripes are ugly anyways.

[2018-08-30 13:01] KPalmerHeathman commented on #137
sorry - knew it would be me doing something wrong!

[2018-08-30 13:05] DurHHHI commented on #137
![topmarks](https://user-images.githubusercontent.com/32575577/44853360-aed60e00-ac5d-11e8-9644-56ad311ef5c3.JPG)

Looks good @nomoregrapes !

[2018-08-30 14:19] peterwebster commented on #137
@DurHHHI @KPalmerHeathman and what do you think about the colon vs comma issue after 'The Henson Journals' ?

[2018-08-30 15:04] DurHHHI commented on #137
@peterwebster - I would prefer colon, but I'm not dying on that hill if there are other things to prioritize in the remaining hours. 'Tis just a scratch!

[2018-08-30 15:07] nomoregrapes commented on #170
This field now exists for all annotation types.

[2018-08-30 15:32] nomoregrapes commented on #137
A colon requires using twice as many pixels as a comma. I might have to demand a shrubbery for all that work.

[2018-08-30 16:06] nomoregrapes commented on #178
The issue is fixed on test_server.
Taking so long to fix this is due in part to a bad bit of coding by me that I think I added while trying to solve the problem.

[2018-08-30 16:07] #178 closed, assigned to nomoregrapes

[2018-08-31 07:27] peterwebster commented on #137
OK, this looks great now @nomoregrapes
Leaving the ticket open as a reminder to me about the download, though I now doubt there would be time for it now.

[2018-08-31 08:01] peterwebster commented on #170
Tested this out on persons this morning: I was able to add a cross-ref to another person,, and to a place, but the ref and org that I added remain unprocessed. These were all on
https://henson-test.durham.ac.uk/people/person625

So, I tried adding the same two (ref.2 and org.31) to a different person, to see whether there was an issue with second and subsequent updates of the same annotation, but

[2018-08-31 08:07] peterwebster commented on #182
Since we decided at #183 that we were going to hide the login icon from everyone but the team, it isn't so urgent to hide the link.

[2018-08-31 08:28] peterwebster commented on #176
Transplanted from #163

this in file 05-01-01-01-04 , though it may only have been an issue in the preview
Also the case 02-12-04-12-07 - we checked the XML and they are there as & so there may be an import issue

[2018-08-31 08:36] peterwebster commented on #177
@nomoregrapes I had a look at what was going on:

There are topics that exist and show up in search results (Revised Version)
https://henson-test.durham.ac.uk/?f%5Bsubject_ssim%5D%5B%5D=4c%2Fde%2F1d%2F27%2F4cde1d27-e5f0-41e4-ac45-70fd4b513bcb&q=Revised+Version&search_field=all_fields

and that also show up on journal entries
https://henson-test.durham.ac.uk/journals/00-12-02-12-14

but if you hit

[2018-08-31 09:27] peterwebster commented on #165
All good, now closing this.

[2018-08-31 09:27] #165 closed, assigned to peterwebster

[2018-08-31 09:32] peterwebster commented on #170
Tested this on references as well, with https://henson-test.durham.ac.uk/references/ref1/edit

Added person,311 successfully.
Then tried to add a string of three, only the first of which was processed (place.8).
Then unable to add any more, singly or in chains.
@nomoregrapes

[2018-08-31 10:19] peterwebster opened #187 "Push to Github? checkboxes should default to no"
To prevent changes made in henson-test GUI being pushed to the master data in Github, these should default to No:

/journals/xxxx/edit

It doesn't seem to be there on the annotation edit views (/person123/edit), nor on the create-annotation view (/people/new),, so perhaps there is only one.

[2018-08-31 10:27] peterwebster commented on #187
I need also to write up the process under which I might upload volume XX to henson-test in order to make sure that there are no silly issues in the data, to avoid having to fix them manually in production

[2018-08-31 13:26] nomoregrapes opened #188 "Deal with long journal entries"
This requires a change of how the content is stored, and making sure it still gets indexed in Solr.

[2018-08-31 13:29] nomoregrapes commented on #176
This is fixed, tested locally. It requires the journals be saved again(or reingested).

Due to #188, a reingest on test_server does not completely work right now.

[2018-08-31 13:37] nomoregrapes commented on #171
This has been done.

[2018-08-31 13:49] nomoregrapes commented on #170
I just tried on test_server and it worked for me. What are you putting in the box when you try to add multiple?

I can think of two reasons it might appear not to work...
* The process to find & link the cross refs might not have run yet. It's near-instant unless there are other things (like publish all or an ingest) queued up. In this case the manage page will show the "Process" tab in red text,

[2018-08-31 14:31] peterwebster commented on #176
OK, assigned to me to test once #188 is resolved.

[2018-08-31 14:48] peterwebster commented on #170
See this one: I've added persons and a place, but cannot add org.31 or ref.2. There doesn't seem to be anything in the process queue. Both org.31 and ref.2 exist, and are Public.
https://henson-test.durham.ac.uk/people/person88/edit

![image](https://user-images.githubusercontent.com/5520710/44919321-1f9c2980-ad35-11e8-9938-17d95ac39f79.png)

[2018-08-31 14:56] peterwebster commented on #171
Apologies @nomoregrapes I wasn't very clear. As well as changing the page title to Journals (which is done), but in the narrative, it should read ' over XXX journal entries have been..'

[2018-08-31 15:29] nomoregrapes commented on #163
I've learnt how to configure the date fields better(for non-recent dates), so on the journal editing form...
* date fields will be set to blank if no date is set (inc if you're creating a new journal) rather than "current date"
* blank dates will have the year drop down give options for 1900-1940
* if the date is already set, the drop down options are -5 years to +5 years of the date it is saved t

[2018-09-03 10:13] nomoregrapes commented on #170
That seems to be coming under my second point in the possibilities. After saving (and the process running) I looked at the logs page...
[code]

That org and that person haven't been ingested.
If I again edit "person88", we can see it still has the "unprocessed crossrefs" saved, which is perhaps a confusing name at this time/case. If you do an ingest of orgs, it will try processing them again, and

[2018-09-03 16:19] peterwebster commented on #163
Thanks @nomoregrapes : I'm assuming that the reason for setting the dates this way is an issue with dates before 1 Jan 1900. This is fine, but I need to add a note to the documentation about it. Will test.

[2018-09-04 14:10] nomoregrapes commented on #188
This is now complete, and I'm doing a reingest of all the V14 & V15 journals.

[2018-09-04 14:10] #188 closed, assigned to nomoregrapes

[2018-09-04 14:16] nomoregrapes commented on #163
Using drop-downs for date fields uses less  of my own code and is generally more tested (more certain it will save a calid date of any time period).

The downside is that having a long drop down can be tricky UI. The default was +/- 5 years of today, so I altered that only slightly but I could make it a specific range or increase the range.

[2018-09-04 14:27] nomoregrapes commented on #170
I've now specifically fixed it for references, which was a bug even if they were taken through the TSV/ingest.

[2018-09-04 14:42] nomoregrapes commented on #171
changed.

[2018-09-04 14:57] nomoregrapes commented on #187
@peterwebster Would it be better if this defaulted to *unticked* on the test_server but defaulted to *ticked* on the production server?
The benefit being that Github serves as an audit trail (e.g. who made garbled edits on the production site & what other journals did that edit on that day?) so they can then be fixed.

For documentation...
The annotations aren't individual files, so on the /manage

[2018-09-04 17:40] nomoregrapes commented on #162
I've now used the same date selector code as on editing journals. With the settings... [new references](https://henson-test.durham.ac.uk/references/new) you can choose any year between 1800-1940, editing references you can choose years +/- 10 years of the year it's currently saved to. You can consider how manageable the longer drop down is, and suggest changes (If I still have time).

Additional:

[2018-09-05 08:40] nomoregrapes commented on #112
I can't recreate this problem.

When you clicked "Create Person", what page(URL) did it take you to? Was there a message (in a blue box)?

[2018-09-05 09:39] nomoregrapes opened #189 "Topics, problems on servers"
Topics = issues, controversies, or keywords attached to Topics or Events.

If the topics get created (ingest or manually) on the server, there are problems that make it seem like they don't exist (or cause broken links). This is due to the IDs.
Rather than let the system decide on the random ID, I will control this a bit. They will still look random, so URLs will be like "/topics/5ac749fbeec93607f

[2018-09-05 10:41] peterwebster commented on #112
Look in the log at 11.39 for an attempt to create person10000.

The result is:
![image](https://user-images.githubusercontent.com/5520710/45088351-9d2eb380-b100-11e8-8451-2b508294bba8.png)

@nomoregrapes

[2018-09-05 10:50] peterwebster commented on #187
Yes, that sounds good: defaults to unticked on test, but to ticked on production. (Do you have to code it so it checks which server it is on before loading the pages?)

[2018-09-05 10:53] peterwebster commented on #171
I'm sure this is fine, but it doesn't look as if it has been pushed to test yet  @nomoregrapes

[2018-09-05 12:34] nomoregrapes commented on #112
@nomoregrapes to add more debugging notes. Can recreate it on test server but problem unknown.

[2018-09-05 15:29] peterwebster commented on #170
I still don't quite understand why (during the first process) it doesn't pick up annotations that are definitely already there. See https://henson-test.durham.ac.uk/people/person110/edit  where it hasn't found org.12, which definitely exists, and is set to public.
However, as there is a way to force the application to look (Find and Add CrossRefs, from dashboard), then I don't propose to keep chas

[2018-09-05 16:53] nomoregrapes opened #190 "Document V16 ingest"
This is a good example.

I was ingesting Volume 15 on test_server and it alerted me `An error was encounted reading the file from Github.` It actually stopped the ingest from that point onward (maybe I should change it so it attempts the others, but it could be a symptom of Github being offline etc).
I look on the logs page, and scroll to see a row...
`[2018-09-05 17:42:55][henson] ERROR: Could no

[2018-09-06 05:48] peterwebster commented on #171
There's a typo:  'Over 200 journal entriess'

[2018-09-06 08:26] peterwebster opened #191 "Publish All buttons on dashboard fail"
The Publish All buttons for Topics, References and Notes all seem to fail, and redirect out to the WP homepage.
This was after I added hit the same for Journals, Persons, Places and Organisations, all of which seemed to work: I got the 'XX will be published' message in each case.

[2018-09-06 08:30] peterwebster commented on #191
Although, the resque shows that all the jobs are in the queue, so the issue may just be with what the GUI reports that it is doing (rather than with whether it is doing it or not)

[2018-09-06 08:54] peterwebster commented on #190
Thanks @nomoregrapes : a couple of questions/comments.

(i) where did you get the 'An error was encountered..' message - on the dashboard?

(ii) yes, let;s change it so the application doesn't stop at the first error but tries to process every line in the control sheet.

(iii) also, change that filename and we'll use that file as the canonical version from now on.

[2018-09-06 08:56] nomoregrapes commented on #191
As you observed, Topics, References and Notes do create the jobs.
They then try to redirect to the homepage (which redirects to WP & that can't display the blue box message), but they need to redirect to the manage dashboard.
It's a simple thing for me to fix.

[2018-09-06 09:09] nomoregrapes commented on #191
This is done.

[2018-09-06 09:09] peterwebster commented on #176
Tested now and all good. Closing ticket.

[2018-09-06 09:09] #176 closed, assigned to peterwebster

[2018-09-06 09:47] nomoregrapes commented on #190
(i) Yes. However by doing (ii) it will not be possible to show it. Instead you'll get the usual message `Journal data and contents were imported. W rows read. X entries created/updated. Y rows skipped. Z rows caused errors.`. If Z is greater than 0 then looking at the logs page is good advice.

(ii) changes made, will be in next push

(iii) already did that.

[2018-09-06 09:49] peterwebster commented on #163
Successfully changed both DateFrom and DateTo, and added a new topic.

However, @nomoregrapes on save, I get the 'we're having an issue with the repo' error message, even though the change has been made.

[2018-09-06 09:57] peterwebster commented on #190
OK @nomoregrapes : I shall at some point do a test ingest of some of v16 to henson-test, and will look out for this, and document.

[2018-09-06 10:01] peterwebster commented on #177
@nomoregrapes this looks as if it is now solved; I've successfully bookmarked two topics from search results and then viewed them in Bookmarks.
If you're happy you've done what you need to, close this one down.

[2018-09-06 10:03] nomoregrapes commented on #171
Fixed

[2018-09-06 10:05] #177 closed, assigned to nomoregrapes

[2018-09-06 10:10] peterwebster commented on #189
@nomoregrapes this looks as if it is solved? I've added new topics to a journal entry, including more than one at once. They also seem to crop up in search, and I can bookmark them ( see #177 ).

If you're happy, assign this to me, as I have various things to document.

[2018-09-06 10:13] peterwebster commented on #189
To document:

(i) new topics can be added from the Edit Journal view, which also allows a search first to check existence of similar or same issues and check spellings;
(ii) it isn't possible to remove a topic from a single journal entry. Instead, click through to Edit Topic and set to Admin.
(iii) from Edit Topic, also possible to change the title of the topic, which then applies across the site.

[2018-09-06 10:20] peterwebster commented on #171
So all that remains of this is adjusting the rounding, but it's such a small point, adjusted to low priority.

[2018-09-06 10:30] #78 closed, assigned to nobody

[2018-09-06 10:45] peterwebster commented on #137
Closing this now and creating a new ticket with label 'Dev Phase 2'

[2018-09-06 10:45] #137 closed, assigned to peterwebster, KPalmerHeathman, DurHHHI

[2018-09-06 10:46] peterwebster opened #192 "Bookmarks download"
Implement the option to download accumulated bookmarks, probably in CSV and/or .xlsx

[2018-09-06 11:22] nomoregrapes commented on #112
Fixed this.

Note to self: code for rescuing `ActiveFedora::ObjectNotFoundError` doesn't get run before the application_controller rescue block gets run. Odd that this behaviour would be different out of development environment.
Might need to check the other instances of `ActiveFedora::ObjectNotFoundError` to see if they behave as intended or not.

[2018-09-06 12:10] nomoregrapes commented on #189
Yes, this is solved.

(i) Additional note... searching for "Grooming" would also find a topic "grooming" (case insensitive). However adding a topic (via journal ingest or editing) you should type in a case-sensitive match of the existing topic, so that it doesnt create a new (different) topic. Same as if the topic title has a hyphen, space, etc or not (e.g. choir-boys, choir boys, choirboys, will

[2018-09-06 12:58] nomoregrapes commented on #187
Done.

[2018-09-06 13:12] nomoregrapes commented on #156
Config changed to this repo.

You can [see I did a test](https://github.com/peterwebster/henson/commits/master/journal-entries/14/00-10-01.xml) editing of a journal. If you click the 7-digit code to the right of a commit, you can see what changed on that commit.

Each [commit](https://github.com/peterwebster/henson/commits/master) will be attributed to whichever user was logged in doing the edit.

[2018-09-06 13:44] nomoregrapes commented on #112
Answer to self:
Rescuing from `ActiveFedora::ObjectNotFoundError` is fine on the server, so long as it doesn't try redirecting. No other code changes need to be made.

[2018-09-06 14:24] peterwebster commented on #156
Sorry to be a dummy, but how do I create a new folder at https://github.com/peterwebster/henson/tree/master/journal-entries into which to upload all the XML for volum 16 when the time comes? I can create a new file, but not a new folder?  @nomoregrapes

[2018-09-06 14:28] peterwebster commented on #187
Tested on test, will check on production tomorrow.

[2018-09-06 15:11] peterwebster commented on #112
Same issue with this one  - person 10005, organisation 10001

Not for this week, but opening this again @nomoregrapes

[2018-09-06 15:12] peterwebster commented on #112
Since new annotations can be added another way, by means of a one-line TSV ingest, not a priority.

[2018-09-06 15:40] nomoregrapes commented on #156
It would be better to set up git on your computer. It's a bit like having dropbox, in that a folder on your computer becomes a copy of the github folders/files. You will then be able to create a folder named "16", copy the xml files into that folder in bulk (or work on them in that folder). The difference to drop box is that you have to intentionally tell it which changed files you want to commit

[2018-09-06 15:54] nomoregrapes commented on #112
Caused by a different issue, error for future note is
[code]

[2018-09-07 05:46] peterwebster commented on #112
Keeping this open as one of the first things for @nomoregrapes once back in a couple of weeks time. Using Dev Phase 2 lable to keep these together.

[2018-09-07 08:03] peterwebster commented on #156
Done   https://github.com/peterwebster/henson/tree/master/journal-entries  @nomoregrapes

[2018-09-07 08:30] peterwebster commented on #192
There is already some code for part of this, but the option is hidden from the end user.

[2018-09-07 08:34] peterwebster commented on #183
This is the login page https://henson-test.durham.ac.uk/users/sign_in

[2018-09-07 08:49] peterwebster commented on #191
Tested this out, and all fine. Many thanks @nomoregrapes : closing ticket now.

[2018-09-07 08:49] #191 closed, assigned to nobody

[2018-09-07 08:51] peterwebster commented on #156
- [x] Olli invited
- [x] @nomoregrapes instruction retrieved from email
- [x] local clone set up on my machine

[2018-09-07 08:51] #156 closed, assigned to nomoregrapes

[2018-09-07 08:53] nomoregrapes commented on #164
@peterwebster also for documentation on this, the filename is case sensitive. If the control file capitalisation doesn't match the file on github, it won't pick it up for the content.

[2018-09-07 09:04] peterwebster commented on #164
Noted in docs.

[2018-09-07 09:04] #164 closed, assigned to KPalmerHeathman

[2018-09-07 09:08] peterwebster commented on #81
Given that there is some maths to do here, and not a usual HTML/CSS use, closing this for now. For reopening if it is raised.

[2018-09-07 09:08] #81 closed, assigned to nomoregrapes

[2018-09-07 10:04] peterwebster opened #193 "Annotation icons partially obscured by underlining of line above"
In some cases this occurs. We might want to consider increasing the line spacing, but this may have a more general effect across the whole site that we dislike. For discussion.

See p. 404 in https://henson.durham.ac.uk/journals/00-10-21-11-03

[2018-09-07 10:59] peterwebster opened #194 "Publish All in dashboard to ignore some journals/annotations which need to stay hidden"
Now and then the team may set an entry or annotation to Admin because its content needs to be offline.

At the minute, the Publish All functions in the dashboard, designed to bulk publish newly ingested items will also pick up and publish these others from earlier volumes.

Suggest that entries and annotations actually need three status options: public, sticky admin and temporary admin (or some su

[2018-09-07 12:26] peterwebster commented on #163
This seems to be OK now @nomoregrapes so assigning to me for the documentation.

[2018-09-07 12:36] peterwebster commented on #187
Tested on production, all good. Closing ticket.

[2018-09-07 12:36] #187 closed, assigned to peterwebster

[2018-09-07 12:55] nomoregrapes commented on #179
Done.

[2018-09-07 13:04] nomoregrapes commented on #180
Done.
Test in Chrome and Firefox.

[2018-09-07 13:07] peterwebster opened #195 "Total number of organisation not populated in Organisations view"
https://henson.durham.ac.uk/organisations

[2018-09-07 13:09] peterwebster commented on #179
All good, many thanks @nomoregrapes

[2018-09-07 13:09] #179 closed, assigned to peterwebster

[2018-09-07 13:11] nomoregrapes commented on #180
This is done.
Tested in Chrome and Firefox.

[2018-09-07 13:12] peterwebster commented on #180
Marvellous @nomoregrapes

[2018-09-07 13:12] #180 closed, assigned to peterwebster

[2018-09-07 15:36] nomoregrapes commented on #109
Only 26 "TODOs" left, but they are all about making the code tidier, possible(not guaranteed) performance increases, or suggesting tasks run as background processes.

If any admin tasks seem slow and need speeding up, these suggestions would be found by the relevant code.

[2018-09-07 15:36] #109 closed, assigned to nomoregrapes

[2018-09-07 15:39] nomoregrapes commented on #195
"over 0 different organisations" is not untrue.

It's doing (69/100)*100 = 0.
So the code will need to be changed to 10s, or it will correct itself once there are 100+ orgs.

[2018-09-07 15:53] nomoregrapes commented on #150
My steps on what needs to be done.
* Decide the desired domain name (mentioned in e-mails, but calling it domain.com here as these issues are public). - done.
* Register domain.com
* Decide how to use subdomains, could be...
  * Wordpress part, use root domain (i.e. https://domain.com) which will map to http://community.dur.ac.uk/henson.project/ (and anything to the right of the url will match)

[2018-09-07 15:59] nomoregrapes opened #196 "Add page titles"
Another stylistic thing that might be considered worthwhile...

Adding page titles (i.e. the text you see on tabs or at the top of the browser).
* [search result for ella](https://henson.durham.ac.uk/?utf8=%E2%9C%93&search_field=all_fields&q=ella) shows "ella - The Henson Journals"
* [bookmarks](https://henson.durham.ac.uk/bookmarks) shows "Bookmarks - The Henson Journals"

But a lot of pages like

[2018-09-10 12:24] peterwebster commented on #181
So, not yet resolved so far as I know, but in hand. Closing ticket.

[2018-09-10 12:24] #181 closed, assigned to peterwebster

[2018-09-10 12:30] peterwebster commented on #195
See #171

[2018-09-10 12:30] #195 closed, assigned to nomoregrapes

[2018-09-10 12:31] peterwebster commented on #195
See #171

[2018-09-10 13:33] #174 closed, assigned to KPalmerHeathman, DurHHHI

[2018-09-10 13:50] #168 closed, assigned to KPalmerHeathman, DurHHHI

[2018-09-17 14:50] KPalmerHeathman opened #197 "Next and previous journal entry links"
![image](https://user-images.githubusercontent.com/32575539/45630727-2cd54a00-ba91-11e8-8657-885ed11e6a38.png)
Sorry to bother you both, but I've tried solving this by myself to no avail. There's a section of Vol 14 where I just cannot get the entries to link together, so I checked in the control sheet and as above, there are 2 entries with the same filename. I'm guessing that's where the problem

[2018-09-17 15:35] KPalmerHeathman opened #198 "Entry title appearing really small"
![image](https://user-images.githubusercontent.com/32575539/45633465-b8ea7000-ba97-11e8-9c08-e908f35e6751.png)
What's up with this?

[2018-09-20 10:39] KPalmerHeathman opened #199 "No italics at all in journal entries!"
I don't know how we haven't noticed this before, but I've just spotted it while checking entries to make public. Italicisation we have put in to represent the marginal lines in the journals is not displaying. Putting it in manually just seems to make the enclosed text disappear altogether. HELP!

[2018-09-20 13:57] peterwebster commented on #199
@KPalmerHeathman could you let me have an example or two?

[2018-09-20 13:59] peterwebster commented on #198
See #151 @KPalmerHeathman @DurHHHI

[2018-09-20 13:59] #198 closed, assigned to nomoregrapes, peterwebster, KPalmerHeathman

[2018-09-20 14:00] peterwebster commented on #197
@KPalmerHeathman do both the files exist, or is one missing (in the repository)?

[2018-09-20 14:03] KPalmerHeathman commented on #199
![image](https://user-images.githubusercontent.com/32575539/45823677-196eec80-bce6-11e8-91bf-9281e0146e96.png)
Above in the cleaned transcription before splitting to XML files. Below as appearing online.
![image](https://user-images.githubusercontent.com/32575539/45823727-428f7d00-bce6-11e8-9d25-c922411270f2.png)

[2018-09-20 14:04] KPalmerHeathman commented on #199
![image](https://user-images.githubusercontent.com/32575539/45823794-66eb5980-bce6-11e8-8e57-957c1fedb408.png)
![image](https://user-images.githubusercontent.com/32575539/45823823-78346600-bce6-11e8-8c7e-4da7c251ff8e.png)

[2018-09-20 14:09] KPalmerHeathman commented on #197
No sign of the entry for the 13th (p. 411).

[2018-09-20 14:10] KPalmerHeathman commented on #151
Sorry!

[2018-09-20 14:11] KPalmerHeathman commented on #151
fixed this example now.

[2018-09-21 13:02] KPalmerHeathman opened #200 "No annotations available"
All of the annotation pop ups in this entry are showing as 'not available', even though there are people who *definitely* have annotations in there...

https://henson.durham.ac.uk/journals/04-01-10-01-22

[2018-09-25 12:55] peterwebster commented on #200
@KPalmerHeathman @DurHHHI  for some reason, the XML has the IDs expressed in the way pre-final conversion (id="123 rather than xml:id="123 )
I fixed the first one (Saxton); could you fix them manually in this case, and then pass it back to me. I shall look into how this one got through without being converted.

[2018-09-25 12:57] #151 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-01 07:51] peterwebster commented on #199
In 03-06-07, these are marked up hi rend="italic bold underline", so I guess that the stylesheet doesn't know what to do with these. Assigning @nomoregrapes

[2018-10-01 08:24] peterwebster commented on #92
@dpl0js raises the logo, on two grounds: firstly that the current 'three Hs' design is "spindly, quite unlike H’s character", and also on the ground that it may not be necessary at all.

Looking back at this ticket, I see that the same second point was raised earlier. I would, however, want to hold out for a logo of some description for the sake of variety in the design, which is already relativel

[2018-10-01 09:11] DurHHHI commented on #92
@peterwebster Apologies if I'm out in left field here, but I do like the logo. Out of the options Gregory put together, the 'H. H. H.', to me, is most distinctive and pulls directly from the journals.

The original image Gregory played with of the cathedral backdrop was also quite nice (though less easy to spot in the original purple) and, given the revised timeline, could support as a clerical sy

[2018-10-01 09:15] KPalmerHeathman commented on #92
Not sure I see the issue with the current logo being unlike Henson's writing, as it is actually Henson's writing, cut directly from the journal page images.  I also think the current one is quite simple and elegant, and agree with Peter on the point of variety.

[2018-10-01 10:00] nomoregrapes commented on #193
Done this and pushed to [test](https://henson-test.durham.ac.uk/journals/00-10-21-11-03).

You can play Spot the Difference...
![journal-line-spacing_1](https://user-images.githubusercontent.com/1181194/46282215-d3791a80-c568-11e8-8bb7-1286473eb193.png)

On the first paragraph (no bold) it's barely noticable which one has more spacing.
![journal-line-spacing_2](https://user-images.githubuserconten

[2018-10-01 10:34] peterwebster commented on #193
@DurHHHI @KPalmerHeathman

Spot the difference:

More space between lines
https://henson-test.durham.ac.uk/journals/00-10-21-11-03

Less
https://henson.durham.ac.uk/journals/00-10-21-11-03

[2018-10-01 10:54] nomoregrapes commented on #199
Not a result of that specific combination, but was an error with any italic text in the content.

Fixed, and will be in the next update.

[2018-10-01 10:57] DurHHHI commented on #193
@peterwebster Maybe it is my browser (chrome) but I'm not seeing much of a difference. Am I supposed too?

[2018-10-01 12:04] peterwebster commented on #193
@DurHHHI @KPalmerHeathman sorry, rather enigmatic, that. The questions are:

(i) is there now enough clearance between underlining and an annotation icon on the line below, and if so)
(ii) since Gregory has achieved that by widening the spacing between lines, is this spacing now too wide?

[2018-10-01 12:16] peterwebster opened #201 "Line and paragraph spacing in WP"
One of the issues raised is this  http://community.dur.ac.uk/henson.project/index.php/journals/2018/hensons-view-on-things/
I'd welcome your view. @KPalmerHeathman @DurHHHI

[2018-10-01 12:23] DurHHHI commented on #201
@peterwebster I have no strong feelings on this. Completely support what you think looks best for the website, and what is feasible to custom within Gregory's limited time. On the question of line space within paragraphs, I agree - I think the spacing looks fine as is.

[2018-10-01 12:33] peterwebster opened #202 "Styling of blockquote in WP"
In these, where <blockquote is used, could we lose the marginal line on the left, and also the italics, and instead indent?
Examples http://community.dur.ac.uk/henson.project/index.php/henson-and-his-journals/

[2018-10-01 12:33] peterwebster commented on #202
FYI @DurHHHI @KPalmerHeathman

[2018-10-01 12:41] peterwebster opened #203 "Page title font size in WP"
These are thought to be too large. Perhaps drop a point size or two, for further feedback.

[2018-10-01 12:43] peterwebster opened #204 "Acknowledgements in WP"
"Under bullet point for staff in Durham University Library, add:
The assistants in the pilot project: Jeremy Bonner and Tom Rodger.

Add to the list of those who have answered enquiries about material in the text, ‘Juliet O’Brien (for help with Latin translations)"

[2018-10-01 12:44] nomoregrapes commented on #186
I fixed this before seeing your 2nd comment. Pushed it to test.

I set it to the expected behaviour for Blacklight. If you remove "Wallis" you get the results for all organisations. In the same way if you do a search for [wife, in journals, limited to vol 15](https://henson-test.durham.ac.uk/?f%5Bhas_model_ssim%5D%5B%5D=Journal&f%5Bvolume_sim%5D%5B%5D=15&q=wife&search_field=all_fields) and remove

[2018-10-01 12:45] peterwebster opened #205 "Annotation principles page: minor amendments"
"The sections on‘Henson’s correspondence’ and ‘Sermons and addresses’ have been conflated.  The last heading needs to be in bold, and that paragraph should be separated from the previous one.

"Under major speeches, perhaps best to use House of lords debates rather than the abbreviation.

[2018-10-01 12:52] KPalmerHeathman commented on #202
I mean, we only used the built in blockquote style because I couldn't work out how to indent, so if anyone can explain how to do it, I don't mind changing it.

[2018-10-01 12:57] KPalmerHeathman commented on #204
Will make these changes now.

[2018-10-01 13:02] #204 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-01 13:05] KPalmerHeathman commented on #205
Done.

[2018-10-01 13:05] #205 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-01 13:15] peterwebster commented on #202
@KPalmerHeathman if it's simple enough for @nomoregrapes (which I think it probably is), we'd be best to use the stylesheet-driven <blockquote for consistency. You could do it directly in each page, but it's fiddly.

[2018-10-01 13:27] peterwebster commented on #201
@nomoregrapes : in WP, the requirement is to amend the vertical spacing between paragraphs, so that it is larger than at present, but definitely not as large as the double space that is used at  http://community.dur.ac.uk/henson.project/index.php/journals/2018/hensons-view-on-things/
(I'm assuming the same style is applied to posts and pages.)

[2018-10-01 13:28] peterwebster commented on #201
There was also the suggestion that the line spacing within paragraphs is too wide. I incline to disagree and opinion is divided, so we'll park that for now.

[2018-10-01 13:33] nomoregrapes commented on #112
This issue was due to specifics on the test/production library servers, and is now fixed and deployed to test.

[2018-10-01 13:42] peterwebster opened #206 "Editorial conventions: minor amendments"
"Under ‘Inconsistencies and idiosyncracies’, remove line gap below the word “Henson’

Not sure if ‘Standardisation of text introduced in the edition’ is clear.  Perhaps ‘Editorial changes to the appearance of the text’, or similar phrase?

Then perhaps revise the sentence, perhaps like this:
‘As Henson’s practice on some textual matters varies, editorial standardisation has been undertaken as foll

[2018-10-01 13:48] peterwebster commented on #203
Also: could you reduce the line spacing before and after lists, by about 20%.

[2018-10-01 13:53] peterwebster commented on #203
And finally: reduce the vertical padding in table cells by about 10%.  The examples that gave rise to the suggestions were in:

http://community.dur.ac.uk/henson.project/index.php/abbreviations/

[2018-10-01 14:10] peterwebster commented on #199
FYI  @KPalmerHeathman    https://henson-test.durham.ac.uk/journals/03-06-07   https://henson-test.durham.ac.uk/journals/03-05-21

Thanks @nomoregrapes . Closing now.

[2018-10-01 14:10] #199 closed, assigned to peterwebster

[2018-10-01 14:17] peterwebster commented on #193
@nomoregrapes this is now a browser variation: for me it looks great in FF, but not so good in Chrome.

![image](https://user-images.githubusercontent.com/5520710/46294088-eb629580-c58c-11e8-988f-b9636bf3e421.png)

Perhaps experiment with a little more extra spacing, or (I'm not sure how easy this is), having a less thick underline?

[2018-10-01 14:22] KPalmerHeathman commented on #206
I've made the second 2 changes but cannot seem to get rid of that line gap without also getting rid of the first bullet point. Also, doesn't it make it inconsistent with the other subheadings?

[2018-10-01 14:25] peterwebster commented on #127
Reopening this, as it seems to be browser-related. See the results in FF (with icons from the third line appearing on the first), and Chrome which is OK.

![image](https://user-images.githubusercontent.com/5520710/46294674-3335ec80-c58e-11e8-8432-69ede17ef2ef.png)

![image](https://user-images.githubusercontent.com/5520710/46294685-392bcd80-c58e-11e8-9031-3214f9225742.png)

If you refresh the page

[2018-10-01 14:29] peterwebster commented on #206
See #203 for the the outstanding point. Otherwise, closing this down.

[2018-10-01 14:29] #206 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-01 15:32] nomoregrapes commented on #103
On most phones, the "grey nav" (Journals, People,...Help) takes up a lot of space.

* We could hide it completely.
* We try reducing the text size and spacing, but that will make it harder to tap the links.
* We could replace it with a standard menu button, which opens/closes that nav. This would still take up some space.
* We could leave it as-is.
* Other clever thoughts?

![mobile-journal](https

[2018-10-02 07:50] peterwebster commented on #103
@nomoregrapes it's actually slightly worse on my phone, as the Journal/People appear in a list rather than spread across horizontally.
I would favour the menu approach. Can you add the five options to the same menu that currently includes Bookmarks and History?

On the font size (in the journal text, I mean): it seems quite small as it is, and certainly shouldn't be reduced. Experiment with a larg

[2018-10-02 07:53] peterwebster commented on #103
On /journals, we may be able to live without the date picker - to discuss.

[2018-10-02 08:17] peterwebster commented on #112
https://henson-test.durham.ac.uk/people/person11000
https://henson-test.durham.ac.uk/places/place10001
https://henson-test.durham.ac.uk/organisations/organisation11111

All these are fine, but there seems to be a continuing issue with references, which I shall need to investigate further. This ticket is a bit long now, so I shall close it and start a new one shortly.

[2018-10-02 08:17] #112 closed, assigned to peterwebster

[2018-10-02 08:22] peterwebster commented on #162
@DurHHHI hi Hilary:  could you have a look at Gregory's list of publication types and see whether it's correct? Do we treat volumes of sermons differently?
Also. we only have one kind of letter?

[2018-10-02 08:27] #184 closed, assigned to peterwebster

[2018-10-02 08:59] peterwebster opened #207 "Implement favicon for both WP and repo"

[2018-10-02 09:58] peterwebster opened #208 "Add New Journal fails"
@nomoregrapes in issue #197 Katie noticed that we have a missing file in volume 14, due to a mistake in the control sheet.
Seeing an opportunity to test the Add New Journal feature, I just tried to create a new journal and paste in the XML, and it failed. On test, in the logs in the last five minutes. Could you check it out today?

[2018-10-02 10:26] peterwebster opened #209 "Total figures in Organisations page not updating"
https://henson.durham.ac.uk/organisations is showing zero while the others seem to be working.

Same on test.

[2018-10-02 10:32] peterwebster opened #210 "Revise Publication Type categories tab in Search"
Another little puzzle for you @DurHHHI .

As we've been discussing in #162 there are now letter-like things under two categories of publication. This doesn't matter all that much, save for at this point, where search resuls are filtered by Book, Periodical, or Other (which includes Poems and *also* Other:Letter.)

Two choices: the manual labour of recategorising existing ones so they fit in the co

[2018-10-02 10:37] peterwebster commented on #186
This looks great; closing down now. Thanks @nomoregrapes

[2018-10-02 10:37] #186 closed, assigned to peterwebster

[2018-10-02 10:39] peterwebster opened #211 "Default search in Places doesn't match Persons/Organisations"
In the other two, the search option selected defaults to match the page. In Places it is still set to 'Journals and annotations'
https://henson-test.durham.ac.uk/places

The behaviour in search will need to match the others, as per #186

[2018-10-02 10:43] peterwebster commented on #92
After email exchanges today, @nomoregrapes to investigate using the Herbert Dunelm signature form as an alternative logo.

[2018-10-02 11:27] nomoregrapes commented on #196
This is now done.

Most of these I'm using the page title, plus the section, plus the site name.
E.g. `Scarletts - Organisations - The Henson Journals` and the index page is `Organisations - The Henson Journals`

For journal entries I skipped the section, because it seemed better to have `4th October 1904 - The Henson Journals`, however the journals index page is still `Journals - The Henson Journ

[2018-10-02 11:29] nomoregrapes opened #212 "WP Search box on mobile"
Need to adjust mobile style.

Only issue is that the search box doesn't fit (and thus causes the vertical blue bar down the right).

[2018-10-02 11:44] DurHHHI commented on #162
Hi @peterwebster - From our previous meetings where I stressed that this must be finalised to support Gregory's build and agreement was obtained, the following categories were settled:

Book:monograph (https://henson.durham.ac.uk/references/ref3)
Book:sermons (https://henson.durham.ac.uk/references/ref2)
Book:edited collection (https://henson.durham.ac.uk/references/ref1)
 
Book chapter (https://h

[2018-10-02 12:15] peterwebster commented on #127
Another example that you may be able to test. This page in FF first loads with the icon out of place (end of the first line of the letter) but if you then hover over it, it jumps back into the correct place.
![image](https://user-images.githubusercontent.com/5520710/46347947-33dd8a00-c645-11e8-8f06-310e9f009488.png)
@nomoregrapes

[2018-10-02 12:19] peterwebster commented on #196
This is looking very good @nomoregrapes : many thanks.

One tiny thing, which in itself doesn't matter much. Is there a reason why the order is different search results: Law - The Henson Journals Search Results, rather than Law - Search Results - The Henson Journals ?  In itself it's fine, but just inconsistent.
https://henson-test.durham.ac.uk/?f%5Bhas_model_ssim%5D%5B%5D=Journal&q=law&search_fie

[2018-10-02 13:33] peterwebster commented on #162
- [x] Book:monograph  (Cross Bench  https://henson.durham.ac.uk/references/ref12)
- [x] Book:sermons   (Light and Leaven  https://henson.durham.ac.uk/references/ref2)
- [x] Book:edited collection (Church Problems  (https://henson.durham.ac.uk/references/ref1)
- [x] Other: Book chapter (https://henson.durham.ac.uk/references/ref63)
- [x] Other:Poem  (Good Friday,  https://henson.durham.ac.uk/refere

[2018-10-02 13:40] nomoregrapes commented on #103
I've pushed my mobile updates to the [test server](https://henson-test.durham.ac.uk/journals). Mobile can be more tricky/surprising, so it might good for you (and @KPalmerHeathman & @DurHHHI ?) to try it out a bit. In particular, keep an eye out for anything that is tricky to click/tab with fingers.

As for /journals, if you choose to keep it then I should at least fix the "Select" button to be at

[2018-10-02 14:18] peterwebster commented on #103
It would be particular helpful if @KPalmerHeathman and @DurHHHI could look at this if they have either or both an iPhone and iPad or other tablet. I only have an Android phone.

[2018-10-02 14:31] KPalmerHeathman commented on #103
Hahaha I have a Windows Phone, everything overlaps horribly but tbh I expect that on my dire phone. I can check on my husband's iPad later.

[2018-10-02 14:38] nomoregrapes commented on #127
I don't think this is the same as the original bug where they appeared directly above (though it's similar enough to be in the same issue).

I can often make them dance all over the page when I resize the Firefox window.
![firefox-troubles](https://user-images.githubusercontent.com/1181194/46354712-2af5b400-c657-11e8-854d-7a342ce465b8.png)

This is bizarre, tricky to recreate with the same result

[2018-10-02 14:41] nomoregrapes commented on #209
It's not wrong.

There are 69 orgs (over 0), it rounds down to 100s.
I think it was expected there would be more orgs, but shall I change this to 10s. I.e. "over 60"?

[2018-10-02 15:05] DurHHHI commented on #103
Iphone is tight - sorry for all the visuals! Don't know if that is helpful to see.

![43062515_548811675562983_7278164245936603136_n](https://user-images.githubusercontent.com/32575577/46357507-f4229c80-c65c-11e8-83a8-2358504d9ba9.jpg)

![42940199_1953430814949690_1064745121645330432_n](https://user-images.githubusercontent.com/32575577/46357501-f08f1580-c65c-11e8-99c3-fc0de8ca7b6d.jpg)

![4306244

[2018-10-02 15:15] nomoregrapes commented on #103
@DurHHHI Visuals demonstrate that you're using production/live and not test. Test should look much better right now (until I update the production/live version tomorrow afternoon).

[2018-10-02 16:26] nomoregrapes commented on #208
I removed the ability to set a few fields (issues, visibility, save to github) when you first create the journal. They would have required more work, and made the code less maintainable. You can edit the journal as soon as you've created it.

As a bonus, the content is default filled with the standard XML. If you click in that box you can do Control+A (select all) and delete it before pasting in a

[2018-10-02 16:29] nomoregrapes commented on #196
Good spot, that's a terrible & ugly inconsistency from Samvera/Blacklight. I since tried overriding the title on search results but it hasn't taken.

Leave this assigned to me and I might manage to fix it later.

[2018-10-03 05:39] peterwebster commented on #196
@nomoregrapes thanks Gregory. As I said, not a big deal.

[2018-10-03 05:55] peterwebster commented on #103
@nomoregrapes here are my suggestions (on the repo):

- [x] on the site-wide search box, lose the filter drop down: 'journals and annotations' will never fit if we are to leave enough space for the search field itself. Users can either limit their results by type, or go to the Persons/Orgs pages, so no functionality is actually lost.

- [x] The date picker could stay, but could we reduce the width

[2018-10-03 06:00] peterwebster commented on #127
Yes, I agree @nomoregrapes . I shall close this now.

[2018-10-03 06:00] #127 closed, assigned to peterwebster

[2018-10-03 07:28] peterwebster commented on #171
See #209

[2018-10-03 07:28] #171 closed, assigned to peterwebster

[2018-10-03 07:37] peterwebster commented on #209
Apologies @nomoregrapes I remember we've been round the houses on this one before.
As it isn't clear when there will be many more organisations or places, on those two pages remove the number and just have the text:
"Search below for organisations mentioned in the Journals"
"Search below for places mentioned in the Journals

Perhaps comment out the code for now, as we may in time restore this as a

[2018-10-03 08:00] peterwebster commented on #183
@nomoregrapes it looks as if you've removed the icon, for which thanks.

If anyone tries to access any of the management URLs (new person, edit ref), should redirect to the login page.

(At the moment, this https://henson-test.durham.ac.uk/journals/new is accessible when not logged in, although one can't save (I think).

[2018-10-03 08:38] nomoregrapes commented on #209
Done.

[2018-10-03 09:24] peterwebster commented on #182
@nomoregrapes as we've now acted on #183 and hidden the login link, I'm unassigning you from this. One probably for the next sprint but one.

[2018-10-03 09:28] peterwebster commented on #208
This one we discussed this morning, a bug in relation to the saving of the date.

[2018-10-03 09:31] peterwebster commented on #209
Many thanks @nomoregrapes . Closing this one down now.

[2018-10-03 09:31] #209 closed, assigned to peterwebster

[2018-10-03 09:36] peterwebster commented on #47
As this has not been raised during the acceptance period, closing ticket.

[2018-10-03 09:36] #47 closed, assigned to nobody

[2018-10-03 09:54] peterwebster commented on #89
While in and out of the text in the last weeks of August and then this week, I've not seen any character issues in the XML, so I close this ticket and they can just be fixed in the GUI as and when anyone sees them.

[2018-10-03 09:54] #89 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-03 10:03] peterwebster commented on #98
Faked this, tested it, reverted to correct content. All fine.

[2018-10-03 10:03] #98 closed, assigned to peterwebster

[2018-10-03 10:09] peterwebster commented on #130
@KPalmerHeathman @DurHHHI I think this is now covered by #147 so closing this one down.

[2018-10-03 10:09] #130 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-03 10:15] #161 closed, assigned to peterwebster

[2018-10-03 10:26] nomoregrapes commented on #211
Done.

[2018-10-03 10:28] peterwebster commented on #211
Indeed it is. Many thanks @nomoregrapes

[2018-10-03 10:28] #211 closed, assigned to peterwebster

[2018-10-03 10:29] nomoregrapes commented on #208
This is now fixed.
I've tested it in creating a journal and editing a journal. You could try it on TEST by editing those two (00-11-12 and 00-11-13) to put in the dates.

[2018-10-03 10:33] peterwebster commented on #208
The date isn't showing in the edit view for either https://henson-test.durham.ac.uk/journals/00-11-13/edit and the pages won't load. @nomoregrapes

[2018-10-03 10:38] peterwebster commented on #104
Nothing to do here, closing ticket.

[2018-10-03 10:38] #104 closed, assigned to peterwebster

[2018-10-03 10:40] nomoregrapes commented on #208
I looked a second after your comment and it seems the server was restarting due to my push (bit delayed compared to when it normally does).

The dates aren't there (yet), because it saved them as blank during the bug.
I've added one date in, it works now.

[2018-10-03 10:54] #208 closed, assigned to nomoregrapes

[2018-10-03 11:22] nomoregrapes commented on #103
Changes made.

[2018-10-03 11:33] DurHHHI commented on #85
Hi @peterwebster @KPalmerHeathman has worked through this with the 14/15 entries that she has manually made public one by one. We've noted and will catch any remaining that might be lurking since the entire V14/15 has been made public when we move in and out of the repository. I think safe to close and we'll address as/when/if we see them?

[2018-10-03 11:45] DurHHHI commented on #134
Done!

[2018-10-03 11:45] #134 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-03 11:46] DurHHHI commented on #140
Hi @peterwebster As with the previous github ticket, @KPalmerHeathman has worked through this with the 14/15 entries that she has manually made public one by one. We've noted and will catch any remaining that might be lurking since the entire V14/15 has been made public when we move in and out of the repository. I think safe to close and we'll address as/when/if we see them?

[2018-10-03 12:03] DurHHHI commented on #147
This can close I think - we're on the look out for these. I've just recently been through the Persons TSV to clear out extra characters. Pulled out quite a few surplus '?' but, in doing so, ready for next ingest.

[2018-10-03 12:11] peterwebster commented on #197
Could you start here  https://henson.durham.ac.uk/journals/00-11-12 and work through and see if everything is now in order? If so, close this ticket.  @KPalmerHeathman

FYI (and @DurHHHI ): if you find that the forward or back links are missing in any journal page, if you Edit, you'll find that the PrevJournal and NewJournal are probably not complete. Fill these in and it should solve the problem,

[2018-10-03 12:12] peterwebster commented on #147
OK, closing this down now.

[2018-10-03 12:12] #147 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-03 12:13] peterwebster commented on #140
Always pleased to close a ticket @DurHHHI ;-)

[2018-10-03 12:13] #140 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-03 12:16] #85 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-03 12:34] KPalmerHeathman commented on #197
All good, thanks and closed!

[2018-10-03 12:34] #197 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-03 12:37] peterwebster commented on #103
OK, I think we live with this for a while and play with different devices, and create new tickets as and when we want to change anything. @nomoregrapes

[2018-10-03 12:37] #103 closed, assigned to peterwebster

[2018-10-03 12:38] DurHHHI commented on #200
@peterwebster Starting to fix this and noticing that even with the xml:id fix, some annotations still not displaying. These are likely set to not display in the first place. What action to I manually input to tell them they can go back and hide their icons?

[2018-10-03 12:42] peterwebster commented on #200
In this entry, if you add display="no" within the <person element (or org etc), that should do it. @KPalmerHeathman

[2018-10-03 12:45] DurHHHI commented on #200
so <persName xml:id "???" display="no">?

Also, running into some funny formatting with the baptismal candidates. @peterwebster @KPalmerHeathman

[2018-10-03 12:49] peterwebster commented on #200
Just so.

On the candidates: can you live without the lists within table cells? If so, taking those out should help.  @KPalmerHeathman

[2018-10-03 13:19] nomoregrapes commented on #201
If you look at the source of the page, Wordpress seems to deal with typical writers in a good way.
* Single return, creates a line break `<br>`
* Double return, instead of a line break stops the paragraph and starts a new one `</p><p>`

I've reduced the gap between paragraphs(p tags), but left the line break (br) as-is.

This avoids you having to edit all the content, and reserves the ability for

[2018-10-03 13:46] peterwebster commented on #201
OK: closing this now but cc to @KPalmerHeathman @DurHHHI for information.

[2018-10-03 13:46] #201 closed, assigned to peterwebster

[2018-10-03 13:49] peterwebster commented on #202
@nomoregrapes the blockquote style seems to be as it was before? See the link at the top of the ticket.

[2018-10-03 13:59] peterwebster commented on #97
Added this now @DurHHHI

[2018-10-03 13:59] #97 closed, assigned to peterwebster

[2018-10-03 14:04] peterwebster commented on #203
- [x] Cell padding
- [x] Line spacing
- [x] Title font size

[2018-10-03 14:07] peterwebster commented on #203
Looks to me like these are all done @nomoregrapes ? Closing ticket, and paging @DurHHHI @KPalmerHeathman for info.

[2018-10-03 14:07] #203 closed, assigned to nomoregrapes

[2018-10-03 14:08] nomoregrapes commented on #203
Yep, just finished them now.

[2018-10-03 14:09] peterwebster commented on #202
Thanks @nomoregrapes : closing this now, and paging @KPalmerHeathman @DurHHHI for information about the change: site-wide style change for <blockquote

[2018-10-03 14:09] #202 closed, assigned to nomoregrapes

[2018-10-03 14:46] nomoregrapes commented on #212
This is now done.

[2018-10-11 08:07] #175 closed, assigned to peterwebster

[2018-10-11 12:08] peterwebster commented on #212
On my phone, the options in the dropdown are often too long to fit in the space once selected, and I'm reluctant to reduce the size of the text box.
We could do the same here as we did on the repo: remove the dropdown and have just the box, defaulting to Journals and Annotations.

[2018-10-11 12:10] peterwebster commented on #196
@nomoregrapes assigning this to me for the time being, as I think there are other things ahead of this in the queue.

[2018-10-11 12:17] peterwebster commented on #210
I'd welcome your thoughts on this one @DurHHHI

[2018-10-11 12:19] DurHHHI commented on #210
@peterwebster ! Sorry, I completely missed this. Hide the filter is my two cents.

[2018-10-11 12:38] peterwebster commented on #210
Agreed @DurHHHI

@nomoregrapes could we remove (comment out) the Publication Type filter in search results, as we've discovered a wrinkle in the data which results in misleading results.  It could potentially be reenabled in the future if we decided to reclassify some References to iron out the issue.

[2018-10-11 12:48] peterwebster opened #213 "Formatting issues in display of references"
Transferring various things from #162 for clarity. @DurHHHI

[2018-10-11 12:52] peterwebster commented on #213
**Page ranges and p. or pp.**

@nomoregrapes asked:  "Should pageRange be preceded with "p" (and "pp" if the range includes a hash)? Or is it fine as it is?"
@DurHHHI replied: " no pp. or p. to be included, just the page number(s). So example ref14 is fine as stands."

Is this the case for all publication types? Or, is what we're doing already correct across all types.

Hilary confirms: "@peterweb

[2018-10-11 12:56] DurHHHI commented on #213
@peterwebster - there should be no pp. or p. for any of the publication types - I don't believe I saw any when searching across types, but just in case, no. pp. or p. ;)

[2018-10-11 13:09] peterwebster commented on #213
**Poems**

@DurHHHI : "Poems are missing publication place and publication year."

So https://henson.durham.ac.uk/references/ref61 should read:
_Hymns selected from Faber_ (Place, Year)

[2018-10-11 13:15] peterwebster commented on #213
**Letters**

@DurHHHI :  "With the Other:Letter option –  ( https://henson-test.durham.ac.uk/references/ref108 ), it should reflect as H. H. Henson, letter, 'The church and the law', _Westminster Gazette_, 7 Sep 1907, 1. with letter, inserted between author and article title.
The format, if possible, also needs to account for capital L Letter if there is no author attributed to the letter. Ex. Let

[2018-10-11 13:16] peterwebster commented on #213
**Edited collections: spacing**

In edited collections - there appears to be a space between ‘ed.’ and the comma (ex. ‘ed. , Church problems’).

[2018-10-11 13:17] peterwebster commented on #213
**Across all type:  spacing between subtitle and title**

Where there is a colon separating title from subtitle, there appears to be an additional space between front title and the colon (ex. church problems : a view of modern Anglicanism). This should be removed.

[2018-10-11 13:42] peterwebster commented on #213
**Date format**

June and July should be printed out in full:  https://henson.durham.ac.uk/references/ref40

cc @DurHHHI

[2018-10-11 14:44] peterwebster commented on #162
Consider implications of renaming Other:Letter >  Periodical:News:Letter and thus moving it down and across levels in the hierarchy ( and thus probably solving #210 )

[2018-10-11 14:49] peterwebster opened #214 "Stylesheet treatment of <hi> elements without attributes"
Volume 18 has (for various reasons) a number of <hi elements that perform no functions, but are hard to remove by script without upsetting the well-formedness.

@nomoregrapes must these come out, or will the stylesheet simply disregard them?

In the case below, the <hi in the first paragraph is superfluous, but that in the second paragraph has a real impact.

`<p>
<hi><persName id="112">Ella</pers

[2018-10-16 08:23] peterwebster commented on #162
To discuss with @nomoregrapes on Thursday.

[2018-10-17 08:28] nomoregrapes commented on #210
so...
On search, remove the left-hand "Publication Type" filter? Keep the other filters there when relevant (e.g. Type, Volume, etc).

[2018-10-17 08:40] nomoregrapes commented on #214
So long as every tag is respectively closed, this is still well-formed and won't be an issue.

[2018-10-17 13:23] nomoregrapes commented on #192
This is now done, and available on [test](https://henson-test.durham.ac.uk/bookmarks).

When opening a CSV file, LibreCalc asks how it is delimited (commas, quoted fields). I think Excel usually insists it's guess is correct so could somebody try downloading their Henson bookmarks and opening the file in Excel.

The file is based on the format in the citation view. We can change it around if you w

[2018-10-17 15:40] nomoregrapes commented on #106
Not done yet.

Part of the way there, I've added a demonstration to the Journal editing page.
* Find a journal and click edit.
* Change something in the content (don't click update), like removing a `>`
* Click the "Refresh preview" button
* A red box will appear if there is an XML error, although it continues to find a way to cope & the preview might look the same.
* Fix the errors, click "refres

[2018-10-18 08:10] nomoregrapes commented on #162
Along with the new type, there is the display of the date...
The month should be as 3 letters, except a special case for June and July in full? Or any/all months should be in full?

[2018-10-18 10:07] nomoregrapes commented on #106
The log page reads from top to bottom, and will show messages like this.
![henson-log-xml-errors](https://user-images.githubusercontent.com/1181194/47146555-32a69100-d2c4-11e8-9155-0c312dac37f5.png)

Journal entries without problems won't be listed.
I can't do a total count of how many journals had XML errors, because they're checked as individual tasks (using the process queue) after the control

[2018-10-18 10:58] nomoregrapes opened #215 "Unknown tag: term"
In the XML for [01-01-19](http://henson.durham.ac.uk/journals/01-01-19) there are some `<term xml:id="3">` tags.

Term isn't one of our annotation types, so are those supposed to be something else, or is it an annotation type that was abandoned?
Not causing a problem in my view, as the system just ignores them.

There is however a mistake in that file that stops it being well-formed XML. You might

[2018-10-18 11:09] DurHHHI commented on #215
@nomoregrapes definitely not something katie and i were implementing as per old rules

[2018-10-18 11:11] DurHHHI commented on #162
@nomoregrapes, three letters for all months save for June and June in full [and, by default, May]

[2018-10-18 11:26] nomoregrapes commented on #106
**Notes for usage documentation...**

False error to be aware of... `EntityRef: expecting ';'`  that occurs when an entity isn't followed by a space, e.g. `M&amp;Ms`.
I think that is fine & valid, but if I suppress the error (as I have for other false errors) then it would also suppress where it is a true error about the entity, e.g. `So &amp So` missing the semicolon.

If there are errors, then I

[2018-10-18 12:13] peterwebster commented on #215
Yes: term was in the first version of the scheme but was subsequently dropped. If they are doing no harm, they I don't intend to remove them.  @nomoregrapes

XML issue deal with.

[2018-10-18 12:13] #215 closed, assigned to peterwebster, KPalmerHeathman, DurHHHI

[2018-10-18 12:17] peterwebster commented on #214
@KPalmerHeathman @DurHHHI here's the answer to the issue we had with volume 18. <hi tags without any attributes:

`<hi>words</hi>`
are just ignored. See it in action  https://henson-test.durham.ac.uk/journals/04-11-20

Does that resolve the issue?

[2018-10-18 12:20] DurHHHI commented on #214
@peterwebster Yes perfect - no manual removals necessary unless caught between tags. Woot!

[2018-10-18 12:35] peterwebster opened #216 "Display of annotations without narrative"
As discussed, there are three options for this.

First (and most expensive in dev time) is to have an option, from people/person123 (and equivalents for other types), to Reveal All.
This runs through the index, then through the XML containing instances of person 123, rewriting the element to remove/override the display=no attribute. Not favoured.

Second: on loading a journal entry, application ch

[2018-10-18 12:56] nomoregrapes commented on #106
These are the journals (on the test server) that have XML errors/issues.

[code]

If you don't understand any of the error details on them, let me know and I can explain.

[2018-10-18 13:20] peterwebster commented on #216
Third (and my favoured option) is to amend the current popup such that, if the annotation is effectively empty, the space closes up,.

For all annotations exception <ref, the test is: is the Narrative field empty?
For <ref, the test is: are all three of the date fields empty?

If these tests are positive, then the popup shows:

(i) the name
- that's just a single field for Places and Organisations

[2018-10-18 13:21] peterwebster commented on #216
NOT YET A REQUIREMENT; logging options for reference. @nomoregrapes

[2018-10-18 13:31] #214 closed, assigned to KPalmerHeathman, DurHHHI

[2018-10-18 14:34] peterwebster commented on #210
Since we're proceeding in #162 with renaming Other:Letter to Periodical:Journal:Letter and thus removing the issue (since all letters are now badged as in one or other type of periodical and are thus filtered as such), I can close this one down. @DurHHHI FYI.

[2018-10-18 14:34] #210 closed, assigned to peterwebster

[2018-10-18 14:44] peterwebster opened #217 "Logo (revised)"
@nomoregrapes is experimenting with Henson's full signature as Herbert Dunelm. New ticket, as the previous one is now very long (#92 )

[2018-10-18 14:44] peterwebster commented on #92
Superseded now by #217

[2018-10-18 14:44] #92 closed, assigned to peterwebster

[2018-10-18 14:46] peterwebster commented on #207
Depends on completion of #217

[2018-10-18 14:49] peterwebster commented on #183
@nomoregrapes thinking about this, the second point seems an unlikely usecase, so I think we can ignore it for now. So, the first one might be a quick win when you're waiting for something else.

[2018-10-18 15:06] peterwebster commented on #192
@KPalmerHeathman @DurHHHI could one of you who has Excel test this out: go to the test server, bookmark some things, hit Download in the Bookmarks page and see what happens when you open the file in Excel?
Being a Microsoft refusenik, I can't test this one.

[2018-10-19 05:47] peterwebster commented on #192
@nomoregrapes tested this out this morning, and the file and the formatting look fine. However, it only outputs the first page of bookmarks; I think the expected behaviour will be that it outputs them all.

[2018-10-19 08:00] peterwebster commented on #106
Does the 'Refresh Preview and Check XML' only work for some errors @nomoregrapes?

I ask because this one has a missing quote in an attribute towards the end, but the check doesn't throw an error https://henson-test.durham.ac.uk/journals/03-10-25-11-04/edit
However, it *is* one of the list generated above.

[2018-10-19 08:22] peterwebster opened #218 "Published items showing as unpublished on production"
Here, I'm not logged in, and am seeing things that I think must therefore be set to publish, but the GUI tells me they are unpublished.

![image](https://user-images.githubusercontent.com/5520710/47206391-6fd05900-d380-11e8-9035-c504cbd07590.png)

![image](https://user-images.githubusercontent.com/5520710/47206427-85458300-d380-11e8-9e6c-e12edbb9743f.png)

[2018-10-19 08:44] peterwebster opened #219 "Wrong display of organisation/reference names"
If the user performs a search at either /organisations or /references, and then removes the filter, the resulting list does not show the names for the annotations, just the IDs.

[2018-10-19 09:05] nomoregrapes commented on #160
Partially done, but now I'm holding off work on this to first work on the bugs.

[2018-10-19 10:29] nomoregrapes commented on #106
As discussed...
That journal is too long for the check to run (it doesn't show a red or green result for checking errors, and the preview doesn't update). I just need to deploy to test server for the bug fix to be applied.

[2018-10-19 10:33] nomoregrapes commented on #219
I think I have solved this, and names are showing on production where previously they weren't.

Several references still show their ID, but when you click them the reference/page doesn't exist. The reason they show in results, I think is caused by #218. We could keep this ticket open until I've fixed that.

[2018-10-19 10:46] nomoregrapes commented on #218
**In short:** I'm going to see if a server restart fixes this when I push to production.

**Background**
I think the cause might be related to me returning to work after a period of absence.
My laptop IP address had changed, so I had to restart Solr (on Boguslaw's Helios server) which is used by all servers (dev, test, production). It may be that the Rails server (run by CIS for the library) needs

[2018-10-19 11:33] peterwebster commented on #219
@nomoregrapes should it be fixed on test then? On this page https://henson-test.durham.ac.uk/?page=3&search_field=only_organisations both items 26 and 27 (one showing correctly, one not) have broken links

[2018-10-19 12:57] nomoregrapes commented on #213
A lot of these are issues I haven't been able to test before, the URLs of examples really helps.

Still in progress & notes...
**Letters** not showing "letter", this works on dev but not on test. I need to check why.
**Edited collections** spacing, was a trailing space in the data. I've visually fixed it, I've also updated the references ingest so most fields will get trailing spaces removed when

[2018-10-19 13:06] nomoregrapes commented on #213
Letters was only showing for Other:Letter:letter, and we seem to be going with Other:Letter.

All the formatting tweaks in this issue should now be done, and on test.

[2018-10-19 13:53] nomoregrapes commented on #192
FYI...
After the first page(10) bookmarks, the order might not be matched between the CSV and the web page. It will potentially be slow if you have loads of bookmarks.

This is now done.

[2018-10-19 14:15] peterwebster opened #220 "Link to New Note from existing"
For discussion next time (to see how much time there is available) @nomoregrapes : to create an 'Add New Note' option that works in the same way as New Person, New Reference etc.

[2018-10-19 14:17] peterwebster commented on #220
Ah, no, found it: so, requirement is to add a link to https://henson.durham.ac.uk/notes/new from the footer of existing ones, to match the other annotation types. @nomoregrapes

ie. from here  https://henson.durham.ac.uk/notes/note12

[2018-10-19 14:36] peterwebster commented on #192
This is great @nomoregrapes . I think there are probably things we might (in the longer term) consider adding to this download, such as date information and other associated data, but for now I shall close the ticket.

[2018-10-19 14:36] #192 closed, assigned to peterwebster

[2018-10-19 15:18] nomoregrapes commented on #212
Done.

[2018-11-07 13:18] peterwebster commented on #219
This is still an issue on test:  see https://henson-test.durham.ac.uk/?utf8=%E2%9C%93&search_field=only_organisations&q=Oxford and then remove the filter.

[2018-11-07 13:23] peterwebster commented on #212
Magic, thanks @nomoregrapes . Closing this one down.

[2018-11-07 13:23] #212 closed, assigned to peterwebster

[2018-11-07 13:40] peterwebster commented on #213
**Testing**

- [x] Letters
- [x] Date format
- [x] Titles and subtitles
- [x] Edited collections spacing
- [x] Poems

[2018-11-07 14:46] #216 closed, assigned to nobody

[2018-11-12 08:50] peterwebster opened #221 "Rewording in annotation pop-ups"
Tiny change:  where it currently reads 'Other journal mentions', change to 'Other journal references'

It also needs to be changed here:  https://henson-test.durham.ac.uk/people/person117 (and in the same place for each annotation type).

[2018-11-12 09:11] peterwebster opened #222 "Issue with date sorting in search results"
Possibly related to #218, but the date sorting seems to fail here. This was a search using the date picker for the whole of 1900, run from /journals

https://henson.durham.ac.uk/?utf8=%E2%9C%93&search_field=only_journals&q=&start_year=1900&start_month=1&start_day=1&end_year=1900&end_month=12&end_day=31

[2018-11-12 09:49] peterwebster opened #223 "Rearrangement of date picker"
As discussed:

1. All drop downs to default to [select year / select month / select day]
(I realise this will pull the sizing around)

2.  Select a particular day [to match the narrative text above]
[ select year / select month / select day ]

3. Select a range of dates
 [box A to box B as it is at the moment.]
[

[2018-11-12 11:17] peterwebster commented on #106
Checked that example, looks good.

So, assigning to me for later feedback when we come to ingesting 16, whenever that turns out to be. @nomoregrapes

[2018-11-12 11:20] peterwebster commented on #67
Now superseded by #223

[2018-11-12 11:20] #67 closed, assigned to nobody

[2018-11-12 11:40] peterwebster opened #224 "Attempts to access management pages to redirect to homepage"
We should review all the pages such as the dashboard, annotation/new, annotation/1234/edit etc to check that they all redirect to the homepage.

(At the moment, this https://henson-test.durham.ac.uk/journals/new is accessible when not logged in, although one can't save (I think).

Better to redirect here (although less convenient for the team) because we don't really want lots of attempted logins

[2018-11-12 11:46] peterwebster commented on #224
All the new annotation views redirect correctly.

[2018-11-12 11:50] peterwebster commented on #224
As are all the annotation/edit views.  Looks like there's just an issue with the one, journals/new

[2018-11-12 13:44] peterwebster opened #225 "Report Issue link in repo footer"
Probably on Wednesday, we should add a link to the repo footer, with text 'Report an issue' which goes to http://community.dur.ac.uk/henson.project/index.php/project-updates/2018/report-an-issue/

[2018-11-12 13:54] peterwebster commented on #200
@KPalmerHeathman @DurHHHI Julia reported to me that this one was missing from search results (which is the case). I thought it was something to do with the search itself, but it is set to Admin only. Just to flag it up again.

[2018-11-12 16:13] nomoregrapes commented on #220
Actually, none had the "New" link on the page for a specific annotation, the link is on the type index page i.e.  https://henson.durham.ac.uk/notes/
There isn't a menu link to the Notes page so that's why it's probably not found.

Nevertheless, I've added a "New x" link to those specific annotation pages, for all types (People, Notes,....)

Deployed to test-server, will be on production when we de

[2018-11-13 09:07] peterwebster commented on #220
@nomoregrapes found the link from /notes/note123 to notes/new - that's great, thanks.

But right now there is a 500 error if one tries to create a new note from notes/new. Possibly related to #218

[2018-11-13 09:17] peterwebster opened #226 "Add GUI functionality to delete annotations"
At present, it is possible to add, amend and depublish annotations, but there is a use case where one might need to be removed entirely.

[2018-11-13 09:20] peterwebster opened #227 "Allow the editing of the type field for references"
At present, it is not possible to change the type for a reference in the GUI, so misclassified ones in the TSV can't be undone without depublishing it, creating a new reference with new ID, and manually amending the XML.

[2018-11-13 09:25] peterwebster commented on #194
Decided that this is sufficiently marginal a case that it will be enough to keep a manual list of whichever this applies to, and manually reset them to Admin after each new ingest.

[2018-11-13 09:44] peterwebster commented on #220
I created new persons and new places OK, so it would seem that the issue is only with notes/new

[2018-11-13 09:52] peterwebster commented on #194
Documented now, closing ticket.

[2018-11-13 09:52] #194 closed, assigned to peterwebster

[2018-11-13 10:40] peterwebster commented on #163
On reflection, this seems self-explanatory, so closing ticket.

[2018-11-13 10:40] #163 closed, assigned to peterwebster

[2018-11-13 11:19] nomoregrapes commented on #221
This is done.
I will change issue assignment from me to Peter when I've pushed it to test-server.

[2018-11-13 11:30] nomoregrapes commented on #162
This (June/Jun thing) was done on the 19th October. I think it also got mentioned in another ticket, but I can't remember which one.

[2018-11-13 11:45] nomoregrapes commented on #224
Journals the admin check was missing from the new page (and missing if you clicked save). Now added.
Not yet pushed to test-server, I'll change this issue from me to Peter when I do that.

As a double-check, I've looked at the code for all other pages and nothing is missing.

[2018-11-13 11:58] nomoregrapes commented on #193
I thought I had fixed this, and it looks okay in Chrome (Linux). @peterwebster could you [look again](https://henson.durham.ac.uk/journals/00-10-21-11-03) for me?

[2018-11-13 13:57] peterwebster commented on #221
@nomoregrapes I see this on test, many thanks. Closing ticket now.

[2018-11-13 13:59] peterwebster commented on #224
Looks as though this is pushed to test now @nomoregrapes : all great. Closing ticket now.

[2018-11-13 13:59] #224 closed, assigned to peterwebster

[2018-11-13 14:03] peterwebster commented on #193
@nomoregrapes yes, not sure how this one slipped through the net; I just had a look in FF, Chrome and IE (all on Windows) and it looks fine. So, closing the ticket.

[2018-11-13 14:03] #193 closed, assigned to nomoregrapes

[2018-11-13 14:09] peterwebster commented on #162
Yes, I've seen the June/Jun part elsewhere too @nomoregrapes

I think the outstanding part is the Other:Letter type becoming Periodical:News:Letter.  I don't know how best to do this:  mapping/redirection, or rewriting the data itself.

I don't think this can be done in the GUI, as the reference/edit doesn't allow a change of type.  ( See #227 which is not a priority now )

[2018-11-13 14:15] peterwebster commented on #221
I spoke too soon: we should change it here too  https://henson-test.durham.ac.uk/?utf8=%E2%9C%93&search_field=all_fields&q=law   @nomoregrapes

[2018-11-13 14:25] peterwebster opened #228 "Links from annotations to essays"
@KPalmerHeathman @DurHHHI

We didn't implement this in a database-driven way because it involves linking from the repository to Wordpress. However, if and when it becomes a priority, it can be done fairly easily. In the annotation, you just need to add the HTML directly:
`<a href="webaddress.com">See the essay on this</a>`

See the note on page 424 here https://henson-test.durham.ac.uk/journals/00

[2018-11-13 14:46] peterwebster commented on #219
@nomoregrapes this seems now to be fixed on test, probably as a result of the Solr issue we discussed. Is there any reason to keep it open until it is fixed on production? As it seems to be not an issue in itself but an artefact of the Solr issue, perhaps not?

[2018-11-13 14:51] nomoregrapes commented on #220
Not related to that. This was a typo in the code for creating notes.

Fixed now, and on test-server.

[2018-11-13 15:05] peterwebster commented on #183
This was duplicated elsewhere, and is now dealt with anyway, so closing ticket now.

[2018-11-13 15:05] #183 closed, assigned to nomoregrapes

[2018-11-13 15:07] peterwebster commented on #220
Great @nomoregrapes this is fine now. Closing ticket.

[2018-11-13 15:07] #220 closed, assigned to peterwebster

[2018-11-13 15:12] peterwebster opened #229 "Context-sensitive show of filter options in search results"
@nomoregrapes something to think about for some later visit, maybe.

Searches like this, which contain no results from journals, still show the option to search by relevance and by journal date.  https://henson-test.durham.ac.uk/?utf8=%E2%9C%93&search_field=only_people&q=knowling

We could have it drop out, or think about other sort criteria (though I'm not sure what).

[2018-11-13 15:18] peterwebster commented on #228
Once @DurHHHI @KPalmerHeathman have seen this, do shut the ticket down. It will still be there in the closed tickets if you need to look it up.

[2018-11-13 15:29] #228 closed, assigned to nobody

[2018-11-13 15:48] DurHHHI commented on #200
Thanks for the reminder @peterwebster. This has now been corrected. Closing ticket.

[2018-11-13 15:48] #200 closed, assigned to KPalmerHeathman, DurHHHI

[2018-11-13 15:51] nomoregrapes commented on #219
It makes sense that this would be connected to the Solr issue. Closing the ticket.

[2018-11-13 15:51] #219 closed, assigned to nomoregrapes

[2018-11-13 16:03] nomoregrapes commented on #229
Relevance would still be relevant (it's the order Solr thinks you wanted results) and I think is the only field that crosses all types of results.

You could do "number of journal mentions/references" but I'm not sure how easy that is to make an option, or how much it might slow down the search.

[2018-11-13 17:07] DurHHHI opened #230 "slanted and straight quotation marks"
https://henson.durham.ac.uk/journals/05-01-10-01-12

Hey @peterwebster - apologies, just saw this today and wonder if the quotation presentation is a fluke, or if there needs to be further intervention. All LHS quotation marks presenting slanted, with RHS presenting straight.

FYI @KPalmerHeathman

[2018-11-14 08:46] peterwebster commented on #213
These all look good to me on test, so closing this one down.

[2018-11-14 08:46] #213 closed, assigned to peterwebster

[2018-11-14 08:53] peterwebster commented on #230
Apologies @DurHHHI @KPalmerHeathman : not sure what happened here. In the XML they showed as straight; I went in and just deleted and retyped as straight, and they are now OK. Keep an eye out for these, although I think that for 14 and 15 we're now too far gone to be intervening offline and reingesting whole volumes, so it's a manual fix. Annoying, I realise.

[2018-11-14 08:53] #230 closed, assigned to nobody

[2018-11-14 09:05] peterwebster commented on #218
@nomoregrapes I think this ticket is now dealt with, so closing it now.

[2018-11-14 09:05] #218 closed, assigned to nomoregrapes

[2018-11-14 09:13] peterwebster commented on #196
As this is native to Samvera, I'm going to close this one. @nomoregrapes had one attempt at overriding it but it didn't take, and I don't think it a good use of time to try too much more. It is a very long way down the queue.

[2018-11-14 09:13] #196 closed, assigned to peterwebster

[2018-11-14 09:17] peterwebster commented on #146
As this has occasioned no more comment since July, closing it now.

[2018-11-14 09:17] #146 closed, assigned to peterwebster

[2018-11-14 09:47] peterwebster commented on #227
For now, in order to replace one annotation with another with the correct type, create single line TSV and ingest as Update.

[2018-11-14 09:58] peterwebster commented on #226
See #227

[2018-11-14 09:58] #226 closed, assigned to nobody

[2018-11-14 10:33] nomoregrapes commented on #225
Done and on testing.

[2018-11-14 10:34] nomoregrapes commented on #221
Done and on testing

[2018-11-14 10:42] peterwebster commented on #221
Magic @nomoregrapes : closing now.

[2018-11-14 10:42] #221 closed, assigned to peterwebster

[2018-11-14 10:44] peterwebster commented on #225
Marvellous @nomoregrapes . Closing now.

[2018-11-14 10:44] #225 closed, assigned to peterwebster

[2018-11-14 10:58] peterwebster opened #231 "Footnote correction"
Looks like there's a missing word here. https://henson.durham.ac.uk/notes/note23

[2018-11-14 11:12] KPalmerHeathman commented on #231
Thanks, sorted now.

[2018-11-14 11:12] #231 closed, assigned to KPalmerHeathman, DurHHHI

[2018-11-14 12:57] nomoregrapes commented on #223
This is now done and [on testing](https://henson-test.durham.ac.uk/journals)

* I've been able to simplify the code so it's more readable/maintainable
* The date search should correctly find dates within multi-day-journals where it wasn't always doing that before.
* If any option is unset, it will use 1900/Jan/01 as needed.
* The top of the results should now report the date searched for, with an

[2018-11-14 13:11] peterwebster opened #232 "Rogue Date"
I think the date range data here is incorrect   https://henson.durham.ac.uk/journals/02-12-04-12-07

[2018-11-14 13:21] peterwebster commented on #223
@nomoregrapes this looks good to me, and Katie has had a look to. Go ahead and do the same on WP.

[2018-11-14 13:21] peterwebster commented on #223
@nomoregrapes although, perhaps align the search box on the left with the headings and the two picker boxes below it; in FF it is slightly displaced left.

[2018-11-14 13:22] DurHHHI commented on #232
?? Not sure what you mean @peterwebster - apologies - just checked and 4 December appears to be a Thursday in 1902.

@KPalmerHeathman

[2018-11-14 13:29] peterwebster commented on #232
Ah, it's wrong on test. I think perhaps @nomoregrapes deliberately broke it to test the date sorting.... :-)

[2018-11-14 13:29] #232 closed, assigned to KPalmerHeathman, DurHHHI

[2018-11-14 14:32] peterwebster commented on #162
This (migrating current items set as Other:Letter to Periodical:News:Letter) did not make the cut in the November dev sprint.  There are few of these, and there is only an issue if the user filters search results by Type, since these end up under Other, rather than within Periodical as you might expect.

For these handful, the options are two, should it be prioritised:

- to isolate those already

[2018-11-14 14:34] peterwebster commented on #162
@DurHHHI for your information, see comment above.

[2018-11-14 14:49] peterwebster opened #233 "Date display in periodical:journal:letter"
Thus far, the reference type of periodical:journal:letter has not been used. However, we expect it will be.

At the moment, it displays thus:  https://henson-test.durham.ac.uk/references/ref123456

The issue is that the GUI does not show the Date(year) or Date(month) fields, only Date(full). By virtue of being published in a journal, these will not have full dates. So, they need to show Date(month

[2018-11-14 14:52] peterwebster commented on #233
Also @DurHHHI : anything that we subsequently ingest described as periodical:news:letter will display like this one, so you can now use this in place of other:letter
https://henson-test.durham.ac.uk/references/ref987654

This means that the issue in #162 is a retrospective one.

[2018-11-14 15:00] nomoregrapes commented on #223
Fixed that alignment issue.
Just need to copy this to WP now.

[2018-11-14 16:37] nomoregrapes commented on #223
Done on WP. Back to you.

[2018-11-14 17:07] nomoregrapes commented on #222
Technical notes, for me to continue investigating...
* In catalog_controller, the journal date sort is set to `dateFrom_dtsi desc, filename_tesi asc` but should be `dateFrom_dtsim desc, filename_tesim asc` (fields end with m), so it's not looking at any field.
* Correcting the field name typos breaks the search completely with an error along the lines of `can not sort on multivalued field`
* Accor

[2018-11-15 13:28] peterwebster commented on #222
Thanks for this @nomoregrapes : we should, I think, set aside a decent length of time for this, as there are several unknowns in this.

[2018-11-15 13:32] peterwebster commented on #223
Tested and working fine on WP, and looks good on mobile. Closing this down now.

[2018-11-15 13:32] #223 closed, assigned to peterwebster

[2018-11-15 14:17] peterwebster opened #234 "Detection of missing XML at ingest"
Transferred from #106 for clarity.

Admin dashboard requires an alert (as part of the ingest of a new volume) that the application has found control data without a matching XML file.
User then retrieves file(s), manual addition to Github, and triggers an 'Insert' ingest to solve the issue

[2018-11-15 14:18] peterwebster commented on #106
Remaining enhancement in this ticket now at #234 , so closing this one for the sake of clarity.

[2018-11-15 14:18] #106 closed, assigned to peterwebster

[2018-11-15 14:21] peterwebster commented on #234
To be read in conjunction with #160

[2018-11-15 14:42] peterwebster commented on #234
Actually, #190 shows that this is already implemented, it's just that I haven't yet used it.

[2018-11-15 14:42] #234 closed, assigned to nobody

[2018-11-15 14:51] peterwebster commented on #190
As I plan to test the ingest process on volume 16 when the time comes, closing this ticket.

[2018-11-15 14:51] #190 closed, assigned to peterwebster

[2019-02-01 12:15] peterwebster opened #235 "Remove 'sermons and speeches' from search dropdown"
After having abandoned sermons and speeches (<event ) as an annotation type, #166 did most of the work. However, the search filter still shows Sermons and Speeches as an option, and should not.

Perhaps @nomoregrapes just comment out, so it could be reenabled at some future stage.

[2019-02-01 12:16] peterwebster opened #236 "Expand Help text to include search"

[2019-02-11 13:25] peterwebster commented on #155
`05-12-17.xml:me id="113">Harold</persName></hi>.</p>
05-12-17.xml: id="208">Beeching</persName></hi> preached in S. Marg
05-12-17.xml: id="121">Custard </persName></hi>came in to supper, a
05-12-17.xml:y="no">Col: Dunlop</persName></hi>, just returned from
05-12-17.xml:56">Jim Dennistoun</persName></hi> is captain.  He see
05-12-18.xml:splay="no">Visitor</persName></hi>.  The Dean displaye
05-12-

[2019-02-11 13:28] peterwebster commented on #155
@KPalmerHeathman @DurHHHI I found this ticket again after it was too late to fix these in the XML. Here are the instances in v16 where there is a person nested within a <hi tag, giving rise to the issue noted in #85 .
If you could fix these in the GUI after ingest,  that would be great.

After that, should there be any to worry about in 17 and onwards? If so, I'll keep this ticket open.

[2019-02-11 14:33] peterwebster commented on #235
This is a loose end from #166 @DurHHHI

[2019-02-14 08:42] peterwebster opened #237 "Logging during ingest"
If ingesting more than a dozen or so XML files, the connection often times out or (more seriously) there is the general 500 message. At the minute, the logs show if a line is skipped, and also prints the counts of lines read etc once it has finished.
If, however, it fails part way through, it doesn't log the fact, and so it isn't clear to the user if and when to start a retry.
Think about fuller l

[2019-02-14 09:01] peterwebster opened #238 "Ingest behaviour"
While trying to ingest v16, there have been several occasion where the ingest has encountered some sort of issue with one file and then just stops. It would be better if it would carry on and attempt every file, and report the failures as it goes.

[2019-02-21 14:52] DurHHHI opened #239 "Reference annotation - spotted with new ingest"
I've been spending hours updating the GUI with the located sermon references from vol 14/15. I've noticed that if a month is provided in the reference but no day date, the ref automagically sets to the first of the month. If I edit the ref to not display the date then I lose month and year function altogether.

Ex. https://henson.durham.ac.uk/references/ref508
It should just reflect (Jan. 1905) bu

[2019-03-11 13:46] peterwebster commented on #239
OK @DurHHHI : I've just edited this reference  https://henson-test.durham.ac.uk/references/ref508/edit so as to remove the whole contents of the DateFull field, and replace with just Year and Month. This displays the year correctly.

So: the fix (for @nomoregrapes ) is: when DateMonth is not null, display it along with DateYear. This should only ever apply for periodicals; it shouldn't occur for b

[2019-03-11 13:55] peterwebster commented on #239
But @DurHHHI there's more to this than just that. It looks as if, in ref.tsv, when there's a date in the form June 1905 or Dec. 1917, it has been placed in the DateFull field. However, the ingest expects to find whole dates in there, not partial ones, and so it defaults to the first of the month.

In my mind, dates with just a month and no day were to be dealt with using the DateMonth and DateYear

[2019-03-13 15:09] peterwebster commented on #150
@BoguslawObara Hi Boguslaw: Julia will shortly be in touch about registering the domain, as discussed (she may have done so already). Here's the ticket with Gregory's instructions as to what to with it.

[2019-04-23 07:33] peterwebster commented on #239
@DurHHHI putting this fix on Gregory's list for this week.

[2019-04-23 08:01] peterwebster commented on #233
@DurHHHI I previously wrote:

"So, if these start to present themselves before Gregory can get to this, @DurHHHI will either need to:

(i) treat them as Other:Letter (which we are now marking as periodical:news:letter, or;
(ii) hide them"

Assuming that Gregory can fix the issue this week, is there any retrospective work to do by hand in existing entries?

[2019-04-23 08:06] peterwebster opened #240 "Remove dropdowns from homepage"
After some deliberation, the decision was taken to remove the 'Particular date' and 'Range of dates' dropdowns from http://community.dur.ac.uk/henson.project/

As usual, perhaps best to comment out to allow reintroduction later if the feeling of the project changes again.

[2019-04-23 08:30] peterwebster commented on #150
@nomoregrapes some movement on this, as per email of 20th March, with service reference I190315-0024

[2019-04-23 10:07] peterwebster commented on #239
NB @nomoregrapes June, July to be written out in full, everything else is [xyz.], so Jan., Mar.
This is as elsewhere.

[2019-04-24 08:41] peterwebster commented on #236
On further review, I take the view that the text is good as it stands.

[2019-04-24 08:41] #236 closed, assigned to peterwebster

[2019-04-24 10:30] nomoregrapes commented on #150
Request for configuration sent to CIS.

[2019-04-24 15:03] nomoregrapes commented on #227
This is done.
It will be on the test_server soon, or I've forgotten a step in doing the deployment.

FYI, it's my understanding that these are all the possible values for "type".
[code]
Some, but not all, alter how the reference is displayed.

[2019-04-24 15:07] nomoregrapes commented on #235
Removed, reasdy for you to confirm and close this.

[2019-04-24 15:14] nomoregrapes commented on #240
I have disabled this in the code.

I also deleted the text
`For access to the edition, either <strong>select</strong> a particular day or range of dates below, or use the <strong>search</strong> box above.`
which was in the "Welcome" (front/home page) on the Wordpress admin.

[2019-04-25 05:40] peterwebster commented on #240
Many thanks @nomoregrapes . Closing this one down now (and paging @DurHHHI @KPalmerHeathman )

[2019-04-25 05:40] #240 closed, assigned to nomoregrapes, peterwebster

[2019-04-25 05:43] peterwebster commented on #235
Great @nomoregrapes . Closing now.

[2019-04-25 05:43] #235 closed, assigned to peterwebster

[2019-04-25 05:47] peterwebster commented on #227
@DurHHHI could you check over this list for completeness? I think we're missing:

periodical:news:letter
periodical:journal:letter

[2019-04-25 05:50] peterwebster commented on #227
@nomoregrapes it doesn't seem to be deployed to test just yet.

[2019-04-25 06:09] DurHHHI commented on #227
hi there @peterwebster and @nomoregrapes - yep agreed, periodical:news:letter and periodical:journal letter are missing

These are the type fields I have listed from the google sheets:

Book:monograph
Book:sermons
Book:edited collection
 
Book chapter
 
Poem
 
Periodical:journal:article
Periodical:journal:letter
Periodical:news:article
Periodical:news:letter

[2019-04-25 08:46] peterwebster commented on #229
Not a priority this one @nomoregrapes but I mention it in case it is one that can be easily dealt with while you're on with #222 .
I imagine a situation where, if a search returns no results for journals, then the 'Sort by journal date' just drops out of the drop-down options?

[2019-04-25 08:55] peterwebster opened #241 "'Start Over' function in search"
At the minute, this redirects to the WP homepage.

Better, I think, to redirect to https://henson.durham.ac.uk/journals

[2019-04-25 08:56] peterwebster commented on #241
This is probably a skeleton from the old days, when there were lots of search options on the WP page.  (Changed by #240 )

[2019-04-25 10:04] nomoregrapes commented on #233
I have updated the code just a little so when displaying a reference...
* If it is a Book/book chapter/poem, and dateYear exists, then "dateMonth, dateYear" is displayed.
* If it is a Periodical, and dateYear exists then displays "(dateMonth, dateYear)".
* Regardless of type, if the above has not been done, display "dateMonth, dateYear" if possible or fall-back to dateFull(e.g. 25 Apr/June 2019).

[2019-04-25 10:25] nomoregrapes commented on #239
I'm taking #233 to be the display part of this issue, but this issue to be about how the data is stored.

The ingest doesn't do anything clever, and respects what columns you've used.
* date(full) should always be blank or a full and valid date.
* At times, the code tries to ensure dateFull using standard functions. This can cause dateFull to not display anything if it's "2/29/2019" or "29/2/2019"

[2019-04-25 11:00] nomoregrapes commented on #227
Technical note: the colons are used to split this into 3 fields: Type, TypeSub, and TypeMinor so the code can deal with it in different ways.
If the main Type isn't "Book" or "Periodical" then the ingest classes it under "Other". I hopefully had a reason for doing that, but this explains the slight difference in my list.

**The type can now be edited on test_server, including TypeMinor=letter.**
I

[2019-04-25 11:05] nomoregrapes commented on #233
The updates are now on test_server, so please go ahead and edit/test as needed.
If dateYear is filled in then dateFull should never be displayed.

[2019-04-25 15:08] peterwebster commented on #233
Could @DurHHHI review various types of publications to make sure that this hasn't upset anything, and also confirm the following?

Two things from me:
(i) I think that all the months that are abbreviated need a following period: Jan., Feb. etc.
(ii) periodical:news:letter and periodical:journal:letter should match other:letter in having the string 'letter' after the author, as at https://henson-te

[2019-04-25 15:16] peterwebster commented on #239
@DurHHHI I think that this is resolved now by means of a fix in another ticket. Do take a look at Gregory's comments about what the ingest does with the different formats in the TSV in DateFull, and then (if you're happy in general) close this ticket down.

[2019-04-25 15:28] peterwebster commented on #227
Can @DurHHHI test and try to break this?

In the meantime, I note that:

- book:edited collection
- periodical:news:letter
- periodical:news:article

all give the error message, when they are real types.

[2019-04-26 05:16] peterwebster commented on #227
To add to the documentation: on creating a new reference, it does not define the type, so it is necessary to hit Edit again and set it.

[2019-04-26 05:30] peterwebster commented on #227
@DurHHHI I set up this example for testing purposes; I suggest you try changing it to different types and see if you spot anything.
Note that it tends to show whatever data there is, so if (say) you want it to be a periodical:news:letter but there's something in the VolumeDetails field, that will be shown. It includes by default rather than excluding.

[2019-04-26 05:54] peterwebster commented on #233
@DurHHHI should a full date be given in brackets?
Compare https://henson-test.durham.ac.uk/references/ref200 (other:letter)
and
https://henson-test.durham.ac.uk/references/ref782610  (periodical:news:letter)

[2019-04-26 06:02] peterwebster opened #242 "Data not available for edit in Reference edit"
There is data that is imported from TSV in the PeriodicalDetails field that gives a volume reference:  eg.  A periodical, 112

This is being stored and displayed correctly, but is not shown in the Edit view and so can't be corrected.

https://henson-test.durham.ac.uk/references/ref119/edit

Christian World Pulpit, 59

[2019-04-26 06:54] DurHHHI commented on #233
The second link isn't working for me, @peterwebster so can't see the comparison.

[2019-04-26 06:56] DurHHHI commented on #233
@peterwebster re: 'two things':
i) Yes, all abbreviated months (all months save May, June, July) require the period.
ii) Yes, the 'letter' string should be reflected in both periodical:news:letter and periodical:journal:letter as it is with other:letter

[2019-04-26 07:12] DurHHHI commented on #233
Ok, @peterwebster No, looking at Julia and Philip's final agreed template, date for periodical:news:letter and periodical:news:article is correct without brackets (though a period still needs to follow the abbreviated month)

**BUT** date should be in brackets (and currently is not) for periodical:journal:letter and periodical:journal:article

https://henson-test.durham.ac.uk/references/ref17
shou

[2019-04-26 07:36] peterwebster commented on #233
So, to confirm in our call shortly @nomoregrapes

- [x] (i) DateFull should be without the brackets in periodical:news:letter and periodical:news:article
- [x] (ii) But date information (usually Month and Year) *should* be in brackets for periodical:journal:letter and periodical:journal:article
- [x] (iii) all abbreviated months (all months save May, June, July) require the period.

The issue with

[2019-04-26 07:43] peterwebster commented on #239
Closing this down now.

[2019-04-26 07:43] #239 closed, assigned to nomoregrapes

[2019-04-26 09:18] nomoregrapes commented on #150
There's more of a chance it could get done today...

Once they say it's changed,  we can check https://whois.icann.org/en/lookup?name=hensonjournals.org and if the nameserver is still set to DNS0.DUR.AC.UK / DNS1.DUR.AC.UK then the 48-hour-wait is not required.

[2019-04-26 09:40] nomoregrapes commented on #233
With the addition of the dot, I'm going to assume the comma should be dropped.

Not `Jan., 1885` but should be `Jan. 1885` or `June 1885`, and `1 Jan. 1885` or `1 June 1885` etc.

[2019-04-26 09:56] peterwebster commented on #227
I've now tested this quite extensively @nomoregrapes and you can consider it done with now.

For documentation: the error message about not seeing a defined type doesn't obstruct the actual process of editing.

[2019-04-26 10:02] peterwebster commented on #233
Yes @nomoregrapes  drop the comma

[2019-04-26 10:07] peterwebster commented on #222
In call with @nomoregrapes agreed to use the ID (derived from the XML file name) as the basis for the date search.

[2019-04-26 10:12] peterwebster commented on #222
@DurHHHI @KPalmerHeathman long story, but the repository is having difficulty using the DateTo and DateFrom fields in the control sheets as a means of sorting search results.
Please continue to record them, though, as they are used for other purposes.

For the purposes of the sorting however, you've done us all a favour by adopting a consistent way of composing the file name:

yy-mm-dd for files t

[2019-04-26 10:16] nomoregrapes commented on #242
This is implemented and on test_server.

[2019-04-26 10:17] nomoregrapes commented on #233
It has been made so, and is on test_server.

[2019-04-26 10:20] nomoregrapes commented on #222
The make-do for journal sorting (using the id field, derived from the filename) is now on test_server.

You might want to keep this issue open, and I'll see if I can make it use DateFrom.

[2019-04-26 10:25] peterwebster commented on #233
May is being given a full stop but doesn't need one as it's not abbreviated.  https://henson-test.durham.ac.uk/references/ref782610
Other than that, we're good to go.

[2019-04-26 10:36] peterwebster commented on #222
Many thanks @nomoregrapes : I haven't tested this to destruction, which I will do, but it is a great improvement on what is already on production so we should go ahead with it. Assigning to me now.

[2019-04-26 10:38] peterwebster commented on #242
Looking good, ready for deployment to prod. Closing ticket now.

[2019-04-26 10:38] #242 closed, assigned to nomoregrapes, peterwebster

[2019-04-26 10:42] peterwebster commented on #162
Very low priority now, so shelving this while leaving it open.

[2019-04-26 12:08] peterwebster commented on #227
Changes made to documentation, closing now.

[2019-04-26 12:08] #227 closed, assigned to peterwebster

[2019-04-26 12:45] peterwebster opened #243 "Ability to edit a journal entry so as to remove an issue"
We need either to be able to edit a journal entry in order to remove an issue/topic, or alternatively to edit the issue/topic itself to remove one or more attached journal entries.

[2019-04-26 12:45] peterwebster commented on #243
@nomoregrapes for the future.

[2019-04-26 12:48] #189 closed, assigned to peterwebster

[2019-04-26 14:15] nomoregrapes commented on #237
@peterwebster I've added a 2-part feature which is now on test_server...

On the [logs page](https://henson-test.durham.ac.uk/manage/logs) there is now a "Live Detailed Logs" section.
The intention is that you open this in a new tab/window (or ideally a 2nd physical monitor) and change the drop down. If you leave this running for a few hours then your computer might grind, just close or refresh th

[2019-04-26 15:26] peterwebster commented on #233
@nomoregrapes I see that this has literally just been pushed to test. If you're happy (I am), then close the ticket.

[2019-04-26 16:22] nomoregrapes commented on #233
Yes.

[2019-04-26 16:22] #233 closed, assigned to nomoregrapes, peterwebster

[2019-05-07 09:40] peterwebster opened #244 "Possible issue with reporting of total during ingest"
"Notes data was imported. 250 rows read, 68 records created/updated, 240 rows skipped.

I'm not sure that these numbers add up: shouldn't created/updated + skipped = read ?

[2019-05-08 14:18] peterwebster commented on #237
A few notes on this after running it with data for volume 17:

(i) sometimes the application prints to the dashboard an outdated message: in one case, '60 read, 5 skipped' appeared on the dashboard but a check of the logs found another log a second later saying '5 rows read, o skipped'. I'm not quite clear in what order things are happening.,

(ii) for some reason, it sometimes logs 'skipping 12-3

[2019-06-24 08:58] peterwebster opened #245 "Rescan of XML (dashboard)"
Normal use of the GUI has shown that if it is necessary to edit the XML in order to add, remove or change the ID of the XML that calls an annotation, the change is reflected is immediately reflected in the journal view, but not in the listings given in the relevant annotation pages.  The Rescan XML function on the dashboard isn't managing this well.

[2019-06-24 10:08] peterwebster commented on #245
Example (on test server):
17 February 1901 ( https://henson-test.durham.ac.uk/journals/01-02-17-02-18 ): journal XML edited in GUI such that 'Mrs Hunt' (third line below the table) refers to annotation for A. L. Smith.

So: two things then need to happen.

- The link to 17 Feb 1901 to drop out of Mrs Hunt's annotation page:  https://henson-test.durham.ac.uk/people/person616
- A new link to 17 Feb

[2019-06-24 10:18] peterwebster commented on #245
However, a Rescan All XML only manages one of these tasks.

On the first process: it sometimes correctly picks up the altered annotation and appends it to the record for Smith, as in the case above.

*However* this also seems to be erratic: on production, a Rescan has not dealt with the annotation for Smith in this https://henson.durham.ac.uk/journals/10-05-22-06-02 , which should be listed at htt

[2019-06-24 10:20] peterwebster commented on #245
So, I think we either need to alter the Rescan process such that it removes items in the annotations record (for all types) that it has seen before but hasn't seen in the latest Rescan.
This, though, is I think quite complex.
Second option: allow a manual edit of annotations to remove defunct journal references.

[2019-06-24 10:43] peterwebster commented on #245
Need to test another couple of instances to be sure what's happening, once prod restarted.

[2019-06-24 10:45] peterwebster commented on #245
Hilary's example: (the two Smiths), on production:
06-11-08-11-11: XML redirected to 650 (the son, A.L.F Smith), now correct at 650, but not at 1170.
10-05-22-06-02 XML redirected to 1170 (the father, A. L Smith), but not reflected at either 1170 or 2474.

[2019-07-02 05:42] peterwebster opened #246 "Rescan all XML fails on test"

[2019-07-02 05:51] peterwebster commented on #245
This issue ongoing, but can't test any further until #246 resolved.

[2019-07-08 15:11] peterwebster opened #247 "Journal entry without Previous or Next links don't load"
The last entry in each volume has to be set to Admin as it will not load without a Next link.

The only alternative is to experiment with setting the Next link for the last entry in the latest volume to point back to Volume 14 page 1. But it would be better if the issue did not occur.

[2019-07-08 15:13] peterwebster commented on #247
The code obviously validates the links too, as the issue can't be fudged by adding a made-up next entry.

[2019-07-08 15:15] peterwebster commented on #247
@DurHHHI this is the explanation.

[2019-07-30 08:36] DurHHHI commented on #245
@peterwebster, for future reference, this example also not working:

11-07-09-07-15, "we went to Eton to spend the week–end with the Provost": Edmond Warre, updated correctly to 203, but still searchable in persons as separate entry 3415, with collected persons 'entries mentioned' list in 203 not reflecting the change.

Flagged by JS.

[2019-07-30 08:39] DurHHHI commented on #245
@peterwebster, for future reference, this example also not working:

Dennistoun extended family (ex. those associated with James George Dennistoun https://henson.durham.ac.uk/people/person556) not reflecting correctly, despite ID changes

[2019-08-21 11:10] DurHHHI commented on #245
@peterwebster, for future reference, this example also not working:

Paget boys --> Tags with ID 625 (Francis) that should be moved to 2409 (Henry Luke): 11 October 1909, 2 July 1911, and 19 Nov. 1911.

[2019-08-22 16:44] DurHHHI commented on #245
@peterwebster, for future reference, this example also not working:

Patrick Carnegie Simpson - retaining Pers 2015 and deleting 2402

[2019-08-28 09:10] DurHHHI commented on #245
@peterwebster, another one - spotted by JS this morning:

William Walrond Jackson - https://henson.durham.ac.uk/people/person2468 and https://henson.durham.ac.uk/people/person93 - all entries reflect ID 93 now, but same old with the persons pages (and bulleted entry list)

[2019-09-02 14:09] peterwebster commented on #44
This has not reoccurred, so closing ticket now.

[2019-09-02 14:09] #44 closed, assigned to peterwebster

[2019-09-02 14:10] peterwebster commented on #61
Closing this now, as it has not proved to be an issue.

[2019-09-02 14:10] #61 closed, assigned to nobody

[2019-09-02 14:14] peterwebster commented on #155
@DurHHHI can you recall whether there is still an issue here, or can I close the ticket?

[2019-09-02 14:53] DurHHHI commented on #155
@peterwebster I cannot recall. I'll close for time-being.

[2019-09-02 14:53] #155 closed, assigned to peterwebster

[2019-09-04 08:37] peterwebster opened #248 "VOl 21: monitor for extraneous lists"
@DurHHHI to look at Word transcription of v21 for extraneous Outline markup on dates; we then take a view on what to do depending on the extent.

[2020-01-08 14:37] peterwebster opened #249 "Ingest fails"
Here's a ticket @ojlyytinen

[2020-01-09 06:46] #249 closed, assigned to peterwebster

[2020-01-09 13:07] peterwebster opened #250 "Review performance of data model as data volumes have increased"
From @ojlyytinen for future attention:

"One possible thing to investigate, if you get Gregory to do some work at some point, would be to see how the performance of the data model is scaling with more material going in. Fedora scales really poorly when it comes to relations between records. Even a hundred or so related records can slow updates significantly. I'm not sure exactly how your data is s

[2020-01-09 14:02] ojlyytinen opened #251 "Requests timing out if next_journal or prev_journal missing"
If a journal is missing next_journal or prev_journal then requests take so long that they will timeout.

journals_controller will attempt to find next and prev journal (in get_next_journal and get_prev_journal) if they are not set. This bit of code

[code]

Will essentially try to load each and every Journal sequentially and then check if it is the next one. This will take a really long time and t

[2020-01-09 14:39] peterwebster commented on #251
@nomoregrapes could you possibly have a think about this?

For info to @ojlyytinen : the sortKey value is given in the TSV file which is ingested with every new batch of data, and so (in theory) should never be missing. next_journal and prev_journal are (I think) generated by the application, and I don't have a sense of why they appear sometimes but all the time.

[2020-01-09 14:43] peterwebster commented on #251
Also, the actual sorting in search results is (I think) driven by the format of the filename, not any of these fields (there's a long story to that @nomoregrapes )

[2020-01-10 10:14] ojlyytinen commented on #251
There's a slight complication in that the sortKey gets put in Solr as a multi-valued field which means that you can't order search results by it. I can search for the exact next sortKey value and if it exists then things are fine. But if one doesn't exist then what's the correct behaviour in that case?

Looking at the data in Solr, it looks like some journals do indeed miss sortKey altogether, at

[2020-01-21 06:41] peterwebster commented on #251
Hi @ojlyytinen : this seems to be working well now on test, so do please push it to production.

[2020-01-21 09:09] ojlyytinen commented on #251
I've pushed the changes to production and all seems to be working fine. The journal entries with missing next/prev Journal fields are loading fast now.

For future reference, as some of this was dealt with in emails, string sort keys converted to integers with a small script. get_next_journal and get_prev_journal functions in journal_controller and henson_scan_xml task were changed to only utilise

[2020-01-21 13:15] peterwebster commented on #251
Tested and looking good. Many thanks @ojlyytinen  - closing ticket now.

[2020-01-21 13:15] #251 closed, assigned to nomoregrapes

[2020-01-21 14:12] peterwebster commented on #247
Dealt with under #251

[2020-01-21 14:12] #247 closed, assigned to nobody

[2020-02-03 14:31] #154 closed, assigned to peterwebster

[2020-02-04 13:08] #248 closed, assigned to DurHHHI

[2020-02-05 07:01] peterwebster opened #252 "Setting annotations to Publish All from Manage dashboard fails"
When new annotations are ingested, they are set to be viewable only by administrators. The dashboard  ( /manage ) has a set of Publish All options, to set them all to be publicly available once staff are satisfied with the ingest. These are failing, (but only in the case of Persons)

[From Resque, on worker 1, on 5th Feb]
Class: Items_Set_Public
Arguments  --- people
Exception
    Resque::DirtyExi

[2020-02-05 14:08] peterwebster commented on #252
For reasons that are unclear to me, the unpublished ones are all from the new persons associated with the latest ingest. These were ingested safely (I think) before the issue with Helios arose in December/January.

[2020-02-10 09:07] peterwebster opened #253 "Persons without last names & cross-referencing"
In persons, if there is a empty LastName field, as in the case of a royal, this is usually OK.

*However*, if another person is cross-referenced to it, that cross-referenced record will not display in the GUI. (This is because it cannot compile the link text, which requires LastName, FirstName.

In the short term, these can be made to display by including just a period in the field, as here
https:

[2020-02-14 13:43] peterwebster commented on #253
For reasons unclear, 3781 and 3782 will not load in the GUI, although there appears to be a record associated. Two reingests have had no effect.

[2020-02-14 14:21] peterwebster commented on #253
Once various other issues are dealt with, edit https://henson.durham.ac.uk/journals/15-11-27 .

[2020-02-14 14:37] peterwebster opened #254 "Review the Rescan All XML function on dashboard"
This now running very slowly indeed, so slow that it can't be completed in between Fedora restarts.

@ojlyytinen has some suggestions as to how best to streamline.

[2020-02-14 14:38] ojlyytinen commented on #253
The problem is in app/helpers/application_helper.rb:248

[code]

It shouldn't be difficult to fix technically, assuming there aren't loads of similar problems elsewhere. Just need to build the label in a different way if the person doesn't have a last name.

[2020-02-14 14:40] peterwebster opened #255 "Allow admin to force a rescan of a single XML file from the record"
(Connected to, or at least prompted, by #254 )

In the journals/01-02-03/edit view, allow the admin user to force a rescan of this single XML file.

(FYI @ojlyytinen )

[2020-11-04 13:31] #122 closed, assigned to peterwebster

[2020-11-04 13:32] peterwebster commented on #136
Closing issue now, as unclear why it still open.

[2020-11-04 13:32] #136 closed, assigned to peterwebster

[2020-11-04 13:33] peterwebster commented on #95
As repo/stylesheet tolerant of this, closing the issue.

[2020-11-04 13:33] #95 closed, assigned to peterwebster

[2020-11-04 13:35] peterwebster commented on #150
I need to check in whose name the domain is registered as @BoguslawObara about to move on.

[2020-11-05 11:41] peterwebster commented on #254
@ojlyytinen an alternative to trying to speed up the process itself might be to arrange so that the process is restarted from where it left off after a Fedora restart?

[2020-11-05 11:49] peterwebster commented on #252
@DurHHHI when we ingested 21 and 22, did this work correctly when you set all the annotations to publish? Or did you have to go through and Publish each one individually, as I think had been the case with 19 and 20? If it was OK, we can close this ticket, I think.

[2020-11-05 11:51] DurHHHI commented on #252
Peter, yes, thank goodness, I did not have to go through the manual individual ‘publish’ in V21/22.

[2020-11-05 11:54] peterwebster commented on #252
Closing issue, which was apparently transitory.

[2020-11-05 11:54] #252 closed, assigned to peterwebster

[2020-11-05 13:30] peterwebster opened #256 "Manual edit of lists of journal pages shown on (mostly) person pages"
There is an edge case where (in the repo GUI), project staff need to alter XML to correct an annotation: eg. in journal entry 1 Sep 1917 (17-09-01), changing an annotation from person123 to person456. This can be executed now.

However, person 123 and person456 both have their own pages  (people/person123 etc) in which there are lists of the XML journal pages on they are mentioned.
The 'Rescan All

[2020-11-05 13:31] peterwebster commented on #245
The sum of this is now at #256, so closing this ticket as it is rather long and unwieldy.

[2020-11-05 13:31] #245 closed, assigned to peterwebster

[2020-11-05 13:33] peterwebster commented on #256
@ojlyytinen for information, but not action just yet. Connects with #254 although I think that this issue is not solved by amending the Rescan All XML function.

Lots of examples at (closed) #245

[2020-11-17 10:28] peterwebster commented on #238
As this has not recurred for some time, closing this ticket.

[2020-11-17 10:28] #238 closed, assigned to nomoregrapes

[2020-11-17 10:30] peterwebster commented on #222
After 18 months of use, no further comments noted on this, so closing the issue.

[2020-11-17 10:30] #222 closed, assigned to nobody