[2017-08-18 15:50] peterwebster opened #1 "Remove existing footnotes from Word transcript of vol. 17"
As per email conversation, Julia to remove the existing footnotes from the .docx transcript.

[2017-09-06 13:17] peterwebster opened #2 "Identify suitable location on Durham shared drives for versions of record of data"
The Durham-based team will need a set of file directories in which to keep:
(i) Word transcriptions
(ii) volumes in progress of markingup
(iii) persons/places/organisations information
(iv) versions passed to @peterwebster for conversion
(v) and stages thereafter, including the final versions for ingest to the repository.

@peterwebster will specify this workflow shortly, but a location accessible

[2017-09-08 08:25] peterwebster opened #3 "Agree procedure for periodic backup of Dropbox contents to Durham filestore"
There's no reason to suppose that Dropbox is anything but secure, but while using the free plan, if some sort of disaster should occur on their side we may not have any recourse to recover lost data. So, periodically we should download the contents of the folder to a Durham shared drive.

[2017-09-08 09:02] peterwebster commented on #2
I'm assigning this to Julia @dpl0js and also drawing you into the thread by means of an @ message.

[2017-09-08 09:02] peterwebster commented on #2
The workflow is now drafted at https://github.com/peterwebster/henson/wiki/Data-workflow

[2017-09-08 09:05] peterwebster commented on #2
This is also relevant to issue #3 and so I connect the two by means of a hashtag ( FYI @dpl0js )

[2017-09-08 09:37] dpl0js commented on #3
okay, sounds good.  Shall I ask Sebastian for advice when I am next at my University computer?

[2017-09-08 09:51] peterwebster commented on #3
@dpl0js you could, but the process is quite straightforward, so one of the team could do it; we just need someone to take on the responsibility.

[2017-09-08 09:53] peterwebster commented on #3
![image](https://user-images.githubusercontent.com/5520710/30206401-e8322d02-9483-11e7-8a51-409d64519c18.png)

@dpl0js it's just a question of selecting the folder and clicking Download, and saving the resulting file to somewhere suitable.

[2017-09-08 09:54] peterwebster commented on #3
![image](https://user-images.githubusercontent.com/5520710/30206462-196bcb4e-9484-11e7-97a6-054a4185bd02.png)
It's just a question of selecting the folder, clicking Download and saving the resulting file somewhere suitable.

[2017-09-08 09:59] peterwebster opened #4 "Invite PW, KPH and HI to Github"
PW after 18 September

[2017-09-17 15:12] dpl0js commented on #1
[Vol. 17, clean copy Sept 2017.docx](https://github.com/peterwebster/henson/files/1309160/Vol.17.clean.copy.Sept.2017.docx)

[2017-09-17 15:12] #1 closed, assigned to dpl0js

[2017-09-20 13:34] peterwebster commented on #2
@dpl0js I've now suggested a set of folders to go somewhere that the whole Durham team can access, at https://github.com/peterwebster/henson/wiki/Data-workflow (at the end). Do note also the suggestion about Dropbox.

[2017-09-20 19:21] dpl0js commented on #2
Dear Peter,

Thank you again.  This looks excellent, including the new stage of file-splitting and provision for a separate folder for annotation.

Philip has emailed to say that we can't now occupy the room in the College we had been allocated previously; but he has received an assurance that the new room will definitely be in the Palace Green area, and will be up and running by 2 October.  It wi

[2017-09-25 08:36] peterwebster opened #5 "Buy and install Textpad XML editor for Katie/Hilary"
There are several XML editing packages available. Textpad 8 is inexpensive and the one I use; there are more expensive options that we could upgrade to later if we found this did not suit them well.

For now, it is £16.50 for each machine, and details are at https://www.textpad.com/download/

I imagine someone in CIS will need to act on this.

[2017-09-25 10:07] peterwebster commented on #2
As discussed @dpl0js , it should hopefully look something like this, and be accessible to all four of the Durham team.

![image](https://user-images.githubusercontent.com/5520710/30803502-b8b547a6-a1e1-11e7-97b5-27d3a9d67129.png)

[2017-09-25 10:52] dpl0js commented on #2
Dear Peter,

Thank you, I will ask for help from the CTS field team in setting it up.

Best wishes,

Julia

________________________________
From: Peter Webster <notifications@github.com>
Sent: 25 September 2017 11:07:50
To: peterwebster/henson
Cc: STAPLETON, JULIA; Mention
Subject: Re: [peterwebster/henson] Identify suitable location on Durham shared drives for versions of record of data (#2)

As

[2017-09-25 13:05] peterwebster commented on #2
That's great @dpl0js . When you reply to a comment, could you possibly tag me as @peterwebster ? That way, I receive an alert.

[2017-09-25 13:39] dpl0js commented on #2
I have requested a facility for shared files across departments from CTS.  I will be contacted soon.  There might be a facility for guest access, too.

[2017-09-25 14:54] peterwebster commented on #2
If there is the option for me to have direct access to these folders, that will certainly help @dpl0js but it isn't essential.

[2017-09-25 19:52] dpl0js commented on #2
Ok, I will do what I can @peterwebster.  Thanks for your guidance on tagging and attaching files.  Did you receive the induction programme for K and H, also attached here.
[Induction programme (Hilary and Katie) Oct 2017.docx](https://github.com/peterwebster/henson/files/1330688/Induction.programme.Hilary.and.Katie.Oct.2017.docx)

[2017-09-25 19:52] #2 closed, assigned to dpl0js

[2017-10-04 07:48] peterwebster commented on #3
Hi @dpl0js : as Katie and Hilary are now here, is this something they should take on? If so, they would need Dropbox access, which I imagine they have.

[2017-10-04 12:21] peterwebster opened #6 "Script to deal with badly formed XML at end of Stage 2"
If at Stage 1 there are instances of the date comments <!021274> being rendered in bold, the result at the end of Stage 2 is a pair of files, one of which has an unclosed <p tag at the end, before /body>, and a second which has an extraneous /p> tag before the opening <body tag.

Consider a script to run at the end of Stage 2 to find and remove both.  (NB. Variable whitespace in various places to

[2017-10-04 13:51] peterwebster opened #7 "Table-like formatting in journals"
In XML there is the possibility of rendering certain things as tables. Although inelegant, it may be that there are table-like things in the journals for which we should consider this. Could either @dpl0js (or Katie or Hilary as they come across them) let me know of examples that I may consider?

[2017-10-04 13:55] peterwebster commented on #7
Initial test from DOCX to XML (OxGarage) suggests that the table formatting persists; need to check how the TEI handles these and what transformation necessary in Stage 2 script.

[2017-10-04 19:29] dpl0js commented on #3
Yes, we are just awaiting Katie's IT access, which has been held up because of some problems concerning her name.

[2017-10-04 19:35] dpl0js commented on #3
Hi @peterwebster
I have instructions now on how to move from dropbox to the University's Box facility.  But it requires encryption.  I have to contact the field team.

[2017-10-04 19:53] dpl0js commented on #7
Would these examples from vol. 15 do?  Please let me know if I have misunderstood the request.
[Tables.docx](https://github.com/peterwebster/henson/files/1357181/Tables.docx)

[2017-10-05 05:28] peterwebster commented on #7
Thanks @dpl0js this is what I needed. Some of these are lists, and others more like tables,  which (when convered from Word) will come out like:

1. Dr J.E. Sinclair 1 Queen Anne's Gate
2. W.J Roberts Foreign Office Downing Street

or

Offertories £675
Seat Rents £300
Grant to Clergy Fund £75
£1610

That is, unless the keyers either make them a list or put them in a table, they simply lose their s

[2017-10-05 05:31] peterwebster commented on #3
If it is something that needs you to contact the field team each time we want to do it, then it might be easier if I just do it. That's slightly less secure, but it might be enough as the risk is low. @dpl0js

[2017-10-05 16:09] dpl0js commented on #7
Okay, so the lists\tables have to be hard by the margins, not centred, as HHH often does? So not actually in table form but not in continuous text form either?

[2017-10-05 16:13] dpl0js commented on #3
Philip is working on a scheme to provide access for you to the University IT system.  It would be great if you can move the files for us then from within the UoD system.

[2017-10-05 16:13] #3 closed, assigned to nobody

[2017-10-05 16:17] dpl0js opened #8 "issues"
thank you, I did as you suggested; no new issues at present, but github is now in my favourites bar

[2017-10-06 08:20] peterwebster commented on #8
That's great @dpl0js . As this ticket is now complete, I shall close it now.

[2017-10-06 08:20] #8 closed, assigned to nobody

[2017-10-06 08:29] peterwebster commented on #7
Reopening this issue as the discussion continues.

When the developer is in place, (s)he may well be able to centre tables and lists in the view the user sees, but for that to be possible, they must be marked up as either table or list in the XML. If all the transcribers do is use tabs to space the columns and Format-Paragraph to indent, then it is lost in the conversion from Word to XML and what

[2017-10-06 10:10] dpl0js commented on #7
I'm with you now; so, for example,

Offertories:-
At 8 a.m.              1.1.6
"  11   "	                 2.16.
"   4 p.m.              3.7.
"   7    "                 2.11.
                              poundsign9.15.6

would have to be numbered thus:

Offertories:-
1. At 8 a.m.              1.1.6
2.  "  11   "	           2.16.
3.  "   4 p.m.                3.7.
4.  "   7    "                  2.

[2017-10-06 10:25] peterwebster commented on #7
Yes, if numbered lists are what is needed; Word also supports unnumbered lists:

- At 8 a.m. 1.1.6
- " 11 " 2.16.
- " 4 p.m. 3.7.
- " 7 " 2.11.
- poundsign9.15.6

[2017-10-06 10:28] dpl0js commented on #7
Ah, the bullet point.  Thank you, and sorry for being slow to catch on.

[2017-10-06 10:30] peterwebster commented on #7
Or, if you're concerned about how the ditto marks look, then it goes in a table so the amounts always line up beneath each other in the second column. That way, the total figure is also aligned @dpl0js

| At 8 am | 1.1.6 |
|  " 11 | 2.16 |
|   | £9.15.6 |

[2017-10-06 10:38] peterwebster commented on #7
Or, if you're concerned about how the ditto marks look, then it goes in a table so the amounts always line up beneath each other in the second column. That way, the total figure is also aligned @dpl0js

In the XML, this involves <table, <row and <cell tags, but looks something like this to the user:
![20171006_113527xx](https://user-images.githubusercontent.com/5520710/31274534-3b86d198-aa8b-11e7-

[2017-10-06 10:51] dpl0js commented on #7
[At 8 a.docx](https://github.com/peterwebster/henson/files/1362427/At.8.a.docx)
In word, then, it would look as in the attached?  Where would the tags go?

[2017-10-06 12:58] peterwebster commented on #7
They are in effect already there, in the underlying code (which is a form of XML very particular to Microsoft), and my Stage 2 process extracts that code and transforms it into a form we can use more easily. The same applies to bold, underlining, lists, tables etc.
If we were to start amending *the XML* so things are in tables/lists that were not made so in Word, then you need to start putting in

[2017-10-09 05:19] peterwebster commented on #4
Welcome to Github Katie and Hilary ! . We'll take a look at the service in detail on Wednesday, but this is an example of an issue: to invite you both to join. I opened it some weeks ago, and assigned it to myself to act upon. Now it is dealt with, I  can close it, which I do now.

I alert you to the fact that there is activity on the issue by means of @KPalmerHeathman and @DurHHHI

[2017-10-09 05:19] #4 closed, assigned to peterwebster

[2017-10-12 09:13] KPalmerHeathman opened #9 "Forward slash symbol"
How should we treat this?

A miserable wet day.  I spent most part of the morning in writing an Advent letter to the Hospital congregation.  / In the afternoon I went to town, and attended Evensong at Westminster Abbey.  The singing was most beautiful.  After service I called on Armitage Robinson.  He shewed me over the house which is very large, rambling, & costly to keep up.  He said S. Margaret

[2017-10-12 09:22] KPalmerHeathman opened #10 "Brackets"
If Henson uses square brackets, we propose to change these to round ( brackets to differentiate from editorial use of square brackets. Is this agreeable?

[2017-10-12 09:44] KPalmerHeathman opened #11 "Silent editing Greek alpha and beta"
Can we amend these to (a) and (b) as they are used only to indicate items on a list? As below:

On Monday there was a clergy-council at which we resolved (α) to start a Church Lads Brigade.  (β) to start a Club for the Lewisham Street boys.  I called on
1.	Mrs Bedford
2.	Miss Tomlinson     3 Richmond Terrace.
3.	Miss Geary	11 Victoria St.
4.	Mr & Mrs Wise	  11 Victoria Street.
5.	Mrs Milman

[2017-10-12 10:28] peterwebster opened #12 "Script to check relative incidence of different elements"
After Stage 4 markup is complete on each volume, but before compilation of person/place/organisation descriptions in GDrive, we need to count the incidence of people, places etc, in order to understand how "important" different ones are. Using that, @KPalmerHeathman and @DurHHHI can take a view on how substantial the annotation needs to be.

[2017-10-12 10:41] DurHHHI opened #13 "Straight quotes vs. curly quotes"
@KPalmerHeathman
Julia, just to note as you will be checking transcriptions before sending to Peter for XML conversion, Peter says that we do not need to manually change single/double curly quotation marks to straight quotes in the transcription file. This will be done on Peter's end before being returned to us for XML markup.
Great news, as saves a little time in the transcription check!

[2017-10-12 10:54] peterwebster opened #14 "Treatment of passages relating to more than one day"
In volume 15, there are several instances where many days are related in ways that are hard to separate out, as well as being interspersed with lists, interleaved letters and the like. The issue is how these should be split, given that the governing structure is the daily journal entry in its own file (and thus viewed as a single item by the user).

After discussion with @KPalmerHeathman and @DurH

[2017-10-12 10:57] peterwebster opened #15 "Henson's use of a forward slash / as a symbol"
In various places in volume 15, Henson uses a forward slash symbol within a paragraph, but the meaning of this is unclear.
Should @KPalmerHeathman and @DurHHHI treat this as a symbol (and so insert [symbol] ) or (as it is often in colour) leave it in place but with bold & underlining?

Perhaps Katie or Hilary might add an example.

[2017-10-12 11:06] peterwebster opened #16 "Front and back matter in volumes"
There are several instances of back and front matter in the various volumes, which are not obviously related to a daily entry: lists of Henson's publications for the year, newspaper cutting pasted, a biographical conspectus of his life (front of 15).

I suggest that these are given their own files, named V14front.xml or V15back.xml, with (in the control sheet) an appropriate date range, for the wh

[2017-10-12 11:07] peterwebster commented on #16
On the newly created Title for each file, see #14

[2017-10-12 11:10] peterwebster commented on #9
The options are, I think, @dpl0js ,

- to treat this as a symbol (and so insert [symbol] ) or
-  (as it is often in colour) leave it in place but with bold & underlining?

As with the other symbols, it isn't clear what it indicates, and it perhaps does not warrant being treated as a distinct thing.

[2017-10-12 11:10] #15 closed, assigned to nobody

[2017-10-12 13:15] peterwebster opened #17 "Stage 5 check for missing ID numbers to write"
List (in .txt) all macro threads for KPH and HI to record locally.

Add at Stage 5 a check for <element id="???   where mark up is present but there is a missing ID

[2017-10-12 13:29] peterwebster commented on #16
Bringing @KPalmerHeathman and @DurHHHI into the conversation...

[2017-10-12 13:31] peterwebster commented on #7
As I think we've deal with this in discussion, closing this ticket now.

[2017-10-12 13:31] #7 closed, assigned to KPalmerHeathman

[2017-10-12 13:48] peterwebster opened #18 "Removing undocumented elements at Stage 7"
Acting on advice from KPH, HI, either strip out ID attributes from undocumented elements, or add another attribute that instructs the application to not display.

[2017-10-12 19:38] dpl0js commented on #9
@peterwebster I think the latter, that is, a different form of highlighting the text later on.

On p. 24 of the transcription style sheet, point 9, I suggested using italics.  But this would be unclear.  So yes, use bold.

But do we need to underline it as well?

[2017-10-12 19:43] dpl0js commented on #10
@KPalmerHeathman I'm not sure about this.  Does he ever use square brackets in black?  I'm pretty sure he doesn't, in which case there's no problem. See top of p. 24, (7), for how to render coloured square brackets, thus indicating that they are his.  (We would never use coloured square brackets for our interpolations.
Let me know if you come across black square brackets used by Henson!

[2017-10-12 19:49] dpl0js commented on #11
@KPalmerHeathman and DurHHHI
Hmm.  I'd rather keep it as he left it.  Is there a reason for changing to a) an b)?

[2017-10-12 19:52] dpl0js commented on #13
@KPalmerHeathman Splendid. Phew! Less scope for error.

[2017-10-12 19:54] KPalmerHeathman commented on #10
@dpl0js sorry my query wasn't clear. The issue came up today because Henson uses black square brackets in several places in Vol. 15.  He is not using them differently to how he usually uses round brackets, along the lines of 'X and Y came to tea [Z also came]. Afterwards we walked to the Cathedral.' A concern was that preserving the use of black square brackets loses the differentiation between ou

[2017-10-12 19:59] KPalmerHeathman commented on #11
Adding @peterwebster to this thread in case technical input is needed (and because I can't remember the outcome of that discussion earlier today - as far as I recall the Greek alphabet was possible but not advisable?).

[2017-10-12 20:06] dpl0js commented on #16
@peterwebster @KPalmerHeathman @DurHHHI Sounds good.  Perhaps we could ask the transcribers to include transcriptions of back and front matter in future.

[2017-10-12 20:12] dpl0js commented on #14
@peterwebster and KPalmerHeathman and DurHHHI

Got this now.  Thank you and agreed.

[2017-10-12 20:13] dpl0js commented on #7
@peterwebster Fine with me.

[2017-10-12 20:35] dpl0js commented on #10
@KPalmerHeathman Thank you Katie, I'm with you know, and yes, we should indeed change his square brackets to round brackets to avoid confusion.  But where he is offsetting text for possible inclusion (or exclusion) in the Retrospect, we should keep his square brackets and use bold for colour (??)

[2017-10-13 09:01] #13 closed, assigned to dpl0js

[2017-10-13 09:02] #5 closed, assigned to dpl0js

[2017-10-13 12:55] peterwebster commented on #16
@dpl0js I believe they already are - @DurHHHI and @KPalmerHeathman and I were inspecting various examples from 14 and 15 yesterday.

[2017-10-13 13:05] peterwebster commented on #9
@dpl0js  Consulting the transcription guidelines (I'd forgotten about this section), it would seem that italicisation would be fine. If you agree @KPalmerHeathman and @DurHHHI do please close the ticket.

[2017-10-13 13:15] peterwebster commented on #10
So, if I am understanding correctly, there are three possible cases:

(i) HHH uses a square bracket instead of a curled one in the run of text as he is writing: Treatment:  replace square with curled.
(ii) HHH uses a coloured square bracket at a date later than the writing to mark off text for Retrospect:  Treatment: we retain the square brackets and add bold.
(iii) Editorial interpolations in squ

[2017-10-13 13:17] peterwebster commented on #14
OK, closing this as agreed @KPalmerHeathman @DurHHHI

[2017-10-13 13:31] #9 closed, assigned to peterwebster, dpl0js, KPalmerHeathman, DurHHHI

[2017-10-13 13:31] peterwebster commented on #11
Greek characters are possible, as are practically every character you can think of, but they must be encoded properly. I would need to experiment to see whether these are carried through from the Word into XML properly encoded (they may be). If not, that Unicode character will need to be added in the XML; I may be able to do this at scale, but it depends on what comes through the conversion. If I

[2017-10-13 15:08] KPalmerHeathman commented on #11
Another instance found today in Vol 15:

1.	That in view of the great & rapid increase of the population it is desirable that amicable relations shd be established with the leading Nonconformist bodies with a view to common action in respect of (α) pastoral visitation (β) aggressive religious work (δ) social reform.

[2017-10-13 19:27] dpl0js commented on #10
@peterwebster @KPalmerHeathman
thank you for summarising the new policy.  I shall update the style sheet.

[2017-10-13 19:36] dpl0js commented on #11
@KPalmerHeathman @peterwebster

Okay, I guess we could change to a) and b) etc; it would not involve too much violation of the original text.   I have made a note to discuss this at the weekly meeting of the Durham team on Wednesday, just to confirm.

[2017-10-16 13:41] #10 closed, assigned to dpl0js, DurHHHI

[2017-10-16 13:42] #16 closed, assigned to dpl0js

[2017-10-16 13:44] #14 closed, assigned to KPalmerHeathman, DurHHHI

[2017-10-17 13:46] KPalmerHeathman opened #19 "Circled list numbers"
I've found a couple of instances of numbered lists (usually within copied letters in the journal) where Henson has circled the numbers with his coloured crayon at a later date. If we are treating coloured underline as bold underline, and coloured marginal lines as italic, should these circled numbers be a) bold underlined or b) italicised? I think bold underline is more noticeable as it's just a s

[2017-10-17 14:06] dpl0js commented on #19
@KPalmerHeathman @peterwebster @DurHHHI @williamsonphilip
I agree with your solution:  bold underline.

[2017-10-17 14:12] KPalmerHeathman commented on #19
Thanks Julia, I'll go with that.

[2017-10-17 14:12] #19 closed, assigned to peterwebster, dpl0js, DurHHHI, williamsonphilip

[2017-10-17 14:20] KPalmerHeathman opened #20 "Illegible word?"
Can anyone make out the underlined words below? I think it's 'bene esse' and 'esse', which according to the wisdom of google is 'well being' and 'essence'.

![illegible words](https://user-images.githubusercontent.com/32575539/31669976-7dfefa02-b34e-11e7-9d24-40e5611678a5.png)

'Bishops who would accept for ordination a candidate, otherwise eligible, who held that episcopacy is of the ?well being?

[2017-10-17 14:21] DurHHHI opened #21 "Long list - first section strikethrough"
![vol15-hhh](https://user-images.githubusercontent.com/32575577/31669755-d98c98ee-b34d-11e7-8bf1-26c9f1733431.jpg)

@KPalmerHeathman @peterwebster @williamsonphilip

I have just come across this beauty (see attached photo). With Henson striking out a substantial part of the top page in his own dark pen, would you still include the section or employ silent editing and copy only the list below?

[2017-10-17 14:25] DurHHHI commented on #20
@KPalmerHeathman  - leaning towards bene esse with rudimentary latin

[2017-10-17 14:46] dpl0js commented on #20
@KPalmerHeathman @DurHHHI agreed (for now)! But will confirm.

[2017-10-17 14:49] dpl0js commented on #21
@DurHHHI Definitely engage in silent editing at the top of the page!

[2017-10-17 14:55] williamsonphilip commented on #20
Yes, the Latin for 'well being' or maybe something closer to 'best interest'.  It perhaps has a more technical legal meaning (anything in Halsbury?), but this seems to be adequate here.  I'd be inclined to leave it without explanation, but it is a fine point.   If more Latin appears, it might be useful to find if there is a good online Latin-English dictionary, although Google Translate gets the g

[2017-10-17 14:56] DurHHHI commented on #21
@dpl0js Fabulous! Thanks.

[2017-10-17 14:56] #21 closed, assigned to dpl0js

[2017-10-17 15:07] KPalmerHeathman commented on #20
Thanks @williamsonphilip. I think we can now be sure that bene esse and esse are what's written. I've just check Halsbury and there's nothing on either.

[2017-10-17 15:33] KPalmerHeathman opened #22 "Circled symbols"
Do we wish to do anything to mark the fact that this symbol has been circled for extra emphasis?

![image](https://user-images.githubusercontent.com/32575539/31674119-e7e39f7c-b358-11e7-8332-fe2bd2684ef4.png)

[2017-10-17 15:36] peterwebster commented on #20
The difference between the two is a staple of ecclesiological argument: of
what (ultimately) is necessary for a 'true church'. Episcopacy is often the
fault line for Anglicans, as in this extract. Well-being seems to be a
commonly used translation.

On 17 Oct 2017 4:17 p.m., "KPalmerHeathman" <notifications@github.com>
wrote:

[2017-10-17 16:10] dpl0js commented on #22
@DurHHHI I would be inclined to just record that there is a symbol here, in the normal way.

[2017-10-19 05:35] peterwebster commented on #22
That seems sensible to me @KPalmerHeathman @DurHHHI : I shall close the ticket unless @williamsonphilip disagrees.

[2017-10-19 05:37] #20 closed, assigned to peterwebster, dpl0js, DurHHHI, williamsonphilip

[2017-10-19 05:38] peterwebster commented on #11
I wonder whether you were able to confirm this yesterday @dpl0js ?

[2017-10-19 07:38] dpl0js commented on #11
@peterwebster yes, we agreed to change to Greek to English letters.  We decided, too, to start a new folder in which to note editorial interventions, which will form the basis of 'A Note on the Text' at the start of the edition.

[2017-10-19 10:33] dpl0js commented on #20
@peterwebster thank you, we made a special note of this point at yesterday's meeting.

[2017-10-19 13:35] DurHHHI opened #23 "Henson - pencil (or light pen) with dark pen"
![vol15-hhh-pg286](https://user-images.githubusercontent.com/32575577/31773232-0294de08-b4da-11e7-98c7-e0b328f9cd47.JPG)

I've just come across this section in Vol 15 where it looks like Henson has gone over specific words in dark pen. Is there a particular way you might like to note this (i.e. bold underline, italics, or new unique indicator)?

@KPalmerHeathman @peterwebster

[2017-10-19 13:57] peterwebster opened #24 "V14 daily XML to markup (Stage 3)"
In Dropbox (for now) are 23 XML files plus a copy of the stylesheet (styles.xml ) that should allow them to open in Firefox.

I suggest @DurHHHI and @KPalmerHeathman work through these and let me know any issues that arise. I may be able to iron some of these issues out for future volumes at the Stage 2 conversion, so working with these few will be a useful way of testing and amending my process.

[2017-10-19 13:59] KPalmerHeathman commented on #24
Thank you very much, Peter!

[2017-10-19 14:00] DurHHHI commented on #24
You're so fast! Appreciated. 👍

[2017-10-19 14:01] peterwebster commented on #24
@DurHHHI @KPalmerHeathman one issue that also presented itself is when the <!011000 marker has any formatting applied to it, as was the case with the underlining for 0310100. This causes the script that effects the split not to recognise it, so we had two days in one file.

If you can avoid that in the Word stage that will help, but keep an eye out in future for any which slip through, which I won

[2017-10-19 14:02] peterwebster commented on #24
It's amazing what computers can do these days  ;-) @DurHHHI @KPalmerHeathman

[2017-10-19 14:04] peterwebster opened #25 "Create Stage 2 script to check for missed file splits"
Formatting applied to file markers at Stage One cause Stage 2 split script to miss the marker. Need a diagnostic script that detects the issue.

[2017-10-19 14:05] peterwebster commented on #24
Note also my nifty use of a Volume 14 label, so we can distinguish between issues in different volumes

[2017-10-19 14:10] peterwebster commented on #23
It looks as though this is just a case of clarifying what he has written for legibility (rather than emphasising it as particularly important). I'm not sure there's a case for picking it out.

[2017-10-19 14:42] dpl0js commented on #23
agreed.

[2017-10-19 14:50] DurHHHI commented on #23
Excellent! Yes, assumed as much, but thought best to check. Closing the thread.

[2017-10-19 14:50] #23 closed, assigned to dpl0js, williamsonphilip

[2017-10-19 19:23] dpl0js commented on #11
@peterwebster @KPalmerHeathman @DurHHHI @williamsonphilip
Apologies, Peter, but can we please re-open this question?   I seem to have misremembered the outcome of our discussion yesterday.  We wondered whether it would be possible for you to include the Greek letters in the XML code: it would be a pity to lose H's erudition.  There may be occasions, too, when he writes the odd phrase or even sente

[2017-10-20 13:40] peterwebster commented on #11
I shall indicate how these should be marked in the Word files to faciliate conversion.

[2017-10-20 13:42] peterwebster commented on #22
Closing this now.

[2017-10-20 13:42] #22 closed, assigned to peterwebster, dpl0js, DurHHHI, williamsonphilip

[2017-10-20 13:47] peterwebster commented on #11
@DurHHHI @KPalmerHeathman an afterthought: when do you expect to finish volume 15 in Word? Reinserting these might be the last task.

[2017-10-20 16:01] DurHHHI opened #26 "Henson doodles"
![vol15-hhh-pg311](https://user-images.githubusercontent.com/32575577/31830472-3361a37a-b5b8-11e7-9ce8-f0fe652de33c.JPG)

Just came across this beauty! How do folks suggest marking this addition, if at all. Happy Henson doodles.

[2017-10-20 16:14] williamsonphilip commented on #26
Ah, interesting and tricky!   My first thought is to ask whether it would be possible somehow to embed an image in the text, or to have a separate file of images to which the reader could be directed by some symbol in the text.  Presumably other doodles might appear later?

[2017-10-20 19:03] dpl0js commented on #26
I agree:  it would be nice to have such images, perhaps including the entire page as the equivalent of 'plates' in books.  [.....]

Perhaps for now keep a separate file of such pages, as Philip suggests, and approach the Cathedral on a volume by volume basis.

[2017-10-23 09:06] peterwebster commented on #17
List now provided, but second point outstanding.

[2017-10-23 09:15] peterwebster commented on #26
I would want to counsel against trying to embed these in the text, as the result is rarely good when they are of all shapes and sizes. They could certainly be described in footnotes.
The analogy of the plate image is perhaps a good way to think of these, that we deliver to users in some sort of separate section, outside the run of daily entries. The note can refer verbally to the gallery, and the

[2017-10-23 09:53] peterwebster commented on #11
@KPalmerHeathman @DurHHHI when you find these in Word, please replace them with alphagreek, betagreek or gammagreek (just those letters, no punctuation or additional styling.) My Stage 2 script will then turn them into something that will parse in Firefox.
Volume 15 can be our test of how it goes.

[2017-10-23 10:19] peterwebster commented on #11
Script now amended and tested satisfactorily in process_dev

@KPalmerHeathman @DurHHHI once you're happy with this, do feel free to close the ticket.

[2017-10-23 11:00] #11 closed, assigned to peterwebster, dpl0js, DurHHHI

[2017-10-23 14:19] dpl0js commented on #26
Thanks Peter, let's just keep thing simple, i.e. a note that refers the reader to the gallery (nice term!) for the full visual display of the few instances of such plates there are likely to be.

[2017-10-24 12:33] KPalmerHeathman opened #27 "Mystery word"
Neither of us can make out this word: 'an interesting conversation ? the Unemployed'. Does anyone else have any ideas?

![about](https://user-images.githubusercontent.com/32575539/31943177-c7310d02-b8bf-11e7-98a7-a815a392164f.png)

[2017-10-24 12:44] williamsonphilip commented on #27
'Anent' is an old word, meaning 'about' or 'concerning'.  It is another instance of HHH's archaism, but it was still reasonably common among some of his generation.  It was still more common on Scotland, and may even still be used there.  I think leave, without explanation.

[2017-10-24 13:10] KPalmerHeathman commented on #27
Thanks Philip!

[2017-10-24 13:10] #27 closed, assigned to peterwebster, dpl0js, KPalmerHeathman, DurHHHI, williamsonphilip

[2017-10-24 14:17] KPalmerHeathman opened #28 "Crayon list"
I've just come across this right at the end of Vol 15. We think it's a list of pages numbers, but can't yet see what links them together. Should we indicate that these numbers are in colour by bolding them?
![list](https://user-images.githubusercontent.com/32575539/31948299-6e627418-b8ce-11e7-88d9-85075d939242.png)

[2017-10-24 15:06] williamsonphilip commented on #28
Um, tricky. If we knew that these were page numbers, and if we knew what these referred to and decided that they had significance, I might suggest that they be omitted but explained in a footnote  - something like 'Henson at some later date inserted a series of numbers, perhaps relating to ....'.  But if we don't know what the numbers refer to, maybe we silently omit here, but add a remark to the

[2017-10-24 15:30] dpl0js commented on #28
I agree, the numbers can be omitted.  I am sure we will come across similar instances in future volumes, so a reference in Editorial Policies to omission of Henson's very occasional use of the journals - usually front and back covers - as a scribble pad would indeed be appropriate.

[2017-10-24 16:08] williamsonphilip commented on #28
Although, of course, please keep a note in case the significance of the scribble numbers become apparanet at some later stage!

[2017-10-25 10:57] KPalmerHeathman opened #29 "Split files not well-formed"
Hi Peter,
I've just opened the xml files from Vol14 to begin work on the xml. I haven't done anything yet, but when I try to run in Firefox, they all give an error, as below. How can I fix this?

![image](https://user-images.githubusercontent.com/32575539/31995230-72deb35a-b97b-11e7-9bfb-b653c3fc6c62.png)

[2017-10-25 14:24] peterwebster commented on #29
(From a train)

As you work through populating the control sheet & renaming files, delete
the (!date - that's the problem. You don't need it in the file after this
point as the date info is held elsewhere.

On 25 Oct 2017 11:57 a.m., "KPalmerHeathman" <notifications@github.com>
wrote:

[2017-10-25 15:05] KPalmerHeathman commented on #29
Thank you - I knew it would be something small (and something you'd mentioned before and I'd forgotten). Sorry!

[2017-10-25 15:05] #29 closed, assigned to peterwebster, KPalmerHeathman

[2017-10-26 11:44] DurHHHI opened #30 "Project Website"
![screenshot-2017-10-26 cms request forms](https://user-images.githubusercontent.com/32575577/32050988-dddd273e-ba4a-11e7-9269-b0bfa030730c.png)

I'm in the process of requesting a project page through Durham. Julia and Philip, do you have a preference re: site url? I was leaning towards a simple dur.ac.uk/henson but thought best to just quickly confirm if we are on the same ... [web] page?

[2017-10-26 11:49] dpl0js commented on #30
I had better check this with Boguslaw.  Hold on for now

[2017-10-26 11:50] williamsonphilip commented on #30
That seems fine to me.  I guess that we could have 'Henson journals', but there's an advantage in brevity.  Also, this webpage will be different from the final journals website, and it will include perhaps material which is not just about the journals!  Another possibility might be 'Henson project', but again brevity seems best.

[2017-10-26 11:58] dpl0js commented on #30
Okay, let's go with dur.ac.uk/Henson.  Thank you Hilary.

[2017-10-30 09:13] dpl0js opened #31 "insertion marks on p. 44"
Do you think we should indent the text (as H. does), as well as insert the superscript tags, around this passage on [44] of vol. 15? At first glance, it is a bit unclear to the uninitiated that H. added the comment some time later.

<!040601-120302>
[44]
Tuesday, June 4th, 1901.

I attended the Celebration in Henry VIIth’s Chapel, when the Bishop of London was the Celebrant, and a number of member

[2017-10-30 09:16] dpl0js opened #32 "Anson"
Henson's 'n's can sometimes be mistaken for 'u's, i.e. his writing of 'Anson' can sometimes read as 'Auson'. Just to make you aware of this hazard!

[2017-10-30 09:17] dpl0js opened #33 "highlighting of Greek letters on p. [37]"
Shall I remove the highlighting now?

[2017-10-30 09:21] dpl0js opened #34 "straight and curly q. marks"
We agreed that we would use straight q. marks (although I can't remember the reason why!).  Should this policy apply to apostrophes too?

[2017-10-30 09:24] DurHHHI commented on #33
Julia, yes, by all means - examples were kept just to illustrate for discussion should one want to revisit.

@KPalmerHeathman

[2017-10-30 09:33] dpl0js opened #35 "missing table?"
Hilary and Katie, could one of you please check to see if there should be a table on [58]?  Sorry if I am not quite in full command of tables vs lists yet!

[2017-10-30 09:37] DurHHHI commented on #34
Hi Julia,
Peter kindly said that straight or curly quotation marks can be addressed on his end before returning files to us for XML markup. Since Peter's confirmation, Katie and I moved through the remainder of the word transcription file without correcting all quotations marks to straight. I would imagine that, if straight quotations can be addressed via Peter's end, he would be able to do the sa

[2017-10-30 09:39] DurHHHI commented on #32
Thanks Julia!

[2017-10-30 09:39] #32 closed, assigned to KPalmerHeathman, DurHHHI

[2017-10-30 10:11] williamsonphilip commented on #34
I can't now remember the decision, but this exchange has prompted this (pedantic) thought.  HHH considered himself as a stylist, who cared about how things looked on paper.  I've not seen enough of the text with this in mind, but did his practice vary between straight and curly?  What do we think he intended?   My thought is that he might have intended curly, because was this not the style in the

[2017-10-30 10:13] DurHHHI commented on #35
Hi Julia,
I've just now looked and, I agree - in this instance, keeping with what Katie and I did later in the transcription once conventions for tables and lists were clarified, I would make the list in question a table. I'll revise and, if you don't mind, send the revision over via email for you to copy and paste in.

[2017-10-30 10:24] DurHHHI commented on #31
Hi Julia,
I'll bring @peterwebster into this conversation at this point, just to query whether indents made in the word transcription would automatically transfer for XML markup. My understanding is that, if indents are added, this needs to be done manually when working through the XML files. I might have misunderstood this point though, hence my throwing to Peter.

[2017-10-30 12:07] dpl0js commented on #34
Good point.  Can Hilary or Katie remember why we took this decision?

A comparison between 1902 and 1920 reveals a definite tendency towards curly single q. marks and straight double q. marks.  Apostrophes are slightly more variable, but with more of a tendency towards straight rather than curly.

I can do more research on this (perhaps Katie and Hilary can, too, with the CDs you have copied so fa

[2017-10-30 12:38] dpl0js commented on #33
thank you!

[2017-10-30 12:38] #33 closed, assigned to KPalmerHeathman, DurHHHI

[2017-10-30 12:57] #35 closed, assigned to DurHHHI

[2017-10-30 13:05] peterwebster commented on #31
@DurHHHI is quite right: indentation is a word processing convention which does not transfer automatically. So, we've defined two kinds of indented text, which markup needs to be added at the XML stage: one for the freestanding quotations at the head of daily entries, and another for interpolated letters. If this is a third distinct and redurring type of use of indentation to indicate something (a

[2017-10-30 13:07] peterwebster commented on #30
Returning to this from leave, I would concur, so I close the ticket.

[2017-10-30 13:07] #30 closed, assigned to dpl0js, williamsonphilip

[2017-10-30 13:10] peterwebster commented on #28
Are @kpalmerheathman and @durhhhi happy that I close this ticket ?

[2017-10-30 13:37] peterwebster commented on #34
@dpl0js and I agreed on straight in email correspondence on September 29th (with subject heading 'XML/XSL previewing tool' . My reasoning then was that the straight ones displayed correctly in the editing mockup that @kpalmerheathman and @DurHHHI have, and curled did not (without an additional intervention to code them as Unicode characters), and it was one step fewer to carry out, if it was all t

[2017-10-30 13:45] dpl0js commented on #28
fine by dpl0js

[2017-10-30 13:45] #28 closed, assigned to peterwebster, dpl0js, KPalmerHeathman, DurHHHI, williamsonphilip

[2017-10-30 13:54] dpl0js commented on #31
![henson 15_0026](https://user-images.githubusercontent.com/31702168/32174394-a03c5a4e-bd79-11e7-8658-1b6d36dd2b3a.jpg)
pls see p. 45 attached.  My experience so far suggests that this kind of retrospective comment is quite rare in the journals.  What do you think?

[2017-10-30 14:06] dpl0js commented on #34
Thank you @peterwebster.  Unless Philip has any further qualms, I suggest we stick to plan A and use straight q. marks only (including apostrophes).  Please can you confirm that there is no need to standardise them manually as part of the checking process.

@KpalmerHeathman and @DurHHHI, once we agree on the form we will use, could you please add a note to Editorial Policies?

[2017-10-30 14:15] williamsonphilip commented on #34
OK, yes, we can't achieve an exact facsimile, and what is easiest is a strong argument given the other complications.  Sorry to have re-opened the issue.  Agreed: we can cover this in 'Editorial Policies'.

[2017-10-30 14:46] peterwebster commented on #26
After discussion on Skype, closing this.

[2017-10-30 15:25] peterwebster commented on #34
@dpl0js straight or curly, there's no need to make any changes in Word, as I standardise during Stage 2.

Very happy to stick with straight quotations (personally, I prefer them on screen), but I make just one additional observation: if we are at all ambivalent about it, it is possible to opt for curly now and change to straight later (with the revision work incurred in volume 14); it will be quit

[2017-10-30 15:38] peterwebster commented on #31
@dpl0js thanks for the image, which is very helpful. If I may say, the rareness of this kind of occurrence isn't the decisive consideration (from a mark-up point of view). The key point is, I think:  given that the fact that this is a later addition is indicated by the ^, is there additional significance in its being indented? If so, we should define another type of <div element - alongside those

[2017-10-30 15:42] peterwebster opened #36 "Amend Stage 2 script to remove stray whitespace"
A wrinkle in the OxGarage conversion adds additional whitespace before superscript.

So:
amend Stage2.sh to sed:

*whitespace*<hi rend="ss

to

<hi rend="ss

(and variations where the ss attribute is not given first.)

[2017-10-30 15:45] peterwebster opened #37 "Remove extraneous digits in element IDs"
In a wholly admirable obedience to holy writ, @KPalmerHeathman and @DurHHHI have been expressing element IDs as "001", "023" etc.

In stage 4 revision of volume 4, I shall replace these with 1, 5, 27, 49 etc.

[2017-10-30 15:59] peterwebster opened #38 "Nesting superscript within person name"
Hi @KPalmerHeathman @DurHHHI : we discussed before some difficulty in marking up part of a person name as superscript. I've just tried to break this, but it seems to work, for example using:

`Mr <persName id="123">Cec<hi rend="sup">il</hi></persName>`

Could you try to replicate the problem you've had before, and paste the code in here, paying particular attention to the nesting of the tags?

(Wh

[2017-10-30 16:04] peterwebster commented on #34
Note to self:  https://www.cl.cam.ac.uk/~mgk25/ucs/quotes.html

[2017-10-30 16:14] peterwebster opened #39 "Imperfect conversion of Word styling to XML"
@DurHHHI and @KPalmerHeathman supply these examples from volume 14:

Ex. 21 Oct 1900 - Word file cleaned [went back to check], underline sections in XML absent
Ex. 28 Nov 1900 - Spacing issue with date; also no superscript underline
Ex. 27 Nov 1900 - "Daily News" line supposed to be all italics; underline of 'can' captured but no italics.

[2017-10-30 16:22] KPalmerHeathman commented on #38
Hi Peter, here's an example of the problem:

`We picked up <persName id="031">Lord W</hi>
            <hi rend="b sup u">m</hi>
            <hi rend="b u"> Cecil</persName>`

There is another which I will try to find.

[2017-10-30 16:25] KPalmerHeathman commented on #38
`<hi rend="b u">I dined with <persName id="102">M</hi>
            <hi rend="b sup u">rs</hi>
            <hi rend="b u"> Romanes</persName>`

[2017-10-30 16:25] peterwebster commented on #39
I'll need to return to this a little later in the week, but could you add a screenshot of what you see in Firefox for the first of these examples? @DurHHHI @KPalmerHeathman
The XML seems to be OK, but perhaps it's a stylesheet issue.

[2017-10-30 16:57] dpl0js commented on #34
Resolved then; straight q. marks throughout.  Thanks to all, Julia

[2017-10-30 16:57] #34 closed, assigned to peterwebster, KPalmerHeathman, DurHHHI, williamsonphilip

[2017-10-30 17:07] dpl0js commented on #31
@peterwebster Thank you; you are quite right:  this is an insertion like any other and should not perhaps be treated differently from others.  Perhaps @KPalmerHeathman @DurHHHI could keep a note of this page for drawing to the attention of the Developer.

[2017-10-30 17:23] peterwebster commented on #38
Yes, it's an issue with the nesting, as in both cases you've got <hi markup that spans either before or after the line of code you've quoted.

In the second example, you'd need to close the first <hi one before the <persName and open it again inside it, and then close before the closing <persName and open again after, like so:

`<hi rend="b u">I dined with</hi> <persName id="102"><hi rend="b u">M<

[2017-10-31 10:58] DurHHHI commented on #31
Have noted, and closing.

[2017-10-31 10:58] #31 closed, assigned to KPalmerHeathman, DurHHHI

[2017-10-31 11:08] DurHHHI commented on #39
![peter 21-10-00 xml ex](https://user-images.githubusercontent.com/32575577/32221013-c5ad759e-be2b-11e7-90a3-5f779a365492.png)

[2017-10-31 11:10] DurHHHI commented on #39
Bold underline for Henson's underline markup not appearing, also notice that there are additional spaces reflected both before and after superscript text

[2017-10-31 12:59] dpl0js opened #40 "request for advice"
@williamsonphilip please can you confirm that a [sic] sign is needed in the middle of this sentence.  Henson may have lost the verb after 'in order to' in copying it out.  But if it makes sense to you, then I will delete sic.  I have checked the transcription several times.

If I could see that there was any inherent necessity for a Virgin Birth in order to the Incarnation, [sic] or that there was

[2017-10-31 13:56] dpl0js opened #41 "Date codes"
@KPalmerHeathman @DurHHHI
Please can I clarify date codes with you.

Where there is a date span, do we exclude letters where they are free-standing, i.e. not book-ended by a journal entry.  E.G. vol. 15, [189-193] has only one date.

But [230-39] has a date span even where it ends in a letter.

Should 189-193 have a date span, too?

[2017-10-31 15:02] DurHHHI commented on #41
A date span indicator for pg. 189-193 could be added but it is not required, only helpful to Katie and I as a speedy catch when we remove the date codes at XML stage and input the entry start and end dates into the control sheets.

[2017-10-31 15:29] dpl0js commented on #41
@DurHHHI Thank you Hilary, then  I shall just leave the date code spans - and absence thereof - as they are.

[2017-10-31 15:29] #41 closed, assigned to KPalmerHeathman, DurHHHI

[2017-10-31 17:41] williamsonphilip commented on #40
Yes, it looks to me as if some indication is needed.  If [sic], this should come before the comma, but I think this might be a case where we should have '.... for a Virgin Birth in order to [word missing] the Incarnation, ...'.   I think raise this at tomorrow's meeting, as a matter to that might go into 'Editorial policies'.

[2017-10-31 17:50] dpl0js commented on #40
Thank you - [word missing]. We will make more use of this and analogous phrases, and will draw it to the attention of K and H tomorrow.

[2017-11-01 14:11] peterwebster commented on #39
Thanks @DurHHHI : the latter issue is being dealt with at #36 .

[2017-11-01 14:53] peterwebster commented on #36
@DurHHHI @KPalmerHeathman : I can fix this issue of additional whitespaces associated with superscript text for volume 15 and subsequent volumes, but need to ask you to fix it in the XML for volume 14. If you use the Search (or Find) tool in Notepad++ you should be able to pick them out.

[2017-11-01 14:59] peterwebster commented on #39
Revised stylesheet supplied, awaiting feedback after testing.

[2017-11-01 15:06] peterwebster opened #42 "ref, cit, bibl, quote : examples"
`That afternoon I read in <cit><bibl>Hooker's <ref>Lawes of Ecclesiastical Polity</ref> in the fifth chapter</bibl> the claim that <quote>'jelly beans are by far the superior treat for Halloween'</quote></cit> which I find hard to accept.`

@KPalmerHeathman @DurHHHI

[2017-11-01 15:11] DurHHHI commented on #39
Yes, thanks Peter, knew it was being addressed after our conversation (and now clocking raise in #36). Just noticed that where I thought it was only affecting spacing in front of the superscript characters, it is front and back.

[2017-11-01 15:11] peterwebster commented on #42
`<cit>The otherwise admirable <bibl>Robertson of Brighton states in his <ref>Sermons</ref></bibl> that <quote>'I do like to be beside the seaside'</quote></cit>; I find little in Holy Writ to support such an infamous view, as I stated in my own <ref>Musings upon Popular Recreation</ref>`

[2017-11-01 15:13] KPalmerHeathman commented on #39
Thanks for the new stylesheet. Just tested and bold underline is still showing as just bold.

[2017-11-01 15:14] peterwebster commented on #39
@KPalmerHeathman at which point?

[2017-11-01 15:16] KPalmerHeathman commented on #39
In the same example as Hilary shared above, about picking up Lord Cecil. Everything bold in that entry should also be underlined, but is not displaying as such.

[2017-11-01 15:22] peterwebster commented on #39
By and large you can only underline a character, so if you delete the stray whitespace either side of the m of Wm, the gaps disappear. The superscript m is underlined, but it is superscript so it looks as if there's a gap. If there's anything to be done with this, it will have to be at the developer stage.

[2017-11-01 15:24] KPalmerHeathman commented on #39
Every bold sentence in that entry should also be underlined though, not just the superscript, but it's only bold at the moment.

[2017-11-01 15:27] peterwebster commented on #39
This is what I'm seeing...

![image](https://user-images.githubusercontent.com/5520710/32282296-20b15b98-bf19-11e7-860e-4f7cf6659230.png)

[2017-11-01 15:29] KPalmerHeathman commented on #39
I'm still seeing the below, even though I've saved the new stylesheet.
![clipping](https://user-images.githubusercontent.com/32575539/32282404-68672788-bf19-11e7-9273-62c73ce41b4b.png)

[2017-11-01 15:30] peterwebster commented on #39
Could you double check the filename of the stylesheet at the very top of the XML file matches that of the XSL file, and that they're in the same directory?

[2017-11-01 15:32] KPalmerHeathman commented on #39
Argh, they were saved in different places and it's all fine now. Sorry for being so slow!

[2017-11-01 15:33] peterwebster commented on #39
Don't worry, it's a very common error. Has the new stylesheet solved all the issues that were first raised?

[2017-11-10 14:50] peterwebster commented on #42
I trust these have been of use @DurHHHI @KPalmerHeathman but I shall close the ticket now to keep things tidy.

[2017-11-10 14:50] #42 closed, assigned to nobody

[2017-11-10 14:53] peterwebster commented on #40
@dpl0js may I close this ticket now, if a course of action is agreed?

[2017-11-10 15:29] peterwebster commented on #38
*puts tutorial hat on*
Here's the problem @DurHHHI :

`<hi rend="b u">I dined with <persName id="102">M</hi><hi rend="b sup u">rs</hi><hi rend="b u"> Romanes</persName> &amp; met <persName id="103">Canon Ainger</persName>, the Master of the <orgName id="016">Temple</orgName></hi>,`

Notice that the opening <hi is not closed before the <persName, which is from whence the problem stems. I think if y

[2017-11-10 15:38] peterwebster commented on #38
@DurHHHI this way of viewing it may help, with each little cluster of nested elements on its own line:
`<hi rend="b u">I dined with</hi>`
`<persName id="102"><hi rend="b u">M</hi> <hi rend="b sup u">rs</hi> <hi rend="b u"> Romanes</hi></persName>`
`<hi rend="b u"> &amp; met</hi>`
`<persName id="103"><hi rend="b u">Canon Ainger</hi></persName>`
`<hi rend="b u">the Master of the</hi>`
`<orgName id="

[2017-11-10 15:46] DurHHHI commented on #38
Thank you Peter - that is very helpful! I'll need to watch for those closures! For the moment I've nestled the persName just on 'Romanes'.

Really appreciated!

[2017-11-10 16:24] peterwebster opened #43 "Collecting strings to be marked up by script at Stage 2"
@DurHHHI @KPalmerHeathman you'll find in GDrive a new file called Replace.

In it, could you fill out three columns:

- B and G must be identical, B being the string of characters you want the script to pick out, and G the means by which it writes those back into the file surrounded by the requisite tags (which are in columns D, E, F and H.
- E is the ID of the person.

I'd like to try this out on

[2017-11-10 16:27] peterwebster commented on #38
If you're happy that this is dealt with, do close the ticket @DurHHHI . Copying @KPalmerHeathman in for information before it disappears from the list of Open Issues.

[2017-11-10 16:28] #38 closed, assigned to nobody

[2017-11-14 10:56] peterwebster commented on #43
@KPalmerHeathman @DurHHHI thanks for adding some lines to this sheet; do you think that's all you have for now, or should I wait a day or two?

[2017-11-14 11:00] peterwebster commented on #43
Note also that, as currently expressed, the result could be

`<persName id="113>Harold</persName><persName id="113">Knowling</persName>`

unless you're reasonably sure that he is seldom referred to by his full name.
It will also catch other Harolds, which will need to be corrected.

@KPalmerHeathman @DurHHHI

[2017-11-14 11:10] peterwebster commented on #39
Closing this ticket now @KPalmerHeathman : do open it again if I'm wrong in thinking that the issue is resolved.

[2017-11-14 11:10] #39 closed, assigned to nobody

[2017-11-14 11:12] peterwebster commented on #36
When we spoke last week @DurHHHI mentioned that not only was there additional whitespace associated with superscript, but also with other punctuation. I realise that you've corrected it now, but if there's any way you can remember some places in volume 14 where this happened, I can see what the problem is.
cc @KPalmerHeathman

[2017-11-14 11:14] KPalmerHeathman commented on #43
Hi Peter,
I've changed Harold to avoid this, and added a few organisations and places to the list. I don't think there are many more, but I'll let you know by the end of the day whether it's ready to go.

[2017-11-14 11:18] DurHHHI commented on #36
Hi Peter,
I've noted a few examples via the Vol 14 control sheet - does that help at all? I didn't note each time I made a manual change, only recognizing about 75% through the manual fixes that there seemed to be a spacing issue with some punctuation beyond the superscript.

[2017-11-14 11:46] KPalmerHeathman commented on #43
We're ok to go now!

[2017-11-14 11:58] peterwebster opened #44 "Extraneous <seg tags in XML"
The conversion process for volume 15 has thrown up an eccentricity, in that it has inserted <seg tags at various places, which (in TEI terms) represents an arbitrary segmentation of the text below the paragraph level.
This makes me suspect that these were keyed in some way which you have removed, but because Word leaves all sorts of invisible debris behind, it is carried through to the XML.

Could

[2017-11-14 12:07] DurHHHI commented on #44
Nothing unusual that I see, Peter - beyond that these passages were both sitting at the start or within a vertical marginal line.

![capture_1](https://user-images.githubusercontent.com/32575577/32779074-4cb9892a-c934-11e7-9c91-b23c87ca11e0.JPG)

----

![capture](https://user-images.githubusercontent.com/32575577/32779083-53abef0c-c934-11e7-88c7-bbcf09f0bc59.JPG)

[2017-11-14 12:08] #40 closed, assigned to williamsonphilip

[2017-11-14 13:24] peterwebster commented on #44
Thanks @KPalmerHeathman : it will be some remnant of the code associated with the vertical line.

Note to self:  remove these manually in volume 15 but watch for recurrence in 16. If this occurs, amend the Stage 2 script.

[2017-11-14 13:31] peterwebster commented on #44
Also, in 16, check for <anchor tags : three of these in V15, seemingly without reason.

[2017-11-14 13:43] peterwebster commented on #36
Thanks @DurHHHI : a supplementary question for you and @KPalmerHeathman

In the case of the extra space before superscript, I can go through and remove all instances where you have this, which should cover the cases where there is Mr and Dr and the like.
However, it will also take out a space before a superscript ^ denoting an insertion, giving something like:

... I fully intend to do this for hi

[2017-11-14 14:07] peterwebster commented on #36
So, the problem is this. OxGarage seems to add a single character of whitespace whenever there is a switch from one kind of <hi  (bold and superscript, say) to another kind of <hi (just bold) between two contiguous characters.

So, watch this further in vol 15. For volume 16, script the following, plus any others that are identified:

(i)  `*space*<hi rend="b">.  to <hi rend="b">.`
(ii) `*space*<h

[2017-11-15 08:22] peterwebster commented on #43
@KPalmerHeathman @DurHHHI do you want to include Davidson/Cantuar? If so, he needs an ID....

[2017-11-15 09:28] KPalmerHeathman commented on #43
Sorry @peterwebster, meant to take those out - rarely mentioned in 15 so we'll do it manually when we get to him.

[2017-11-15 10:38] peterwebster commented on #43
Thanks @KPalmerHeathman :
One point to note, for the next time we revise this script @DurHHHI :

The changes are applied in the order they are listed: that is, the script goes through the whole file marking up the first term, and then goes back to the beginning and does the second one etc.

So, if you have both 'Harold' and 'Harold Knowling', then we must do 'Harold' first, since if we don't, it m

[2017-11-15 10:45] peterwebster commented on #43
This of course means that 'Harold Knowling' will never in fact be found by the script. (Since it will only ever see:
`<persName id="113">Harold</persName> Knowling`

So, there is actually a choice to make: would you rather
(i) have all Harolds marked up, and have to amend those which are not Mr Knowling, or:
(ii) have only 'Harold Knowling' marked up, and have to manually do those where he is refe

[2017-11-15 10:49] peterwebster commented on #36
Can I press you for a decision on the matter in the comment two above this one? It is the only thing holding up volume 15 (which I'm sure you're desperate to have)
@KPalmerHeathman @DurHHHI

[2017-11-15 12:02] KPalmerHeathman commented on #36
Hi @peterwebster, sorry we were in a project meeting, replying asap. We're fine with losing the space before a superscript denoting an insertion, as these are very rare and we can put them in manually.

[2017-11-15 12:08] KPalmerHeathman commented on #43
My twopenn'orth is that most Harolds in vol 15 are young master Knowling, so we should mark up all Harold and manually amend the others. Unless @DurHHHI thinks otherwise?

[2017-11-15 13:19] DurHHHI commented on #43
Nope, I think similar(wise) ;). @KPalmerHeathman

[2017-11-15 13:23] peterwebster commented on #36
"325 replacements made".
You're welcome @DurHHHI @KPalmerHeathman

Closing ticket now, transferring part as note to self for later.

[2017-11-15 13:23] #36 closed, assigned to peterwebster

[2017-11-15 13:25] peterwebster opened #45 "Stage 2 script amendment for volume 16"
So, the problem is this. OxGarage seems to add a single character of whitespace whenever there is a switch from one kind of <hi (bold and superscript, say) to another kind of <hi (just bold) between two contiguous characters.

So, watch this further in vol 15. For volume 16, script the following, plus any others that are identified:

(i)  `*space*<hi rend="b">. to <hi rend="b">.`
(ii)  `*space*<hi

[2017-11-15 13:46] peterwebster commented on #36
The comment above should of course have read:  "You're welcome ;-) "  @DurHHHI @KPalmerHeathman

Note to self: jokes are hard.....

[2017-11-15 13:52] peterwebster commented on #43
Marvellous: have amended both the script and the master list in GDrive.

Clearly we want to keep this under review as we go along. Could you use the GDrive as the place for such amendments, but use the CHANGE column to indicate what I need to revise (including deletions). @KPalmerHeathman @DurHHHI

[2017-11-15 13:52] #43 closed, assigned to peterwebster

[2017-11-15 13:53] DurHHHI commented on #36
23 minutes of tears until we saw that ;-) !!

[2017-11-15 13:54] DurHHHI commented on #36
(above comment also meant to be read with a ;-) !) Thanks @peterwebster for keeping us smiling!

[2017-11-20 14:50] KPalmerHeathman opened #46 "Spacing issues in XML"
We seem to be having some spacing issues in Vol 15 as well, I'm afraid. It's around superscripts again:
`<p>
            <hi rend="b">The Epiphany, Sunday, January 6</hi>
          <hi rend="b sup u">th</hi>
            <hi rend="b">, 1901.</hi>
         </p>`

We can take the spaces out manually of course, but it's going to take a lot of time. Is there a way @peterwebster can do anything  - we've

[2017-11-20 14:55] KPalmerHeathman opened #47 "Dev/stylesheet: underlined superscript in bold underlined sections"
Text which is bold underlined and also includes superscript is supposed to retain only the bold underline, with the superscript not having its own separate underline. However, it seems that the superscript underline takes precedence in XML, even when it is correct in Word:

`<hi rend="b u">I proposed to M</hi><hi rend="b sup u">r</hi><hi rend="b u"> Talbot that the Burgesses of `

[2017-11-20 15:49] peterwebster commented on #47
I'm not sure I'm grasping the issue: could you grab a screenshot from Firefox @KPalmerHeathman ?

[2017-11-20 15:53] peterwebster commented on #45
See also #46

[2017-11-20 15:58] KPalmerHeathman commented on #47
Sorry, terrible at explaining!

Here in Word, Mr Talbot bold underlined with the underline not on the superscript:
![word](https://user-images.githubusercontent.com/32575539/33027663-a911dbd8-ce0b-11e7-936d-f90837161fd3.png)

Here in Firefox, with the underline reverting to the superscript:
![xml](https://user-images.githubusercontent.com/32575539/33027683-b619c37c-ce0b-11e7-890c-7445b66be35d.png)

[2017-11-20 16:28] peterwebster commented on #47
OK, got it. I don't think there's anything that can be done at this stage; that's just how the browser deals with it. I'm now converting this ticket to a note to see whether it can be fixed in the stylesheet for the live site, but I'm not completely confident it can be. It may be an eccentricity we have to live with - or, we have to think entirely afresh about how it is handled. How big an issue d

[2017-11-20 16:37] peterwebster commented on #46
Thanks for pointing this out: how long do I have to decide what to do without holding you up? @KPalmerHeathman @DurHHHI   It will involve discarding what you've done already, *or* leaving it until after you've done the markup - but that risks introducing new errors and (I'm assuming) that you won't have to time to check for.

[2017-11-20 16:42] DurHHHI commented on #46
@peterwebster We can continue to work on transcription for Vol 16, and editorial comment for the next few days if you have opportunity to play with the issue. I see us finishing the transcription check for 16 by end of the week. Would that give enough time?

[2017-11-21 13:56] peterwebster commented on #46
@KPalmerHeathman @DurHHHI could you take a look at the files you have and see whether it is *only* in the cases of "b sup u ?
Is it OK for "b" and "sup u ?

[2017-11-21 14:39] peterwebster commented on #46
Actually, scratch that: I can that there's a problem for all three.

[2017-11-21 15:47] peterwebster commented on #46
@KPalmerHeathman @DurHHHI OK: I shall need to come back to this, but I'm halfway there. I haven't yet been able to remove the issue entirely so far, but (should I get no further) it should now be very obvious when you open the XML file which are the offending lines, which may be fixed with a single stroke on the backspace key.

[2017-11-22 13:51] peterwebster commented on #46
In the sample files I've just sent, hopefully it will look like this in Notepad, where the problem lines are hard to the left. @KPalmerHeathman @DurHHHI
![image](https://user-images.githubusercontent.com/5520710/33130702-1aa56a18-cf8c-11e7-8f07-dbd3e437fd90.png)

[2017-11-22 16:35] DurHHHI commented on #46
Hi @peterwebster - This is exactly what the files look like. If we have to make manual adjustments, it is really handy to have the problem lines identified so easily. Many thanks! @KPalmerHeathman

[2017-11-23 06:19] peterwebster commented on #46
@KPalmerHeathman @DurHHHI OK, there is now another folder in Dropbox with the new files (V15_split_v2 ).
You're welcome :-)  speak to you guys tomorrow.

[2017-11-23 06:19] #46 closed, assigned to peterwebster, DurHHHI

[2017-11-23 06:22] #24 closed, assigned to KPalmerHeathman, DurHHHI

[2017-11-23 06:24] #6 closed, assigned to peterwebster

[2017-11-23 09:25] KPalmerHeathman opened #48 "What does this say?"
![image](https://user-images.githubusercontent.com/32575539/33165829-223ec766-d030-11e7-91a5-b95f44c752d0.png)
 Can anyone shed any light here? I have 'He has conceived an immense admiration & affection ??? ??? for you'

[2017-11-23 09:36] #48 closed, assigned to dpl0js, DurHHHI, williamsonphilip

[2017-11-23 16:52] KPalmerHeathman opened #49 "Zoo or 300?"
Would anyone like to offer a judgement on Henson's monthly accounts for Feb 1907? Zoo or 300?
![image](https://user-images.githubusercontent.com/32575539/33183155-9eff6c04-d06e-11e7-8922-79c1a384d6a9.png)

[2017-11-24 08:59] dpl0js commented on #49
@KPalmerHeathman I think this means the zoo:  as we have discussed, he likes going there!  He was fascinated by the livestock at Birkenhead and Liverpool docks in 1885!

[2017-11-29 15:00] KPalmerHeathman opened #50 "How miserable are these ?, which make hypocrites of us all."
![image](https://user-images.githubusercontent.com/32575539/33381413-ddd1499c-d515-11e7-99fc-c436ebe70e27.png)

Can anyone clear up the mystery word here?

[2017-11-29 20:01] dpl0js commented on #50
@KPalmerHeathman The closest I can get to this at the moment is 'cares'.  But I will pay close attention to the passage when I check the volume.

[2017-11-30 14:35] KPalmerHeathman commented on #50
Thanks @dpl0js , it's p. 407 of the journal.

[2017-11-30 14:36] KPalmerHeathman opened #51 "Crayon numbers"
![image](https://user-images.githubusercontent.com/32575539/33436031-c2bde928-d5db-11e7-90ae-ee1b1f51abe8.png)
Hello all. Would anyone like to offer any suggestions on how we should deal with words or numbers written in coloured crayon?

[2017-11-30 14:38] KPalmerHeathman commented on #50
Here's the full passage in case @williamsonphilip or @peterwebster can decipher it:
![image](https://user-images.githubusercontent.com/32575539/33436126-14cd61f8-d5dc-11e7-98e4-f1b3395c6b92.png)

[2017-11-30 15:05] williamsonphilip commented on #50
The meaning seems to be that H was put on the spot by Lang, and ended up saying things he regretted.  This looks like a contemporary or colloquial term for such situations.  I guess a possibility might be 'jars' (which sort of makes sense) - but does H use a reverse 'j' elsewhere?

[2017-11-30 15:06] dpl0js commented on #51
@KPalmerHeathman Could it be inserted in bold superscript, thereby indicating that it is a later insertion? A note in the Editorial policies would cover such action.  I see that there is a similar reference on p, [450] - back to [441].

[2017-11-30 15:22] KPalmerHeathman commented on #50
It does look very much like his usual lower case j, but reversed - I can't think of a previous example of this reversal. Henson's c can sometimes descend below the line though, to complicate matters:
![image](https://user-images.githubusercontent.com/32575539/33438268-409ffbdc-d5e2-11e7-9e43-7b0fe0614765.png)
I'm stuck between it's a j, and it's a c followed by ', and a contraction for something w

[2017-11-30 15:33] dpl0js commented on #50
I think 'jars' is spot on:  see OED (n), 6b, 'A dissension, dispute, quarrel, now used chiefly of petty (esp. domestic) broils.  See Bunyan and Dryden entries especially.

[2017-11-30 15:44] williamsonphilip commented on #51
Yes, the meaning of the 'v.' is vide, see, so 'see p. 450'.   This is H reading the journal at the time of preparing Retrospect, and making cross references.

[2017-11-30 15:58] KPalmerHeathman commented on #51
Thank you @williamsonphilip , I am aware of the meaning, I was merely enquiring as to how it should be rendered in the edition as we don't yet have an editorial policy for text, as opposed to underlining/marginal lines, in crayon.

[2017-12-07 10:47] peterwebster commented on #51
I would be reluctant to insert it, since it relates to the entry as a whole, rather than to a specific point on a line. How about in a footnote? @KPalmerHeathman @dpl0js

[2017-12-07 10:48] peterwebster commented on #49
As I think this is resolved, I close this ticket.

[2017-12-07 10:48] #49 closed, assigned to dpl0js, KPalmerHeathman, DurHHHI, williamsonphilip

[2017-12-07 10:50] peterwebster commented on #50
Coming to this late, I would agree that 'jars' works. As I think this is probably resolved @KPalmerHeathman I'll close the ticket.

[2017-12-07 10:50] #50 closed, assigned to peterwebster, dpl0js, DurHHHI, williamsonphilip

[2017-12-07 11:48] dpl0js commented on #51
Yes, a footnote sounds like a good solution.

[2017-12-12 12:35] KPalmerHeathman opened #52 "This list"
Hi Peter,
I can't work out what I'm doing wrong here, but this list won't run - Firefox says the problem is with the </list> but I just don't see it...
`<hi rend="b">[111]</hi>
         </p>
         <p>Copies of <ref id="13">"Preaching to the Times"</ref> have been sent to:-</p>
         <list type="unordered">
            <item><persName id="216">Gow</persName></item>
            <item><persName

[2017-12-12 15:58] peterwebster commented on #52
Line 5, there's an opening item tag instead of a closing one after Kirshbaum @KPalmerHeathman

[2017-12-12 16:01] KPalmerHeathman commented on #52
*headdesk*
Thank you!

[2017-12-12 16:01] #52 closed, assigned to peterwebster, KPalmerHeathman

[2018-01-04 11:54] peterwebster opened #53 "Static pages of person/place annotations"
This is the first in a series of small decisions I'll be asking you to make before Gregory arrives. This one concerns the short notes on people, places, organisations, that are being compiled.

The primary way in which a user accesses these is via a mention of that person/place in a particular daily entry, at which point they can most likely read the annotation in some sort of pop-up box.

Users w

[2018-01-04 12:00] williamsonphilip commented on #53
Thanks Peter.  Yes I agree.  For the reasons you state, I don't think a static page for persons/places/etc. is needed.

[2018-01-04 12:08] dpl0js commented on #53
I agree too: no need for a static page.

[2018-01-09 11:44] peterwebster commented on #53
Many thanks @dpl0js @williamsonphilip : I think we've agreed that we do not need a static page for persons, places, organisations.

May I sum up what I think we're heading towards as regards the means by which users access the information that is being compiled. We have five kinds of information (persons, places, organisations, sermons/speeches, publications), and three means of engaging with them

[2018-01-11 13:39] peterwebster commented on #53
I wonder if @dpl0js and @williamsonphilip have a moment to consider the matter in the comment above.

[2018-01-11 13:53] peterwebster opened #54 "XML proforma for tables"
@KPalmerHeathman @DurHHHI

Katie was in need of a copy-and-paste way of inserting a table in XML in cases where it had not come through from Word:
`<table>
	<row>
		<cell role=”label”>The heading for the first column, if required.</cell>
		<cell role=”label”>The second column heading.</cell>
	</row>
	<row>
		<cell>Some text in the first column, first row.</cell>
		<cell>Some text in the second col

[2018-01-11 13:55] #54 closed, assigned to nobody

[2018-01-11 14:32] dpl0js commented on #53
Thank you Peter,  I agree that the first three matters are now settled, to everybody's satisfaction.

On sermons, and speeches, I would be prepared to limit references to pop-up form only, although with some reluctance, given the difficulty of anticipating future usage of the edition.  I'm not sure whether the problem is lack of sermons (clearly not) or difficulty in\lack of time for tracing publi

[2018-01-11 16:29] peterwebster commented on #53
Many thanks @dpl0js for this. Of course, do by all means discuss it in the meeting next week. Two observations:

1. On sermons and speeches: we can easily enable any of the three options, and disable one or more later. What we can't do is decide against something now, and then enable it later. So, if in doubt we should err on the inclusive side.

2. On publications: when dealing with Henson's, you

[2018-01-11 19:58] dpl0js commented on #53
Thank you Peter, I will put this to the committee next week.

[2018-01-11 20:09] williamsonphilip commented on #53
Dear Peter,

Apologies for a delayed reply.  Suffice to say, I agree with Julia.

To expand a little: a valuable scholarly contribution would be to have a complete (static) bibliography of (a) Henson's books; and of the contents, where these are collections of sermons and lectures (with dates of delivery if possible); (b) articles in reviews and The Bishoprick (some of which will also be in the bo

[2018-01-12 09:15] dpl0js commented on #53
Thank you Philip, it seems a shame to miss the opportunity of collecting Henson's sermons, if only those to which we are led by the journals.  I have added this to the list of discussion points for next Wednesday.  As Peter says, we can start off compiling a static list and search facilities for such outputs and see how it goes.
Peter and I can discuss in our next phone call the constraints on a s

[2018-01-16 14:40] KPalmerHeathman opened #55 "Non-crayon marginal lines"
We don't currently have a style policy on how to render marginal lines added in black at the time of writing, rather than in colour later.  We're differentiating between black and coloured underlining already. I've just come across this in volume 17:
![image](https://user-images.githubusercontent.com/32575539/34994314-00f4ec1e-facb-11e7-9edd-31d3c06d4210.png)
Any suggestions for how to deal with t

[2018-01-16 15:22] dpl0js commented on #55
Dear Katie, Can't we just leave the marginal lines in black, as with black underlining added at the time of writing?  Perhaps we can explain in 'editorial policies' the nature of black marginal strokes.  They are a frequent occurrence in the later volumes.  Sorry if I have missed something.

[2018-01-16 15:30] KPalmerHeathman commented on #55
I thought the reason we were converting crayon marginals to italics was because marginal lines wouldn't pull through in the XML stage? @peterwebster, would you be able to confirm whether this is the case?
If it's not possible to use marginal lines, I assume we'll either need to italicise as for crayon marginals, or come up with a new way of differentiating between them.

[2018-01-16 15:59] dpl0js commented on #55
I have just checked the rev'd transcription style sheet (bottom p. 14) and there doesn't seem to be a problem with vertical lines; we just did away with them when they are coloured.

[2018-01-19 08:49] peterwebster commented on #55
Sorry to come late to this @KPalmerHeathman @dpl0js . It is certainly true that (a) vertical marginal lines in the Word transcription will not survive the conversion to XML, and (b) this applies whatever the colour. So, we need to represent these by italics and/or some other text effect, and differently if we want to distinguish between black ones and coloured.

[2018-01-19 08:50] peterwebster commented on #51
Closing this as dealt with @KPalmerHeathman @DurHHHI

[2018-01-19 08:50] #51 closed, assigned to peterwebster, dpl0js, KPalmerHeathman, DurHHHI, williamsonphilip

[2018-01-19 09:03] dpl0js commented on #55
Thanks Peter, I think we do need to distinguish black from coloured marginal lines.  How about 'small capitals' in the font menu?

[2018-01-19 13:37] peterwebster commented on #55
Is it the case that black marginal lines correspond to a whole block of text (a quotation, as in this case), whereas the colours refer to a sentence or sentences within a paragraph? @KPalmerHeathman @dpl0js

FWIW, I dislike small caps for anything more than a word or two, just for the visual effect.

[2018-01-19 13:51] KPalmerHeathman commented on #55
The coloured margin strokes often correspond to a whole block of text as well.

We haven't used just bold, without underlining, yet?

[2018-01-19 14:27] dpl0js commented on #55
Thanks Katie, bold without underlining sounds like a good solution.

[2018-01-19 14:52] peterwebster commented on #55
This sounds good to me.

[2018-01-22 06:06] peterwebster commented on #55
I think this is now settled and so I close the ticket. Can I leave @dpl0js to revise the style guide?

[2018-01-22 06:48] peterwebster opened #56 "Single description/narrative field in sermons/speeches"
After discussion, @KPalmerHeathman and @DurHHHI to amalgamate the current Title and Narrative fields in the sermons/speeches sheet, and then delete the empty column.

[2018-01-22 09:40] DurHHHI commented on #56
Completed, and closing.

[2018-01-22 09:40] #56 closed, assigned to KPalmerHeathman, DurHHHI

[2018-01-29 14:34] KPalmerHeathman opened #57 "Won't run, but I can't work out why?"
<?xml version="1.0" encoding="utf-8"?><?xml-stylesheet type="text/xsl" href="styles.xsl" ?><text><body>
         <p>
<hi rend="b">[353]</hi>
         </p>
         <p>
<hi rend="b">All Saints Day, Tuesday. November 1</hi>
<hi rend="b sup u">st</hi>
<hi rend="b">, 1904.</hi>
         </p>
         <p>Kirshbaum celebrated.  There were 15 communicants.  <hi rend="b u">I made a vain attempt to see Car

[2018-01-29 14:46] KPalmerHeathman commented on #57
Sorry, should be:
`<?xml version="1.0" encoding="utf-8"?><?xml-stylesheet type="text/xsl" href="styles.xsl" ?><text><body>
         <p>
<hi rend="b">[353]</hi>
         </p>
         <p>
<hi rend="b">All Saints Day, Tuesday. November 1</hi>
<hi rend="b sup u">st</hi>
<hi rend="b">, 1904.</hi>
         </p>
         <p>Kirshbaum celebrated.  There were 15 communicants.  <hi rend="b u">I made a vain

[2018-01-30 09:05] peterwebster commented on #57
Between the two days, the date tag is missing an opening bracket (but it can come out anyway), and there is also a missing closing </p tag

@KPalmerHeathman

[2018-01-30 09:29] KPalmerHeathman commented on #57
Oh no, it should be two separate files but didn't split because of the unfinished date tag in the middle (didn't spot that one because I'd already taken out the one at the start). Is there a way I can split the file?

[2018-01-30 09:37] peterwebster commented on #57
The fastest way is just to create a new XML file and cut and paste. Save a copy, and cut the irrelevant bits out of each one to make two days. @KPalmerHeathman

[2018-01-30 09:42] KPalmerHeathman commented on #57
Thanks 👍

[2018-01-30 10:29] #57 closed, assigned to peterwebster, KPalmerHeathman

[2018-01-30 11:37] peterwebster commented on #26
I've reopened this as I'm in the process of specifying what Gregory should be doing. For the notice of @KPalmerHeathman @DurHHHI , I added the CrossRef field to the Notes file. As and when there are any examples of this, just enter _gallery_ here, and it can then link to the gallery (but not to any specific image).
Do close the ticket again once you've seen this and are happy/clear about it.

[2018-01-30 15:23] KPalmerHeathman commented on #55
@dpl0js, @williamsonphilip, @peterwebster, @DurHHHI
I've reopened this because we've realised that bold is not a good solution for this after all, because if/when there are underlined words or sentences within a black marginal lined section, we won't be able to differentiate between black and crayon underlining as the whole section will be bolded. We're going to need a solution to this as the blac

[2018-01-30 17:32] dpl0js commented on #55
Thanks Katie,
Peter, have we run out of options, apart from small capitals?  Might we see the full effect of small capitals, in bold, where there is some coloured underlining?

[2018-01-31 09:59] peterwebster commented on #55
I think we have indeed run out of combinations of bold, italic and underline, and I woudl still say that small capitals are really only suitable for a word or two. So, I think we'll need to return to placing a symbol before and after the passage of text concerned. So:

*There are three ranks of truths.... careful disquisition. [with a closing *
+There are three ranks of truths.... careful disquisi

[2018-02-05 16:03] peterwebster opened #58 "Welcoming Gregory"
Not really an issue, but this is to let you know @DurHHHI @KPalmerHeathman that Gregory is now here as @nomoregrapes . I shall draw him in in relation to issues/suggestions in relation to the user interface, and it will also come into use as we get into the stage of testing and feedback on versions of the UI. The more technical discussion will take place elsewhere, on a service called Slack that a

[2018-02-07 14:52] #58 closed, assigned to nobody

[2018-02-07 14:54] peterwebster commented on #55
@dpl0js as I think @KPalmerHeathman and @DurHHHI are in transcription-checking mode for the next volume, can I press you for a decision on this?

[2018-02-07 14:58] peterwebster commented on #53
As I think this has now been concluded in conversation, and expressed in the requirements documents, closing this ticket.

[2018-02-07 14:58] #53 closed, assigned to peterwebster

[2018-02-07 14:59] peterwebster commented on #47
@nomoregrapes you may recall we discussed this on Monday, so I'm assigning this to you for reference.

[2018-02-07 15:07] peterwebster commented on #26
Could @KPalmerHeathman @DurHHHI just check you're happy with this,, and close the ticket?

[2018-02-07 15:27] DurHHHI commented on #26
We are happy - thanks @nomoregrapes and @peterwebster !

[2018-02-07 15:27] #26 closed, assigned to peterwebster, dpl0js, KPalmerHeathman, williamsonphilip

[2018-02-07 19:51] dpl0js commented on #55
I agree with Philip: a single + for one marginal stroke and ++ for a double stroke.  If HH uses a plus sign for etc, it would be in the middle of a sentence; usually he uses &c.

[2018-02-08 08:54] peterwebster opened #59 "Extend Stage 2 script to cover more Greek characters"
The following occurred in volume 15, the first three characters having been replaced by the script with Unicode equivalent. For vol 17 processing or before, amend the script.

α The Virgin Birth was admittedly not preached by the Apostles.
β In the N.T. it is absolutely confined to ‘Supplemental Matter' included in the opening chapter of the first & third Gospels.
γ These chapters are hard to reco

[2018-02-08 08:56] williamsonphilip commented on #55
Ah: my suggestion  was not so much whether Henson himself used the symbol +, but how readers might at first sight read it as meaning either another type of ampersand (common in many handwritten documents), or indeed as a plus.  So I thought that perhaps one of the more unusual symbols suggested by Peter might be better, e.g.  ~ and ~~

[2018-02-08 09:47] peterwebster commented on #44
In volume 16 we get:

`<seg xml:space="preserve">  </seg>`

where the gap is two characters of whitespace. Check again in volume 17 and amend script then.

[2018-02-08 09:50] peterwebster commented on #44
No recurrence of the <anchor in volume 16

[2018-02-08 10:02] peterwebster commented on #45
Done manually in volume 16 and recorded in the notes, so decide against amending script.

[2018-02-08 10:02] #45 closed, assigned to peterwebster

[2018-02-08 11:07] nomoregrapes commented on #47
I can do this as desired for underlines, and even for double underlines.

It will require me to work a lot more trickery to avoid the strike-through being superscript'd, maybe that doesn't bother you so much?

Working example of double underline being striked-through, with a superscript element in the middle:
![henson-line-styles](https://user-images.githubusercontent.com/1181194/35969682-91828628

[2018-02-08 11:27] dpl0js commented on #55
Apologies, I was in too much of a rush yesterday and failed to read the github trail properly.
~ and ~~ is fine with me.

[2018-02-12 12:57] dpl0js commented on #55
I have just realised that there is no need for ~~ in relation to double vertical lines.  This is because we are not distinguishing between single and double underlining.

[2018-03-01 08:31] peterwebster commented on #37
@nomoregrapes hi Gregory:  as per the above, there was some early inconsistency in formatting of element IDs in the XML:  001  but also just 1. Do I need to standardise this in the XML, or will the application tolerate both?

[2018-03-01 08:57] nomoregrapes commented on #37
001 Vs 1 is helpful to know, I was going to soon ask which is preferred.

The application will tolerate any amount of spaces, it will only see it as 1.

[2018-03-02 06:06] peterwebster commented on #47
@nomoregrapes sorry for the delay in replying on this. This looks good to me. Thoughts @KPalmerHeathman @DurHHHI ?

[2018-03-02 06:43] peterwebster commented on #59
Script amended to cover all the lower case letters, from volume 17 onwards. @KPalmerHeathman and @DurHHHI have a cribsheet from which to manually insert Unicode for the upper case ones at XML stage.
Closing ticket.

[2018-03-02 06:43] #59 closed, assigned to peterwebster

[2018-03-02 06:46] peterwebster commented on #37
Hi @nomoregrapes : thanks for this: if the application will tolerate the inconsistency (which should be in volume 14 only) I shall leave it as it is. Preference is 1,2,3, and it should be this way from that point on in the sequence.
Closing ticket.

[2018-03-02 06:46] #37 closed, assigned to peterwebster

[2018-03-02 09:37] KPalmerHeathman commented on #47
Sorry if I'm being dense here, but what is the strike-through representing?

[2018-03-02 09:39] KPalmerHeathman commented on #55
We are distinguishing between double and single underlining. In volume 17 I've been using ~~ for double marginal, is this a problem?

[2018-03-02 09:52] dpl0js commented on #55
This is fine for style.  My point in the earlier comment was that we don't distinguish between double and single underlining in colour - do we? apologies if I am mistaken in this:  I probably need a reminder.

[2018-03-05 09:00] peterwebster commented on #47
@KPalmerHeathman I think @nomoregrapes is just showing what the interaction between superscript, underlining and strikethrough would be, should they occur together. The point was: are we happy that superscript text is struck through in this way (ie. that the line is vertically discontinuous)? @DurHHHI

[2018-03-05 09:33] KPalmerHeathman commented on #47
Ah I see, thanks @peterwebster and @nomoregrapes. I don't have the transcription styleguide in front of me right now, but I don't think we are using strikethrough at all anyway - if Henson crosses something out, we take it as gone. @DurHHHI might think differently?

[2018-03-05 10:16] DurHHHI commented on #47
Hi all! @nomoregrapes @peterwebster @KPalmerHeathman I personally think the above example, with the superscript interrupting the unbroken horizontal underline, looks just fine. The presentation is still very clear for the reader. As K says, we won't be working with much Henson strikethrough in the text, if at all - but it is good to see how it'll all reflect visually if we do come across strikethr

[2018-03-05 15:25] KPalmerHeathman commented on #55
Just to confirm that I've found double colour underline today, which I have bold double-underlined.

[2018-03-05 17:04] dpl0js commented on #55
Thank you Katie, much appreciated. J

[2018-03-12 06:24] peterwebster commented on #55
Have we therefore reached agreement on this? If so, could I leave it with @dpl0js to make whatever amendments to style guides that are needed? @KPalmerHeathman @DurHHHI

[2018-03-12 06:31] peterwebster commented on #47
OK: I think we're agreed that this works well @nomoregrapes . As it is already made, let's leave it in the stylesheet, even if it is unlikely to be used very much; it allows a change of mind later. @KPalmerHeathman @DurHHHI

[2018-03-12 07:55] dpl0js commented on #55
Yes, please continue with bold double-underlining.

[2018-03-16 11:14] peterwebster opened #60 "Formatting of bibliographic references in the pop-up boxes (not the static bibliography)."
[picking up on an email of yesterday]

All the data for this is in the Publications sheet in GDrive, separated out into different columns. Gregory's (@nomoregrapes ) application will assemble the text the user sees from these different fields, and can format that assemblage however we wish (inserting commas, full stops, brackets etc where required.)

If as a team you would care to define how they

[2018-03-20 12:51] peterwebster commented on #12
This now seems less key, so closing ticket

[2018-03-20 12:51] #12 closed, assigned to peterwebster

[2018-03-20 12:57] peterwebster commented on #18
@nomoregrapes at the final stage of XML processing, there will be some elements (persons, etc) who (it will have been decided) are not worthy of their own annotation in persons.tsv. I propose to go through the XML and change the markup to reflect this. What would you prefer:  an ID set to zero, or some sort of new attribute: display="no" or somesuch.
The result will need to be that there is no ico

[2018-03-20 13:09] peterwebster opened #61 "Punctuation within or outside elements"
@nomoregrapes and I discussed yesterday the issue raised by @KPalmerHeathman @DurHHHI : that, if we are using icons to denote the presence of an annotation, the icon will be placed in the middle of a word if our markup is of the format:
 `Boswell</persName>'s`

The similar issue arises with:
 `Henson</persName>,`
 `Henson</persName>!`
 `Henson</persName>?`

I propose (once the XML is finalised) to

[2018-03-20 13:11] peterwebster commented on #61
And also in cases of a period, colon, semi-colon and possibly others.

[2018-03-20 13:42] DurHHHI commented on #61
Thanks @nomoregrapes , @peterwebster - does this mean a manual correction to existing XML tag markup, or can this be done under the boot? Has a decision about an icon as visual display been finalised? If so, is it possible to place the icon at the beginning of the tag? HHH's laundry dinner lists generally separate individuals by ';' or ','. For visual clarity, would it not be helpful to position t

[2018-03-21 15:00] nomoregrapes commented on #18
I would prefer an attribute like display="no".

For your second point, how about having a column in the TSV named "skip" or "ignore". I can adjust the ingest script so that it ignores any row with the value of "yes" (or some similar word you decide). This allows the data to remain in the TSV(unindexed) in-case decisions change.

[2018-03-26 14:30] peterwebster commented on #61
After a conversation with @DurHHHI @KPalmerHeathman , this to clarify that we have not yet taken a firm decision on the placing of the icon. What do you think to the idea of the icon *before* the term @nomoregrapes ?

[2018-03-26 14:54] peterwebster commented on #61
@nomoregrapes makes the salutary point that this might mean in cases:

- the [icon] Dean
- Lord [icon] Melbourne

Could Hilary possibly pick out an XML file where icon-before might be the best option, so we can test? @DurHHHI

[2018-03-26 15:24] peterwebster opened #62 "Revision to Stage 2 script"
""The tables have rend="rules" and all the cells have rend="No_Spacing"

[2018-04-04 07:38] peterwebster commented on #62
Script amended (v0.8).

[2018-04-04 07:38] #62 closed, assigned to peterwebster

[2018-04-04 08:12] peterwebster commented on #44
In 17, for the first time, several occurrences of:
`<cb/>`
Removed manually this time, amend script.

[2018-04-04 08:14] peterwebster commented on #44
After disappearing in 16, many instances now of:
`<anchor xml:id="Hlk509847804"/>`

Possible that this a hangover of footnotes inserted and then removed, although not in positions that would suggest so. Check again in 18.

[2018-04-04 08:21] peterwebster commented on #44
Also, more occurrences of <seg , as above. Amend script.

[2018-04-04 10:57] peterwebster commented on #61
@KPalmerHeathman @DurHHHI as I've just sent you volume 17 for markup, can you start including the trailing punctation inside the tags? If we decide to have the icon after, it will look better, and if we put it before, then no-one will know.

In the meantime, if you guys could pick out some XML examples with different styling of names, so we can do some testing, that would be great.

[2018-04-04 14:02] peterwebster commented on #60
@dpl0js I wonder whether you've been able to give this any consideration.

[2018-04-04 14:03] peterwebster commented on #55
@dpl0js @KPalmerHeathman if you guys are clear on this one, could you close this ticket?

[2018-04-04 14:06] peterwebster commented on #18
@nomoregrapes just rounding this one up.
(1)  Let's agree that in the XML, elements without corresponding annotations will have attribute display="no" (I'll revise the XML schema to that effect)
(2) As discussed by Skype, each annotation TSV file will have a NoIndex field which can be set to No, which keeps that ID out of the indexing. (I shall revise the data model document to reflect this.)

[2018-04-04 14:07] #17 closed, assigned to peterwebster

[2018-04-04 19:26] dpl0js commented on #60
Thanks for the reminder.

Your suggestions seem fine.  Does the question now concern other categories of publication to which we should extend the same treatment, i.e. newspaper articles, poems, and reports?

[2018-04-04 19:27] #55 closed, assigned to peterwebster, dpl0js, KPalmerHeathman, DurHHHI, williamsonphilip

[2018-04-25 09:48] peterwebster commented on #61
@nomoregrapes @KPalmerHeathman @DurHHHI as a bigger testing event is approaching, I think that seeing the markup in 14 and 15 as it currently is will give us an opportunity in the meeting on 22/5 to decide

[2018-04-25 10:12] peterwebster opened #63 "Search drop-down ordering"
On the master search page, there is a drop-down allowing the user to select a particular kind of search. I suggest that the options are as follows (in this order):

All Journals [first, and default]
Persons
Places
Organisations
Publications
Sermons & speeches
All Fields

It's a moot point whether the default should be All Journals, or All Fields (and this is across all views in the GUI, isn't it,

[2018-04-25 10:43] peterwebster commented on #63
See this Twitter poll  https://twitter.com/pj_webster/status/989089111133876224

[2018-04-26 12:55] peterwebster opened #64 "Formatting in TSV annotations"
Hi @nomoregrapes : just to flag up (if I haven't mentioned it before) that the TSV annotations have standard text effects marked up with HTML tags <i or <b or <u .

Also (I haven't mentioned this before), there are also in some places (mostly Notes) some diacritics : French e acute accents and the like. Which would you prefer:  &eacute; or the full Unicode equivalent?

[2018-04-26 13:03] peterwebster commented on #64
By which I meant [ampersand]eacute;

[2018-05-10 08:28] peterwebster commented on #63
Hi @nomoregrapes if this is done, could you just stick a screenshot in here, then I can close the ticket?

[2018-05-18 05:20] peterwebster commented on #64
@nomoregrapes just to flag up that there are several instances of the e acute accent in the persons file you're about to receive, which won't display correctly. No rush for next week, but we should decide this.

[2018-05-22 14:51] peterwebster opened #65 "Sort By options in Journal search results"
After meeting on Tuesday:

(i) remove Reference Name and Last Name from drop-down list of options
(ii) default to sort by date (rather than relevance)

[2018-05-22 14:58] peterwebster opened #66 "Daily page view: pop-up behaviour"
When user has a pop-up annotation window open, it should close when:

(i) they hit the cross icon, top right [already implemented]
(ii) when they click on any other annotation icon in the page
(iii) when they click elsewhere in the page

[2018-05-22 15:03] peterwebster opened #67 "Journals page"
Search box at top: filter should default to Only Journals

Implement date pickers:  suggest From and To, both with drop-down pick lists (year, month, day).

Of these, only the Year From is required.

[2018-05-22 15:04] peterwebster commented on #67
Also need to revise introductory text  [PW and rest of team]

[2018-05-22 15:05] peterwebster commented on #66
Remove white space after icon.

On hover, expand icon to obscure the following character.

[2018-05-23 09:01] peterwebster commented on #47
After discussion on 22/5, team decided that where there is superscript AND underlining, the underlining should jump up with the superscript character(s).  @nomoregrapes

[2018-05-23 09:03] peterwebster opened #68 "Date formatting in journal view"
Change rules for dates in top left corner:

Sun 7 October 1900

Do this also in ranges:

Sun 7 October 1900 -  Mon 8 October 1900

In same view, should read 'Pages 100 to 104'

[2018-05-23 09:04] peterwebster opened #69 "Sorting in annotation view pages"
In all cases, sort search results for journal pages in chronological order.

[2018-05-23 09:06] peterwebster opened #70 "Implement HTML formatting in annotation popups"
Some annotations have <i and <b and other HTML formatting. This needs recognising in the stylesheet.

See also #64 ( what to do about e acute)

[2018-05-23 09:14] peterwebster opened #71 "Search result list: formatting"
In list of search result, remove filename for results in journal pages.

Format results in Notes just as Note 48.

Results from references: remove the ID

Results for organisations should print the organisation name.

[2018-05-23 09:14] peterwebster opened #72 "Formatting of data in publication page"

[2018-05-23 09:16] peterwebster opened #73 "Implement OR operator in search"

[2018-05-23 09:18] peterwebster commented on #71
Also, remove whitespace after person name and any others.

[2018-05-23 09:34] peterwebster opened #74 "Search filter options"
In pick list for main search, enable:

-
- Places
- Publications [references]
- Sermons/speeches  [ie. events]

[2018-05-23 09:35] peterwebster commented on #74
For publications (reference) search, include:

Author/Editor
Title
Subtitle
VolumeDetails
Periodical

[2018-05-23 09:45] peterwebster opened #75 "Holding page for journal page set to Admin after publication"
Should say:
'This page is currently unavailable. For further information, contact: julia.stapleton@durham.ac.uk

[2018-05-23 09:46] peterwebster opened #76 "Wordpress: date picker on home page"
Implement same date look up as in #67

[2018-05-23 09:48] peterwebster opened #77 "Wordpress: menu widget layout"
Move Henson and journals to left

Create new menu: Essays

Project blog on the right.

[2018-05-23 09:49] peterwebster opened #78 "Wordpress: navigation bar"
Wordpress top navigation to match that in repository

[2018-05-23 09:50] peterwebster commented on #78
Eventually, nav bar will need link to something called Guidance/Help for Readers, which directs some page or pages in WP.

[2018-05-23 09:53] peterwebster commented on #67
Add search box in body of page to match Persons, Organisation pages etc.

[2018-05-23 09:54] peterwebster commented on #71
For names, if there is a Title, print: Surname, Title FirstName

Bloggs, Sir Frederick

[2018-05-23 09:56] peterwebster opened #79 "Next page/previous page links which span volume ends"
As sort key is discontinuous between volumes, amend links that cross journals ends.

[2018-05-23 10:07] peterwebster opened #80 "Formatting of unordered lists"
Where there are unordered lists (<ul ), stylesheet should *not* supply bullet points.

[2018-05-23 10:10] peterwebster opened #81 "Annotation pop up positiongin"
Avoid annotations being positioned such that they sit partly outside the main text window.

[2018-05-23 10:11] peterwebster opened #82 "Table styling"
Remove alternating shading from tables.

Experiment with lightening the border as well.

[2018-05-23 10:21] peterwebster opened #83 "Find on this page"
In search drop-down, add 'Just this page', probably last.

If possible, have this appear only on journal pages.

[2018-05-23 10:28] peterwebster opened #84 "Vols 14 and 15: XML retroprocessing to move punctuation within tags"
Not for Henson, Henson: or Henson.

For Henson's, and similar, write script to move the apostrophe s within the tag.

[2018-05-23 10:38] peterwebster opened #85 "Volumes 14/15: alter nesting of elements and <hi"
Develop script to rewrite nesting of <hi and <persName to avoid the underlining of the icon.

ie. <persName <hi Bloggs </hi </persName

NOT

<hi <persName Blogss </persName <.hi

[2018-05-23 11:10] nomoregrapes opened #86 "Autocomplete searches"
i.e People, Orgs.
Show "None found" message.

[2018-05-23 15:48] peterwebster commented on #60
Hi @nomoregrapes in the references pop-up, for books, I think this is what is required:

[Author/Editor] comma space [Title (in italics)] semi-colon [Subtitle (if not empty), in italics] space open bracket [PlaceOfPublication] comma space [Date(Year)] close bracket period line break [CrossRef].

So:  H. H. Henson, _Light and leaven: historical and social sermons to general congregations_ (London,

[2018-05-23 16:18] peterwebster commented on #60
For book chapters, it should be:

[Author/Editor] comma space single quote [Title] semicolon space [Subtitle (if not empty)] close single quote comma space  [VolumeDetails] space open bracket [PlaceOfPublication] comma space  [Date(Year)] comma [PageRange] period linebreak [CrossRef]

So  [ref id=24 looks like:
 H. H. Henson, 'The early English constitution', in Henry Offley Wakeman and Arthur Has

[2018-05-23 16:37] peterwebster commented on #60
And for periodicals:

[Author/Editor] comma space single quote [Title] semi-colon space [Subtitle if not empty] single quote comma space [Periodical in italics] comma space [whichever of the three date fields is not empty] comma space [PageRange] period linebreak [CrossRef].

So:   H. H. Henson, 'The clergyman in politics', _Westminster Gazette_, 14 Oct. 1905, 2.

[2018-05-23 16:38] peterwebster commented on #60
@nomoregrapes in all three cases, the semi colon before the Subtitle is conditional on Subtitle not being empty, of course.

[2018-05-23 16:40] peterwebster commented on #60
With these three, I suggest that @nomoregrapes implements these and then @DurHHHI can spend some time checking over them in the GUI. That will smoke out any issues to be fixed or ways in which this needs to be extended.

[2018-05-24 07:45] williamsonphilip commented on #60
Dear Peter and Julia,

The style which I thought we had for essays in volumes was as follow.  These are in the earlier conventions, and this is how I have been doing them:

H. H. Henson, 'The early English constitution', in Essays introductory to the study of English constitutional history, ed. Henry Offley Wakeman and Arthur Hassall (London, 1887), pp. 1-44.

i.e. title of volume followed by name

[2018-05-24 08:08] DurHHHI commented on #60
Hi @williamsonphilip, when the team agreed to move to a (with slight revisions) 'historical journal' template (emails from early April), editor followed by book title was the established convention from historical journal template examples and what I understood to have been agreed within the team. I have been transferring titles to TSV in this style. It would take some time to correct now (as I wo

[2018-05-24 08:22] williamsonphilip commented on #60
Dear Peter,

OK, no need to go back and make corrections.  As I wrote, I have not strong views.

I've probably got rather lost in the continuing conversations.  The editorial conventions on OneNote still read as I recalled them.  I think the historical journal style was mentioned for static sheets.  But it is plainly right that there should be consistency across the whole website.

Philip

_______

[2018-05-24 10:48] nomoregrapes opened #87 "Cross Refs: needs ingest to fixed"
This is now done (required some work I didn't expect).

When multiple cross references are listed, should they be separated by a semi-colon? This would be help as the display of names uses a comma.

Example, the "See also" on http://10.245.28.108:3000/people/person76
On a person page...
![see-also](https://user-images.githubusercontent.com/1181194/40481111-479797e8-5f48-11e8-8692-14428e7cc913.png)

[2018-05-24 11:21] nomoregrapes commented on #82
I have removed the background shading on alternate rows. I also removed the outside line of the table.

It looks considerably fainter without changing the shade of grey. I think the next step would be if we remove the lines altogether, and the table will just keep the things lined up.

Some examples
http://10.245.28.108:3000/journals/00-10-07
![table1](https://user-images.githubusercontent.com/118

[2018-05-24 11:30] peterwebster commented on #82
Hi @nomoregrapes : let's see what the team think of it as it stands: snap reactions @KPalmerHeathman @DurHHHI ?

[2018-05-24 11:32] peterwebster commented on #87
For me, I like the semi-colon @nomoregrapes
Could @DurHHHI and @KPalmerHeathman do some browsing and look for some annotations with cross references, and see how they're working?

[2018-05-24 11:40] peterwebster commented on #60
Following on from the conversation between Philip ( @williamsonphilip ) and Hilary ( @DurHHHI ) earlier this morning, Hilary is right to say that to move the positioning of the editor name does involve manual changes in each individual entry. However, we can easily insert pp. if that is what is required (the application makes this insertion, and so only one change would need to be made, by Gregory

[2018-05-24 11:41] nomoregrapes commented on #80
This is done.

As an example http://10.245.28.108:3000/journals/03-05-14 shows an ordered list (numbering provided by the style) followed by an ordered style (no numbering/bullets, which may be used when Henson used greek letters numbering).
![lists](https://user-images.githubusercontent.com/1181194/40483402-c7bedd9e-5f4f-11e8-8efa-4827595668cb.png)

[2018-05-24 11:47] peterwebster commented on #80
Thanks @nomoregrapes : could @DurHHHI and @KPalmerHeathman take a look at some examples and see if we may now close this ticket?

[2018-05-24 12:06] KPalmerHeathman commented on #82
I quite like retaining the lines - as discussed on Tues, we're not creating a facsimile, and the lines will be easier on the eye, especially in the money tables.

[2018-05-24 12:09] williamsonphilip commented on #60
Whatever is simpler (which seems to mean not pp.).

[2018-05-24 12:14] KPalmerHeathman commented on #87
I like the semi-colon too. Will have a look at some more!

[2018-05-24 12:32] DurHHHI commented on #60
I support that too (no. pp.).

[2018-05-24 12:32] nomoregrapes commented on #87
I should also make clear, the "See also" could be a mix of data types (people, orgs, etc..). There's no icon or distinction in the list.
If you click something in that list, you get to it's page (e.g. the page of a person) which has an obvious icon, the narrative, journals mentions, and it's own cross refs.

[2018-05-24 12:34] DurHHHI commented on #82
I support keeping the lines too (as in the above example) - I think it does read easier, especially in the longer tables.

[2018-05-24 14:50] nomoregrapes commented on #71
All the above comments have been done as requested.

I've kept the journal date format as "7 Oct 1900" as it lines up nicely in results. However, I'll stick to that format or the agreed "Sun 7 October 1900" throughout the website. There shouldn't be a need for any other date formats.

![search-results](https://user-images.githubusercontent.com/1181194/40493035-c76cfa78-5f69-11e8-8e2e-054de539679b.

[2018-05-24 15:12] nomoregrapes commented on #68
This is now done.

![pages](https://user-images.githubusercontent.com/1181194/40494664-48d27c3e-5f6d-11e8-933a-fefc3f5b0ffb.png)

[2018-05-24 15:17] peterwebster commented on #68
I like this @nomoregrapes so I'll close the ticket now - many thanks.

[2018-05-24 15:20] peterwebster commented on #82
OK, I concur. Closing ticket now @DurHHHI @KPalmerHeathman @nomoregrapes

[2018-05-24 15:20] #82 closed, assigned to nomoregrapes

[2018-05-24 15:20] #68 closed, assigned to nomoregrapes

[2018-05-24 15:24] peterwebster commented on #87
@nomoregrapes thanks for the note about the mix of types; I don't think we need any icon or other distinction, it looks good as it is.

[2018-05-24 15:27] peterwebster commented on #60
OK: Gregory, the requirement for book chapters remains as expressed above @nomoregrapes

[2018-05-24 15:32] peterwebster opened #88 "New issue via email"
@nomoregrapes I can't see what the issue is here, but could you check it out?

Just spotted the date on this one: http://10.245.28.108:3000/journals/02-07-06

Clicked through from 6th July 2002 in the list of mentions of Michael Hicks Beach.

K

[2018-05-24 15:33] KPalmerHeathman commented on #87
I think icons will look cluttered in this context - it's self-explanatory as it is.

[2018-05-24 15:44] nomoregrapes commented on #72
To follow decisions made in #60

[2018-05-24 16:04] nomoregrapes commented on #64
In my mind, `&#233;` and `&eacute;` are the same. The latter is better only because you can tell what it is when you're writing/editing it.

It seems like Excel encodes characters when you save anyway. That's another issue, and I'm getting closer to fixing.

[2018-05-24 16:20] williamsonphilip commented on #60
Sorry, could we pause this a little?  Julia and I have realised that there is now a difference between the style in persons notes (in some cases where publications are given), and the style in the publications folder.  The issue relates to title/editor and pp. (or editor/title and no pp.).  It is probably the case that the number of instances in the persons file is not many, i.e. less than in the

[2018-05-25 10:55] nomoregrapes opened #89 "Encoding"
Capturing this for record (almost fixed, then I'll close the ticket).

Special characters were displaying oddly. This is due to how different programs "encode" the files. This is like me verbally telling you the name of a local town but not knowing I'm using the local dialect. If you assume I encode in Southern you will write/display it as "_Prudda_". if you know I encode in Northern, then you'll

[2018-05-25 13:58] peterwebster commented on #89
@nomoregrapes many thanks for getting onto this one. If the ingest encountered a file that was already encoded in UTF-8, what would then happen? I suppose I'm asking how tied we are to windows-1252 from now on.

[2018-05-25 14:04] peterwebster commented on #64
OK: I need to take a while to check which the TEI demands (I think it's full unicode), and that's what we need to observe in the XML. Given that's what we'll need to do there, it will help @KPalmerHeathman and @DurHHHI to be consistent. Reassigning to me from @nomoregrapes to think on.

[2018-05-25 14:10] peterwebster commented on #71
@KPalmerHeathman @DurHHHI could you have a root around and see how all these changes are looking?

[2018-05-25 14:13] peterwebster opened #90 "Date format in control sheet to v15"
From @nomoregrapes via email:

"There are 4 rows in the control file next to each other where the year is "02" rather than "1902".
"It would be preferable to focus on putting the full year in the control file, rather than me code something that alters them.
"Whether the month is full or short doesn't matter though,  Nor does it care how many digits in the day.

@DurHHHI @KPalmerHeathman I shall fi

[2018-05-30 09:20] nomoregrapes commented on #89
I think encoding on the TSV annotation data is sorted. I can't seem to sort figure out the XML files though.

@peterwebster I think your scripts need to explicitly encode the XML files as UTF-8 by starting with the following lines
[code]

([source](https://unix.stackexchange.com/a/250481))

[2018-05-30 13:35] nomoregrapes commented on #78
[wordpress](http://community.dur.ac.uk/gregory.j.marler/wordpress/) top bars now make a fairly good match with the repository.

[2018-05-30 13:36] peterwebster commented on #89
Hi @nomoregrapes : thanks for this. Two questions, in order of importance, because this could be a real headache in relation to the XML.

1. Have you got any examples of where there are visible encoding errors that are coming from the XML? I ask because the only ones I've seen have been cases where there have been entities that were just not defined correctly (the old e acutes ) which is a differe

[2018-05-30 13:53] peterwebster commented on #78
Hi @nomoregrapes : I suggest I feed back on all the various changes to the WP homepage in one go, across several tickets.  Just for now though, there's a spacing issue with the search box (Firefox, laptop monitor)

![image](https://user-images.githubusercontent.com/5520710/40724519-21e587fa-6419-11e8-96bd-2cf08fe1f5ab.png)

[2018-05-30 14:27] peterwebster commented on #89
PS @nomoregrapes is the issue arising because the files themselves don't declare what encoding they have used? And, if so, if you knew what they were in, would that help?
I ask because I think there are various tools around for detecting this kind of property, through which the existing XML could be run, but I'll have to ask around a bit.

[2018-05-30 14:34] peterwebster commented on #89
The last version of the XML for v15 before Katie and Hilary started to edit it looked like this. I don't really understand why some should be ASCII and some UTF-8 when they were made by the same script.

![image](https://user-images.githubusercontent.com/5520710/40727017-e040f572-641e-11e8-9bf0-17a48ac4a04f.png)

[2018-05-30 14:43] peterwebster commented on #89
@nomoregrapes and this is the same volume as it currently stands (though all the filenames have changed, and they're not quite in the same order). A similar sort of mix.
![image](https://user-images.githubusercontent.com/5520710/40727621-2e77b220-6420-11e8-9c3d-7032ba33d6e7.png)

[2018-05-30 14:46] peterwebster commented on #89
See also various possible options here?  https://stackoverflow.com/questions/3710374/get-encoding-of-a-file-in-windows  @nomoregrapes . Is there scope for building a check like this into the ingest process somehow, if it isn't too much work?

[2018-05-30 15:04] nomoregrapes commented on #77
3 widget columns now at the bottom of the [wordpress pages](http://community.dur.ac.uk/gregory.j.marler/wordpress/).

The pages in them can always be changed later.

[2018-05-30 15:28] nomoregrapes commented on #78
There's a meeting tomorrow about the structure/content of the Wordpress part. I'm not expecting much change for me to do, but I'll add tickets here if that is the case.

That Firefox positioning issue should be fixed now.

[2018-05-30 15:43] nomoregrapes commented on #89
The main place I notice is in tables with curly-double-quotes, but I think there were other things like certain dashes. 00-11-04 is an example.
If my system is strict on reading it as utf-8, then the bytes get read as `â€œ` instead of `“`.

The encoding detectors aren't clever enough to figure out what encoding the bytes are in, because there aren't enough unusual characters or probably because th

[2018-05-31 12:27] nomoregrapes opened #91 "Wordpress wording changes"
Decisions made this morning regarding the [wordpress frontend](http://community.dur.ac.uk/gregory.j.marler/wordpress/)

* Don't show a title (Welcome) on the homepage
* Add logos to footer for: AHRC, Durham Uni, Durham Cathedral
* Top bar, change `Everything` to `Whole journals`
* Sidebar, second box rename as `Search project commentaries (exc journals)`
* Sidebar, rename "From the repository" to

[2018-05-31 12:42] nomoregrapes opened #92 "Logo"
Look at creating a different logo. Could use "H Henson" signature or his family seal.

@KPalmerHeathman to send some signatures & the seal.
@nomoregrapes to use them to make some possible logos for consideration.

[2018-05-31 12:43] nomoregrapes commented on #88
This is explained in issue #90

[2018-05-31 12:43] #88 closed, assigned to nomoregrapes

[2018-05-31 13:53] nomoregrapes commented on #86
Done.

[2018-05-31 13:53] #86 closed, assigned to nobody

[2018-06-01 12:30] nomoregrapes commented on #67
- [x] search box at top defaults to "Journals only"
- [x] Date picker partially implemented, see screenshot
- [x] Date picker, add "Search" button and make load journal entries(on results page).
- [x] Introductory text - awaiting from team
- [x] Search box in body. Autocomplete (like people) won't work. I've added it, but it doesn't make a lot of sense to have it there (see screenshot)

![journals

[2018-06-01 14:18] nomoregrapes commented on #73
The default operator to join words is set as "OR". So adding in "OR" will not make any difference.
Using the "AND" operator will make a difference, as we expected/observed.

[2018-06-04 05:38] peterwebster commented on #73
Reopenting this as a note to me to include a note to these operators in whatever 'search tips' we might consider providing.

[2018-06-04 05:42] peterwebster commented on #67
Hi @DurHHHI : here's something we could test at some point this week, with me 'looking over your shoulder' on Skype as discussed.

[2018-06-04 05:48] peterwebster commented on #89
Hi @nomoregrapes just to note that there shouldn't be any curly doubly quotes in any case, the rule is that they should be straight.

@KPalmerHeathman @DurHHHI could you possibly take a look at volume 15, 00-11-04, and let me have a screenshot of how it looks in the GUI? To save you reading the whole ticket, we're looking for characters that display strangely.

[2018-06-04 05:54] peterwebster commented on #91
@nomoregrapes this all seems sensible. One point:

"Rename as Search project commentaries..."   - the "excl. journals" is redundant, since the positioning below 'Search the Journals" makes it clear, I think.

[2018-06-04 05:57] peterwebster commented on #77
Reassigning to me now, to marshal the production of the essays.

[2018-06-04 09:08] KPalmerHeathman commented on #89
![image](https://user-images.githubusercontent.com/32575539/40908606-2b0d3fde-67df-11e8-951c-ff6f6bcd55a2.png)

[2018-06-04 09:09] KPalmerHeathman commented on #89
Sorry, you semem to have both screens - probably a breach of GDPR or something....

[2018-06-04 09:20] peterwebster commented on #89
Thanks @KPalmerHeathman : I've got what I needed from that, and have deleted the image (though I'm not sure we had to worry all that much.)

[2018-06-04 09:25] peterwebster commented on #89
Have you guys heard the GDPR joke that was doing the rounds, BTW?

"Do you know a good GDPR consultant you could recommend?"
"Yes."
"Great, could I have their email address?
"No.

@KPalmerHeathman

[2018-06-04 10:24] peterwebster opened #93 "Testing ingest of XML in final TEI-compatible markup"
Hi @nomoregrapes : as discussed just now, there's a handful of files on OneDrive, Stage 6 Final > Test-040618
If these ingest OK, I'll let you have amended XML for the whole of volumes 14 and 15.

To recap, the things that are different are:

(i) element ID attributes are expressed as

(ii) attribute values for <hi are written out in full
(iii) <event within <listEvent
(iv) <teiHeader inserted

[2018-06-04 10:30] peterwebster opened #94 "Testing of examples of different <div types"
Hi @KPalmerHeathman @DurHHHI

It occurs to me that we (or at least I) haven't seen examples of all three of our different types of <div  (letter, quote, verse). I think there are certainly letters in 14 and 15, possibly quotes, possibly not verse (since we may have defined that in response to finding one in 16.)

Could you (not urgently, but perhaps within a week or so):
(i) have a look in Gregory

[2018-06-04 10:39] peterwebster commented on #89
In this particular case, the problem is curly quotes in the table @KPalmerHeathman @DurHHHI

![image](https://user-images.githubusercontent.com/5520710/40913192-c129d71e-67eb-11e8-9cdd-87abe73fd325.png)

I'm still on the lookout for other characters that appear oddly *in the XML*, rather than in the annotations

[2018-06-05 09:48] nomoregrapes commented on #70
Done, as demonstrated by italics in Davis narrative on [00-11-05-11-08](http://10.245.28.108:3000/journals/00-11-05-11-08)
![annotation-formatted](https://user-images.githubusercontent.com/1181194/40968547-b8308ee2-68ad-11e8-867b-6248128a4bb8.png)

The html tags are also considered on [individual annotation pages](http://10.245.28.108:3000/people/person41).
Bold should take place too, I don't have

[2018-06-05 13:12] peterwebster commented on #70
Could @KPalmerHeathman and @DurHHHI take a look at a few of these and feed back?

[2018-06-05 13:18] peterwebster opened #95 "Amend Stage 2 script to account for another <hi attribute combination"
By chance I discover this in volume 15 <hi rend="i bold superscript underline">, meaning that there is a combination not accounted for in the Stage 2 script.

[2018-06-05 13:20] peterwebster commented on #93
@nomoregrapes despite this, it might be prudent to adjust your stylesheet to allow for both sets of <hi attributes (i as well as italic), as I'm not 100% confident that I've been able to deal with all the possible combinations, so there may be some examples of i, b, u that slip through. Less than elegant in coding terms, but prudent under the circumstances.

[2018-06-05 13:50] peterwebster commented on #84
Hi @KPalmerHeathman @DurHHHI : I'm now nearly finished with this

As my script looks for `</persName>'s` there is one instance where it has missed its target, due to an intervening <hi tag. This will need to be altered by hand. V15, p.401.

	` <hi rend="i b u"></hi><persName id="664"><hi rend="i b u">M</hi><hi rend="i bold superscript underline">rs</hi><hi rend="i b u"> Prothero</hi></persName><HE

[2018-06-05 13:52] peterwebster commented on #84
Incidentally, I've found no instances at all of Jones' or Williams' or Perkins' : does HHH just not use that style?  @DurHHHI @KPalmerHeathman

[2018-06-05 13:53] nomoregrapes commented on #81
Done.
Would be good to check this works for other people too. [example](http://10.245.28.108:3000/journals/00-11-11)
![annotation-rightside](https://user-images.githubusercontent.com/1181194/40980397-33d1d5a2-68d0-11e8-8f2f-2dc2613e1d64.png)

[2018-06-05 14:05] peterwebster commented on #84
Also, in Henson Master Data > Stage 6 you'll find a file called cat_for_checking.xml. This is the whole of volume 15 wrapped up in one file, with this script run. Could you have a root around and see if all is it should be @KPalmerHeathman @DurHHHI
Not urgent: this week or next for this.

[2018-06-05 15:47] nomoregrapes commented on #83
This was a handy little task for me at the end of the day.
![journal_highlight](https://user-images.githubusercontent.com/1181194/40987080-a6619738-68df-11e8-80dd-f7211e1753f5.png)
Click the magnifying glass to open the extra search field. Finds/highlights as you type. Click button again to remove highlighting & the search box.

Currently on all pages, but it only searches within the "primary cont

[2018-06-06 13:22] peterwebster commented on #81
@KPalmerHeathman as you have a Windows machine, could you take a look at this and feed back?

[2018-06-06 13:26] peterwebster commented on #69
@nomoregrapes has done this, so to be tested on 7 June.

[2018-06-06 13:29] peterwebster commented on #63
To confirm: default behaviour is all fields, unless in Journals/People etc pages.

[2018-06-06 13:29] KPalmerHeathman commented on #81
Are they meant to be positioned as in the Frank Capon example or no?

[2018-06-06 13:35] peterwebster opened #96 "Implement hiding of XML elements"
Certain elements are set to display=no - stylesheet needs to recognise this and show no icon.

[2018-06-07 08:35] peterwebster commented on #96
This applies to organisations:
`I celebrated in <orgName id="10" display="no">S. Margaret's</orgName> at 8 a.m.: and in the Abbey after mattins.`

Persons:
`<persName id="100" display="no">Rashdall</persName> preached an excellent sermon`

Places (I faked this example)
`I travelled to <placeName id="10" display="no">Falconhurst</placeName> to dine &amp; sleep.`

Events (also fake)
`I went to the W

[2018-06-07 08:36] peterwebster commented on #96
Could @DurHHHI possibly confirm whether there are any publications that will need the same treatment?   (cc @KPalmerHeathman )

[2018-06-07 08:40] peterwebster opened #97 "Create and write a search tips/help page (Wordpress)"
To include:

AND is a real operator
OR is the default behaviour, so the operator is unnecessary.

[2018-06-07 08:41] peterwebster commented on #97
Alerting @nomoregrapes to the presence of this new ticket.

[2018-06-07 08:41] peterwebster commented on #73
See #97

[2018-06-07 08:41] #73 closed, assigned to peterwebster

[2018-06-07 09:00] peterwebster opened #98 "Excluding a portion of the Title field in ref.tsv from the italicisation"
After discussion with @nomoregrapes , decided that to avoid creating new fields, we should deal with this directly in the field.

@DurHHHI in ref.tsv, you'll have to have this.

`The history of the reformation of religion in Scotland, with which are included Knox's confession and the book of discipline <span class="no-italic">[1559-66]</span>`

This will mean that the title is italicised, but the

[2018-06-07 09:03] peterwebster commented on #18
Closing this as it is superseded by #96

[2018-06-07 09:03] #18 closed, assigned to peterwebster

[2018-06-07 09:11] peterwebster commented on #87
@nomoregrapes just rounding this up: let's confirm that the semi-colon is good, and that we don't need icons here. Once you've seen this, could you close the ticket?

[2018-06-07 10:46] DurHHHI commented on #98
Thanks @peterwebster and @nomoregrapes - I will work to this moving forward for italicized book titles once Gregory confirms that it will work.

[2018-06-07 10:50] DurHHHI commented on #96
Yes, @peterwebster - There will be some refs in publications that are currently set as do not index.

[2018-06-07 11:08] DurHHHI commented on #96
@peterwebster Also notice currently one 'transferred do not index' in notes

[2018-06-07 11:15] DurHHHI commented on #84
thanks @peterwebster - have corrected the tag on pg. 401, V15

[2018-06-07 11:29] nomoregrapes commented on #89
I think there might be a [rails bug](https://github.com/sparklemotion/nokogiri/issues/482) that is limiting my ability to convert the encoding from Windows-1252 to UTF-8. If that bug is a problem, it's too deep in the system for me to fix.

Viewing the XML files that are encoded differently: if your program detects how the file has been encoded (as Windows-1252 or ASCII) then it will display the q

[2018-06-07 12:43] peterwebster commented on #84
Thanks @DurHHHI : do let me know when you've had a chance to look at the file for the whole of 15.

[2018-06-07 12:46] DurHHHI commented on #84
@peterwebster yes, reminder to query this with you on Skype today

[2018-06-07 12:46] peterwebster commented on #96
@DurHHHI what's the story with the hidden footnote? If it is just the one, and there is no prospect of it ever been resurrected, it might be neatest to take it out of the XML; presumably that's only one file.

[2018-06-07 13:34] peterwebster commented on #81
![image](https://user-images.githubusercontent.com/5520710/41102934-e23bd602-6a5f-11e8-84a5-53d18c286fc4.png)

[2018-06-07 13:41] #80 closed, assigned to peterwebster

[2018-06-07 13:45] peterwebster commented on #71
Hi @nomoregrapes there still seems to be an issue with the file name display
![image](https://user-images.githubusercontent.com/5520710/41103580-5cd5d524-6a61-11e8-8f97-a6fbef7513e4.png)

[2018-06-07 13:46] peterwebster opened #99 "Spacing issue in search results filter box on left"
![image](https://user-images.githubusercontent.com/5520710/41103634-847827ee-6a61-11e8-93f1-5684609ff1a3.png)

[2018-06-07 13:47] peterwebster commented on #71
Also in the screenshot above, we should print the Person Name, not person50

[2018-06-07 13:48] peterwebster commented on #71
We still have orgnames printing rather than the full name

![image](https://user-images.githubusercontent.com/5520710/41103796-e2b8edf2-6a61-11e8-9d0f-3d7a283f1b9e.png)

[2018-06-07 13:52] peterwebster commented on #71
Also the notes @nomoregrapes : I wonder whether these changes got committed?

![image](https://user-images.githubusercontent.com/5520710/41103970-49c5d280-6a62-11e8-90b1-284b8d7a704b.png)

[2018-06-07 13:56] peterwebster commented on #83
Tested this today on Hilary's machine: Chrome on a Mac. The box opens but it doesn't find/highlight, or respond to Return.  Same on Windows desktop with Firefox.

![image](https://user-images.githubusercontent.com/5520710/41104290-eaa0fb6c-6a62-11e8-99e0-9d8702cfb997.png)

[2018-06-07 14:10] peterwebster commented on #96
Agreed not to script footnote instances, but to do so for <ref

[2018-06-07 14:16] peterwebster commented on #96
@DurHHHI to manually insert display="no" attribute in the XML in the one case of a hidden footnote

[2018-06-07 14:49] DurHHHI commented on #96
@peterwebster completed manual insert

[2018-06-07 14:53] DurHHHI commented on #94
@peterwebster - all div types exist in 14 & 15 - hoping it helps, here are some screenshot examples:

Div letter (Routledge ex) :

![div type letter ex](https://user-images.githubusercontent.com/32575577/41107665-b6d3d8ba-6a6a-11e8-8dc6-377efd278508.JPG)

Div quote :

![div type quote ex](https://user-images.githubusercontent.com/32575577/41107730-d5be4904-6a6a-11e8-8b9d-91526877be6d.JPG)

Div ver

[2018-06-08 11:22] nomoregrapes commented on #79
Annoyingly, this is going to require a reimport of all the journals (due to a mistake how sort keys were stored).
When editing a journal entry, you can specify the next and prev journals (to override the sort key). This allows me to get [v14 back matter](http://10.245.28.108:3000/journals/V14_backmatter) to link to v15 (and the reverse) without having to do the reimport.

Note to self: make sure j

[2018-06-08 12:41] nomoregrapes opened #100 "Missing mark-up: letters and quotes"
I noticed some markup was being ignored.

Quotes: `<div type="quote">` [example](http://10.245.28.108:3000/journals/05-02-12-05-17)
Is styled in the standard HTML "blockquote" way, is this okay? The quote gets indented with a light grey line on the left side.
![journal-quote](https://user-images.githubusercontent.com/1181194/41158505-1a880ab4-6b21-11e8-957a-3d369189b3e4.png)

Letters: `<div type="

[2018-06-11 07:42] peterwebster commented on #100
Could @DurHHHI take a look at this in conjunction with #94 and let me know what you think of the look. I incline to think that the grey line may not be necessary.

[2018-06-11 07:48] peterwebster commented on #94
@DurHHHI note that some of these screenshots are now obsolete since the work that @nomoregrapes documents in #100  .
In the div verse example, are the three lines each in their own <p tags?

[2018-06-11 07:50] peterwebster commented on #100
@nomoregrapes good spot: see also the third type (div=verse), with example at #94
With verse, I think we need indentation and single line spacing (so if the lines are given in individual <P elements, we may need to enforce a narrower line spacing. I'd be against a grey vertical line on the left

[2018-06-11 07:50] DurHHHI commented on #100
@peterwebster Yes, I agree. I don't think the grey line and indent ads anything with div-letter, personally. I do like it with div-quote though!

A follow up query from #94 : should div-verse be doing anything format-wise at the moment? I know the bullets are coming out (appreciated). Will the text between a 'div-verse'/div eventually reflect as single space, indent?

[2018-06-11 07:51] DurHHHI commented on #100
Ah @peterwebster beat me to it - yes thanks, that would be my preference too with a div-verse format!

[2018-06-11 07:52] peterwebster commented on #79
@nomoregrapes yes, let's do that.

[2018-06-11 07:57] peterwebster commented on #100
@DurHHHI  So, let's say that we'd like:

letter - indent only
quote - indent and line
verse  - indent, no line, single spacing

What say you, @nomoregrapes ?

[2018-06-11 07:58] DurHHHI commented on #100
@peterwebster Yes please! @nomoregrapes Help us, Obi-wan. ;)

[2018-06-11 08:07] peterwebster commented on #96
Assigning to @nomoregrapes : there are instances already of display=no in almost all semantic elements, so let's have the stylesheet cater for it in every case, as I'm sure that by the end of the project it will be used for each. <persName, <orgName, <placeName,, <event , <ref, <note

[2018-06-11 08:11] peterwebster commented on #99
Apologies, I didn't have time to annotate this during a call with Hilary: the issue is with the positioning of the numbers in the Item Type box.

[2018-06-11 08:20] peterwebster commented on #81
@KPalmerHeathman @DurHHHI and I discussed this the other day, and I'm now slightly uncertain what the issue was that we were trying to solve in the first place.
@nomoregrapes in the example above, I think the horizontal positioning is fine; I don't mind it sitting over the edge of the blue border. Presumably  if a user with a lower screen resolution sees this, the box will be pushed further to the

[2018-06-11 08:26] DurHHHI commented on #81
@peterwebster, yes, I believe Katie was only commenting on the 'tweak' - where, in this example, Frank Capon's annotation box is so far away from his closing persname tag. That said, it doesn't look awful if a difficult fix - the content can still be easily read.

[2018-06-11 08:30] peterwebster commented on #89
@DurHHHI some time this week, could you spend a few minutes clicking through some XML files in 14 and 15 in the interface, and list where you have characters displaying strangely *in the text* (not the annotations, that's a separate issue.) I need the filename and a description of which character is showing incorrectly.

[2018-06-11 08:31] peterwebster commented on #89
@nomoregrapes I shall certainly try to set up all scripts and applications to save as UTF-8 from now on. With 14 and 15, I think I just need to figure out which characters are the problem and fix them directly in the XML.

[2018-06-11 08:39] peterwebster commented on #89
@nomoregrapes I'm assigning this to you in case there is anything else you still have to do; if there isn't, pass it back to me.

[2018-06-11 08:40] peterwebster commented on #81
@nomoregrapes I should say that this tweak is not a massive priority.

[2018-06-11 08:46] nomoregrapes commented on #81
What we were trying to fix: in cases where the marked name was close to the right, the annotation would popup spilling out to the right of the screen so you couldn't read it.

The fix involves some maths and calculating positions (which is unusual to do in HTML/CSS). This edge case is due to the name wrapping round onto a second line. I'm not sure if it's possible to be aware of that, but I might

[2018-06-11 09:01] peterwebster commented on #64
As @DurHHHI is closing in on a finalised file of <ref , in which there are some e acute accents, let's say this.

As far as Hilary and @KPalmerHeathman are concerned, wherever they see one of these (TSV or XML), insert: ampersand ecute semi colon, as Gregory has it above.

In the XML, I shall add a conversion of this to the Unicode version (#233), as the TEI insists on it.

Assigning to @nomoregra

[2018-06-11 09:07] peterwebster commented on #81
@nomoregrapes see new labels: critical / medium priority / low priority
Tickets will no doubt get promoted and demoted as we go along, but you get the idea

[2018-06-11 09:41] nomoregrapes commented on #71
I was noticing it kept ignoring the special function to render our data types. Turns out an unrelated minor bug can upset it. Now fixed.

[2018-06-11 10:46] peterwebster opened #101 "Implement revised formatting rules for publications (<ref )"
As per document ref_formatting.xls (dated 11 June, by email) , this now supersedes #60 which is closed.

[2018-06-11 10:46] peterwebster commented on #60
Superseded by #101

[2018-06-11 10:46] #60 closed, assigned to peterwebster

[2018-06-11 13:15] nomoregrapes commented on #74
For drop down list on main search box.

[2018-06-11 13:19] peterwebster commented on #63
See also #74

[2018-06-11 13:21] peterwebster commented on #87
All done,, closing ticket

[2018-06-11 13:21] #87 closed, assigned to nomoregrapes

[2018-06-11 13:23] peterwebster commented on #98
@DurHHHI Gregory and I just discussed this, go ahead on this basis  :-)

[2018-06-11 13:24] peterwebster commented on #79
Me to resolve #90 before doing this.

[2018-06-11 13:37] peterwebster commented on #83
Suggest that 'On This Page' is made an option in the general search box, and we lose the purple second box entirely.

What does @DurHHHI think?

[2018-06-11 13:48] peterwebster commented on #64
@DurHHHI could you proceed on this basis?

[2018-06-11 13:53] peterwebster commented on #72
Now depends on #101 , not #60

[2018-06-11 13:53] #72 closed, assigned to nomoregrapes

[2018-06-11 15:02] nomoregrapes commented on #94
In that verse, the lines are in their own `<p>` tags and all wrapped in one `<div type="verse">`, which is how it should be(in my view). Spacing between Ps will be single spacing.

Is there anything in this ticket not covered by ticket 100?

[2018-06-11 15:08] nomoregrapes commented on #100
I'll give her all she's got cap'n

[2018-06-12 08:45] nomoregrapes commented on #99
Fixed, and ready to close when confirmed.
![search-facets](https://user-images.githubusercontent.com/1181194/41279772-47e0d458-6e25-11e8-8741-f11f71979e52.png)

[2018-06-12 09:32] nomoregrapes commented on #63
I forgot, how this actually works:
It does a search, limiting the type if desired, on all fields in it's list.

If you search for only refs/publications, it will consider the narrative field (although it won't because refs don't have a narrative field) it will also consider title, subtitle, etc.
So the list of fields considered is now `content_tesim firstName_tesim lastName_tesim narrative_tesim a

[2018-06-12 09:32] #63 closed, assigned to nomoregrapes

[2018-06-12 09:36] nomoregrapes commented on #74
This is how the search(dropdown) options now stand...
![search-options](https://user-images.githubusercontent.com/1181194/41282464-07cf22d2-6e2c-11e8-9699-4ee37b87c70a.png)

We've dropped the word "only", and added the remaining types (excluding Notes and Topics).
"Everything" is at the top so it's default (and tempts you to see what options there are), followed by the 3 primary types that have li

[2018-06-13 09:57] nomoregrapes commented on #65
This is done.
The "journal date" sort order lists no-date results(i.e. not journals) first. When I tried to do the opposite it messed up the ordering completely. I might be able to order results by a specific type order (e.g. journals, then people, then orgs...) before it then orders them by date or relevancy.

[2018-06-13 12:52] DurHHHI commented on #64
@peterwebster and @nomoregrapes - yes, no problem - will update existing entries.

[2018-06-13 13:25] DurHHHI commented on #99
Looks great!

[2018-06-13 13:25] #99 closed, assigned to nobody

[2018-06-13 13:48] DurHHHI commented on #74
Like the look - and clear search default to 'everything'. We'll see if sermons & speeches stays!

[2018-06-13 13:51] DurHHHI commented on #83
@peterwebster and @nomoregrapes - yes, support :)

[2018-06-13 14:28] DurHHHI commented on #70
Looks good - checked across several entries.

[2018-06-14 11:58] nomoregrapes commented on #83
It actually works now.
Moved it to be an option in the drop down.
Changed the highlight colour to a light-blue, as this relates to the search button and is more distinct from annotation highlights. In my screenshot, my cursor is hovering on the "three lectures" annotation, so you can compare with that colour.
![journal-findonpage](https://user-images.githubusercontent.com/1181194/41410594-d637a08a

[2018-06-14 12:48] DurHHHI opened #102 "Amend Excel settings to avoid saving of existing number strings as dates"
@peterwebster  - reminder to myself for the next time we talk.

Regardless if I check in excel or textpad and despite setting columns to text dozens of times, still seem to have issue with any full month dates (ex. May, June, July,  anything not followed by a full stop) formatting incorrectly in full date column of ref TSV.

Same issue with page range column. If page range starts with 1, reformatt

[2018-06-14 15:55] nomoregrapes commented on #101
Collection of examples we can use to check...
* [ref3](http://10.245.28.108:3000/references/ref3) - book:monograph
* [ref62](http://10.245.28.108:3000/references/ref62) - book with more values
* [ref20](http://10.245.28.108:3000/references/ref20) - book chapter
* [ref200](http://10.245.28.108:3000/references/ref200) - letter
* [ref9](http://10.245.28.108:3000/references/ref9) - periodical
* Poem?

[2018-06-14 16:01] nomoregrapes commented on #101
This is done, all rules met. I think it will need the latest annotation versions added to demonstrate all the fields. See my previous comment for some links to examples, and what journals you can find the annotations in.

Personally I think it would be nicer for some vertical spacing to be used. The annotation popups should also perhaps have the title in bold, so it matches other popups?

[2018-06-15 09:09] nomoregrapes opened #103 "Test and adjust style for mobile"

[2018-06-15 09:12] nomoregrapes opened #104 "Create delayed/scheduled tasks"
The ingest process does a lot of stuff while the admin user waits for the page to load. These tasks could be put into a schedule/queue and potentially run faster, or avoid running when the website is busy serving visitors.

[2018-06-15 09:14] nomoregrapes opened #105 "User management"
The admin are doesn't yet show a list of users. Nor can you make other users become admins (or remove them)

[2018-06-15 09:19] nomoregrapes opened #106 "Ingest validation & reporting"
The ingest could validate the data it reads. It could also produce a better report as to what has been ingested/skipped.

I wrote a note "see 9th May", but can't see a relevant e-mail on that date.

This will be more essential/wise to do after #104

[2018-06-15 09:21] nomoregrapes opened #107 "XML validity check on edit"
When editing a journal entry, a check could be done to say whether it's well-formed XML or not.

Low priority, as the preview will generally look odd if a tag is not closed.

[2018-06-15 09:24] nomoregrapes opened #108 "Add Google Analytics"
For both Wordpress frontend and for repository. Will need to request uni analytics accounts from CIS.

Don't forget, but easier to do once we have the sites in place & their URLs setup.

[2018-06-15 09:27] nomoregrapes opened #109 "Check code for TODOs"
Terribly I work by writing "TODO" within the code and then doing a find across files for them later.

They shouldn't be essential, but are good to do when I've got time left or am waiting for feedback on something.

[2018-06-15 09:30] nomoregrapes opened #110 "Login through different accounts"
Can only login using a Github account. Will need to change settings when the repository URL changes.

Logging in gives very little benefit, apart from admin actions.

* Facebook: site needs to be live before I can set it up/test. Might still be tricky due to Cambridge Analyticia.
* Twitter: add this as a login option?
* Others: not sure which ones might be of interest. Wordpress.com? Other OAuth p

[2018-06-15 09:36] nomoregrapes opened #111 "Speed-up admin dashboard"
There is an admin/manage dashboard that shows counts for each data type.

This is slow to load. Could speed it up, or cache the numbers.
Having the numbers cached might also allow us to save/display information like "date of last ingest" for each data type. Or identify if changes have been made since the TSV was last exported to Github.

[2018-06-15 11:04] nomoregrapes commented on #92
Between tasks & when waiting for ingests, I've made a few possibilities.
Trying to use Henson's signature, but not wanting to make it too wide, the title is as much the logo as the log itself. One of the lone "H" logos is probably best.

See images below(full page to show how it works in context), click to view full size.

**Purple H**
![logo_purple_h](https://user-images.githubusercontent.com/118

[2018-06-18 07:53] peterwebster commented on #70
OK, closing this one now: thanks all.

[2018-06-18 07:53] #70 closed, assigned to peterwebster

[2018-06-18 07:59] peterwebster commented on #74
@nomoregrapes this is looking good now, many thanks.

As things have changed in relation to the Publications (over at #101 ) could you confirm which fields are being included in the Publications search?

[2018-06-18 08:03] peterwebster commented on #64
Just to confirm that this should be, without the typo I included above @DurHHHI

`&eacute;`

[2018-06-18 08:05] DurHHHI commented on #64
Thanks @peterwebster - haven't done this yet -- there will be more accent identifiers required too, so ok to update beyond &eacute; ?

[2018-06-18 08:10] peterwebster commented on #65
Could you grab a screenshot for me @nomoregrapes ?

[2018-06-18 08:11] peterwebster commented on #64
@DurHHHI which ones have you seen so far? Umlauts, e grave ?

[2018-06-18 08:13] DurHHHI commented on #64
@peterwebster Yes, exactly those - don't believe I've spotted anything beyond the above yet.

[2018-06-18 09:14] DurHHHI commented on #64
http://sites.psu.edu/symbolcodes/codehtml/

[2018-06-18 10:26] peterwebster commented on #102
Assigning this to me, having altered the title to reflect the new state of play: 14 and 15 to be edited only in text editor to avoid repetition. I shall investigate the Excel settings to instruct it not to rewrite existing number strings as dates each time it saves a TSV file (particularly an issue in ref.tsv )

[2018-06-18 10:39] peterwebster commented on #94
Agreed that this is now wholly covered by #100 so closing this one.

[2018-06-18 10:39] #94 closed, assigned to KPalmerHeathman, DurHHHI

[2018-06-18 10:46] peterwebster opened #112 "Creation of new annotations in the GUI"
We may already have this covered, but there is a use case that may crop up, where:

(i) there is an element set with attribute display=no in the XML
(ii) there is NOT in the relevant annotations a matching record set to NoIndex
(iii) project team wants to add a newly composed annotation and unhide the element in the text.

I know we have an editor that allows the team to intervene in the XML to re

[2018-06-18 10:50] peterwebster commented on #110
Given that we've parked the various login-dependent requirements for non-admin users, I see the point here.
My thoughts are these:
(i) if we carry on with just Github login (as the team have these already), that's easy now, but what happens if and when Github change their way of working? This might be an argument for Twitter/Wordpress and others as back-up routes that need no additional dev work.

[2018-06-18 10:53] peterwebster commented on #111
Your call, but I'm happy to cache the numbers, with an option to trigger a refresh if required?

[2018-06-18 12:29] peterwebster opened #113 "Set all applications and scripts to encode in UTF-8"
@DurHHHI @KPalmerHeathman at some point on a Skype call, when I can see your machines, we need to check the settings of various programs for their default character encoding settings. This means Excel, Komodo, Notepad, and anything else you use to edit XML or TSV.

If Hilary and I can have a call this week with Skype, we can make a start on this.

[2018-06-18 12:31] DurHHHI commented on #113
Excellent - sounds good - can speak for Komodo only at the moment. UTF-8, for reference.

[2018-06-18 12:32] peterwebster commented on #89
Assigning this to @DurHHHI to pursue the comment three above this one.

See also continuation of another part of this at #113

[2018-06-18 12:34] peterwebster commented on #113
Could you screenshot what you see in order to make that determination?  @DurHHHI

[2018-06-18 12:35] DurHHHI commented on #113
Ouch ;)
<img width="1075" alt="screen shot 2018-06-18 at 1 34 28 pm" src="https://user-images.githubusercontent.com/32575577/41536079-6ecd7b3a-72fc-11e8-9273-8ba0df92a8ad.png">

[2018-06-18 12:36] peterwebster commented on #113
Thanks @DurHHHI : that tells us what the file is already encoded in as you received it. What we need is the setting for what Komodo will save it out as. I'll see what I can find out.

[2018-06-18 12:37] DurHHHI commented on #113
Less ouch ;) Ok, that's helpful!

[2018-06-18 13:15] peterwebster commented on #105
Before @nomoregrapes leaves us, Katie and I need to have logged in using Twitter, and me using Wordpress.

[2018-06-18 13:15] peterwebster commented on #110
See also #105

[2018-06-18 13:25] peterwebster commented on #112
This is already enabled, but needs to be included in user documentation.

[2018-06-18 13:31] peterwebster commented on #74
In publications search, include Editor/Translator

[2018-06-18 13:34] peterwebster commented on #107
This a low priority, but if it isn't implemented, documentation needs to guide users to always use the preview.

[2018-06-18 13:39] nomoregrapes commented on #106
Validation examples: missing XML files, XML well-formed, did it find the annotations it needs(non-critical error, especially if display=no).

[2018-06-18 13:57] DurHHHI commented on #64
@peterwebster If believe this has been done now with all character symbols updated to HTML entities - in both TSV and XML
most changes to e acute, which makes sense [nee/ne] - but umlauts, grave, and circumflex in the mix in XML as well.

[2018-06-18 14:00] DurHHHI commented on #102
@peterwebster just a quick update - accents corrected in the ref tsv file, then manual text edit change and save to hopefully correct odd date and page range reformats for everything in the file at present (14-15-16)

[2018-06-18 14:05] peterwebster commented on #64
Thanks @DurHHHI : assigning to me as a reminder to amend the Stage 7 script for rewrite from HTML to Unicode

[2018-06-19 08:46] peterwebster commented on #95
I now see that I haven't documented this properly, and GM is allowing for both in the stylesheet, so low priority now.

[2018-06-19 08:49] peterwebster commented on #101
Hi @nomoregrapes :  @DurHHHI is very close indeed to having a final version of ref.tsv. Would you like this sooner rather than later for testing?

[2018-06-19 08:56] peterwebster commented on #90
Date formatting corrected and new version of control sheet for v15 uploaded to OneDrive (v.2).  Closing ticket.

[2018-06-19 08:56] #90 closed, assigned to peterwebster

[2018-06-19 08:57] peterwebster commented on #79
Issue #90 now resolved. Before a new ingest, @nomoregrapes needs a fresh copy of the control sheet to v15, now on OneDrive > Master Data > Control Files.

[2018-06-19 09:06] peterwebster commented on #84
@DurHHHI with apologies for the bombardment of things, could you take 10 minutes today just to check this. I think it's probably OK, but it would be good to close it down.

[2018-06-19 09:20] DurHHHI commented on #84
@peterwebster I've been looking around and have not noticed an issue since these changes have taken place. Might be a slight issue with automatic ids in XML 17 - easily fixed manually when Katie and I eventually return to work through those files again, but possibly something to note moving forward for future volumes.

[2018-06-19 14:23] nomoregrapes commented on #76
Done. Viewable [online](http://community.dur.ac.uk/gregory.j.marler/wordpress/)

[2018-06-19 16:02] nomoregrapes opened #114 "Solr: test downgrading"
This is the current "big/critical" task, making sure the repository can run with the existing library setup. I need to **downgrade from Solr 6.3.0 to Solr 4.10.3.**

I've gone through the change files between those versions. The main changes are lots and lots of performance increases and bug fixes (potentially security fixes).
* Version 5.1 added some facet stuff that we may need (especially for s

[2018-06-20 10:00] peterwebster opened #115 "Inclusion/exclusion of marked-up persons/places etc"
After a discussion with @DurHHHI :

In the various TSV files, there is not a clear point in the sequences of ID numbers where the elements marked up in volume 15 end and those that only appear in v.16 start.

For the purposes of this launch, it is preferable to have a handful of v16-only persons/places appearing in search results without corresponding journal pages than to have persons in the jour

[2018-06-20 10:02] peterwebster commented on #84
Hi @DurHHHI I'm not sure what you mean by automatic IDs: what's the issue?

[2018-06-20 10:14] peterwebster commented on #64
@DurHHHI

Does this list cover the lot, do you think?
eacute
Eacute
egrave
Egrave
Agrave
agrave
Acirc
acirc
Ecirc
ecirc
Ouml
ouml
auml
Auml
Uuml
uuml

[2018-06-20 11:06] DurHHHI commented on #84
@peterwebster I knew it would be the correct terminology, but what I meant was the IDs that are included in the 'replace' google sheet.

[2018-06-20 11:08] DurHHHI commented on #64
@peterwebster  I would add:

ocirc
Ocirc

aacute
Aacute
iacute
Iacute

agrave
Agrave
igrave
Igrave

[2018-06-20 12:47] nomoregrapes commented on #101
I'm already happy enough that it works as intended.
I'm distracted by the Solr downgrade at the moment, so wouldn't be ingesting a new ref.tsv unless you're really wanting to test newer examples.

[2018-06-20 13:39] peterwebster commented on #76
Tested this with @durhhi today, which throws a Blacklight exception; perhaps it isn't plumbed in yet.

[2018-06-20 13:44] peterwebster commented on #101
We've had a look at the examples, but I think we will need to see how it looks with the updated data; but not right now..

[2018-06-20 13:46] peterwebster commented on #83
Tested this just now with @DurHHHI , looks good. Closing ticket.

[2018-06-20 13:46] #83 closed, assigned to peterwebster

[2018-06-20 13:50] nomoregrapes commented on #76
I had downgraded/broken the repository site. Noticed someone was using the site, and so I reverted my changes.

I'll probably keep the site working for the rest of the day. Tomorrow I may have to break it again.

[2018-06-20 13:52] peterwebster commented on #71
![image](https://user-images.githubusercontent.com/5520710/41662659-7e382d10-7499-11e8-8549-bdf567dd6443.png)

[2018-06-20 13:57] peterwebster commented on #69
Hi @nomoregrapes : we had a look at this just now, and there seems to be an issue with the sorting by date:
![image](https://user-images.githubusercontent.com/5520710/41662965-3b117cf2-749a-11e8-9aae-3b935b7d03f9.png)

[2018-06-20 13:57] peterwebster commented on #69
I'm not quite sure which rules it is applying.

[2018-06-20 14:00] peterwebster commented on #67
@nomoregrapes curiously, when the page first loads, the EndDate in the picker defaults to 31 December 1900; it should probably just be empty? I see that this is because on first load the YearTo defaults to 1900, and so the DateTo matches it, but it would be better to have them all default to blank. Not urgent however.

[2018-06-20 14:05] nomoregrapes commented on #69
The date field is being ingested/saved as a String, not as a date.
I'll need to fix this.

[2018-06-20 14:45] peterwebster commented on #76
Break away, as I can't test the WP-Samvera link anyway from here @nomoregrapes

[2018-06-20 14:53] peterwebster commented on #69
Oddly, it sorts fine in certain other circumstances, so I wonder whether it isn't to do with the application of the various filters rather than the underlying data.

[2018-06-20 14:56] peterwebster commented on #71
This looks good, many thanks @nomoregrapes . Closing the ticket now.

[2018-06-20 14:56] #71 closed, assigned to peterwebster

[2018-06-20 15:07] peterwebster opened #116 "Cross-references to hidden elements"
Hi @nomoregrapes : we have yet another conundrum to solve at two minutes to midnight: annotations that cross-reference to another person (usually) who is set to be hidden/not indexed.

It seems to me we have four possible options:

1. More dev work such that, when the application loads an annotation with a cross-ref in it, it first checks whether there is any data to load, and if not, does not pri

[2018-06-20 15:08] peterwebster commented on #116
2. The TSV data is fixed, such that cross-references that don't yet point to anything are formatted as something like:  person.82.hide, and so the stylesheet knows without additional requests what to do.

[2018-06-20 15:11] peterwebster commented on #116
3. Option 3 is to comment out *all* the functionality involving the cross-refs until the edition is complete (and the data is thus all there). but I'm not sure how we would go about revealilng that functionality without your (or someone's) dev support.

Or 4. change the error messaging, so that if user follows a link to a non-existent person/place, it says something like 'Bear with us, it's a work

[2018-06-20 15:12] peterwebster commented on #116
So @nomoregrapes concentrate right now on the server as agreed in #114 but we'll need to think about this at some point; thoughts welcome on the work involved in each option.

[2018-06-20 15:40] nomoregrapes commented on #116
I don't think this will be an issue.

1. When the TSV ingests person 81 it will see a cross ref to person.82 and try to find that so it can make a 2-way data link. If it doesn't then it forgets it has a cross ref and so won't list any.
2. Later it is ingesting person 82 (usually the next row in the TSV) which would hopefully have a cross ref to person.81. It finds that and makes a 2-way data link.

[2018-06-21 08:09] peterwebster commented on #116
Thanks @nomoregrapes : at the moment I'm relieved to think that we won't have links that go nowhere; more comfortable with links that don't exist in either direction.
@DurHHHI and I will need to find a few of these and test the behaviour once we've got the finalised data ingested.

[2018-06-21 08:22] peterwebster commented on #116
@DurHHHI but the last part of Gregory's comment does give me pause:  are we right to assume that cross-references are always two-way? Or, could they be made to be without doing violence to the meaning of anything?

[2018-06-21 08:29] DurHHHI commented on #116
Hi @peterwebster and @nomoregrapes

In current Hilary and Katie cross-ref thinking, they are not always! For example, Dean's Yard ID (places) lists cross ref links to all the person IDs who lived there. We've not followed through with a places cross ref for each individual persons ID. Family too: people like Ella, H's wife, are only cross-ref'd to her immediate family but other people (extended fa

[2018-06-21 08:42] peterwebster commented on #64
So, I now have a working script that takes HTML entities in the XML and converts to Unicode
` sed -i 's/eacute;/#x00E9;/g'`

[2018-06-21 08:44] peterwebster commented on #64
If @nomoregrapes is happy that the application now can deal with these being expressed as HYML entities in the TSV but as Unicode in the XML, then this ticket can be closed.

[2018-06-21 10:24] peterwebster opened #117 "Create approved list of HTML entities for pasting into XML"
@DurHHHI through no fault of her own (I think) introduced an additional character in the middle of the entity references for e acute etc. (Sometimes what you see is not all you get when copying from a webpage). I'm fixing this in 14 and 15, but before we do any more XML work in 16 or subsequent volumes, I need to create a .txt file from which @KPalmerHeathman and Hilary can safely copy and paste.

[2018-06-21 10:40] DurHHHI commented on #117
Oh no! Apologies, and thanks @peterwebster - yes, this was a cut and paste job on the accent corrections!

[2018-06-21 11:24] nomoregrapes commented on #117
Commenting to say it's not Hilary's fault, I'm surprised such a dodgy website exists for such a mundane thing.

If you're intrigued, this is related to [how strange text can crash your computer](https://www.youtube.com/watch?v=hJLMSllzoLA). I recommend Tom Scott's channel, he has a few videos about the joys of text encoding!

[2018-06-21 14:08] peterwebster opened #118 "Managing entities in XML that need to be set to display=no"
@DurHHHI @KPalmerHeathman : something for us to think about in August, when we've got 14 and 15 launched.

For each volume (or more precisely, each upload), I need a list of IDs of persons, places etc. that may have occurred in the volumes concerned that we need to hide because there is no annotation for it.
When we first thought about this, I had imagined we might be dealing with a couple of doze

[2018-06-21 14:10] peterwebster commented on #118
A query for @nomoregrapes
Can the ingest deal with lines in the TSV with IDs that it has previously ingested? If so, that means that the easiest option for managing the data before ingest is to have a single file for each type, each of them starting with ID=1, which is reingested each time. It will be slower at ingest, but I'm not too concerned about that.

[2018-06-21 14:18] peterwebster commented on #84
Hi @DurHHHI there's an opportunity to revise the numbers in the script that does that automatic markup before I run it for each new volume. If any of those IDs are wrong, that can be addressed in this deduplication script that I run just before a volume goes live. I don't think there should be any systemic problems there, unless I'm missing something?

[2018-06-21 14:27] peterwebster commented on #116
@nomoregrapes in light of Hilary's comment, how easy would it be to undo the mandatory two-way nature of the relationship? If you can give me a sense of the work involved, we can take a view on if/how to prioritise it alongside everything else in the run-in.
We didn't spell out whether it should or should not be so, and you made a reasonable working assumption in that absence.
I think it needs to

[2018-06-21 14:28] peterwebster commented on #116
@nomoregrapes it may be related to whether or not all the TSV is reingested each time, as raised at #118

[2018-06-22 08:12] DurHHHI commented on #84
ok thanks @peterwebster  - ok to close?

[2018-06-22 12:33] #84 closed, assigned to KPalmerHeathman, DurHHHI

[2018-06-22 14:04] peterwebster opened #119 "Content bottom #2: reimplement as list of Pages"
Hi @nomoregrapes :  could you advise how best to do this? It doesn't seem possible to change the kind of widget for one that's already there.
I would do it as hard links (as is the case with the three that are there already) but you then get the underlining.

I think I probably need to remove the widget and add it in again of the right type, but I'm not sure I can then preserve the page layout.

[2018-06-22 14:25] peterwebster opened #120 "Search options in WP"
We have a choice to make about this, as raised by Julia.

In the Wordpress site, we currently have two sets of search facilities: the drop-down at the top,  which allows all manner of faceted searches of the journal and annotations, but does not cover the WP content. On the right, we *also* have a single search, for the journals alone, and another that searches just the WP content.
http://communit

[2018-06-22 14:29] DurHHHI commented on #120
@peterwebster I'm with you on preference hierarchy.

[2018-06-22 14:30] #77 closed, assigned to peterwebster

[2018-06-22 14:54] peterwebster opened #121 "Add Places to navigation options, on WP and repo"
@nomoregrapes this would be good to do, if possible, by the meeting on Wednesday, unless it is a great deal of work.

Grey bar then reads: Journals People Organisations Places

Once it is written, there will also be something like Search Help to add #97

[2018-06-22 14:56] peterwebster commented on #97
There's now a blank WP page called help, which can be linked to as per #121

[2018-06-22 15:03] nomoregrapes commented on #120
Even with the best wording, I fear people will not know what a search box does until they use it. I prefer (ii) over (iii). However, I'm the outnumbered, and just the developer.

What value does searching the WP "commentaries" add? Are you more likely to search Google or be sent a link to one of the essays. Good menus will direct you to pages like "abbreviations used", when you might not have know

[2018-06-22 15:11] peterwebster commented on #120
Let me think about this for a day or two @nomoregrapes

[2018-06-22 15:12] peterwebster commented on #121
OK, I figured out how to do this in WP, but it should be reflected in the repo.

[2018-06-22 15:14] nomoregrapes commented on #119
In the options of the widget click "delete" (or drag the widget away to the list of widgets). The 2 bottom areas scale their widths to fit the extra space.

Drag the pages widget from the left into Content Bottom 3.
If you want to specify a specific list(not all pages) then first go to Appearance/Menus and "create new menu" that you can then use in the Nav Menu widget.

Alternatively, you could ad

[2018-06-22 15:17] DurHHHI commented on #120
@peterwebster and @nomoregrapes - mentioned preference only - very flexible here and totally defer to the professionals!! ;)

[2018-06-23 09:19] peterwebster commented on #102
@DurHHHI I had a hunt for solutions to this, and it seems that this feature cannot be turned off in Excel, which is just an astonishingly awful design decision from MS, I can hardly believe it.

So, we'll need to work around this.
(1) when working in Excel, if you have a page range that seems to get converted to a date, write it out as 1xxx24; then, just before we send the TSV off for ingest, we'l

[2018-06-23 09:21] peterwebster commented on #102
@DurHHHI  Note also the unusual Saturday working: I normally try to avoid it ( https://websterresearchconsulting.com/values/ ) but sometimes needs must.

[2018-06-23 09:24] DurHHHI commented on #102
@peterwebster Ah, good idea - will do this moving forward -- date format is messing up with the four letter months (where JS does not want this abbreviated). Date format does not seem to be an issue when utilising abbrev.period. (ex. Oct., Dec., Jan.). Could try doing June., July., etc. with the period and then making a note to find and replace just before TSV ingest.

Yes, weekend work not ideal.

[2018-06-23 09:57] peterwebster commented on #102
It may still decide that even with the period it's a month: better Junex  Julys Mayx ; anything, so long as we're consistent.  @DurHHHI

[2018-06-23 10:00] DurHHHI commented on #102
@peterwebster
I've just tried it - and it is accepting the period. Do you want me to change?

At the moment.

Date format:
June.
July.
May.

Page range:
0xxx-
1xxx-
2xxx-
to 9xxx-

[2018-06-23 10:09] peterwebster commented on #102
Sure, so your search and replace operations are:

June. > June
July. > July
May. > May
xxx- > -
or just

xxx >  nothing.

[2018-06-23 10:12] DurHHHI commented on #102
@peterwebster  Yes sir - I've corrected the ref.tsv file now. Given the ingest potential Monday, want me to action these replace options in textedit?

[2018-06-25 09:34] nomoregrapes commented on #64
I don't need to do anything for `&#233;` type characters to be recognised & displayed.

[2018-06-25 15:42] peterwebster commented on #64
Super @nomoregrapes : closing ticket now.

[2018-06-25 15:42] #64 closed, assigned to nobody

[2018-06-25 15:45] peterwebster commented on #102
I haven't been able to check that the TSV columns match those in the data model document, and are in the same order horiz ntally, but I think @DurHHHI has. If that's the case, then yes, go ahead with this; I doubt we'll be uploading before lunchtime Tuesday now.

[2018-06-25 15:54] peterwebster opened #122 "New version of styles.xsl for use with post stage 7 XML."
@KPalmerHeathman @DurHHHI once XML has gone through my final scripts (deduplicating, hiding etc), I place it in OneDrive in the Stage 6 folder. However, the usual styles.xsl will not work with these files, so (as things stand), if there is a last gasp tiny change to make, you won't be able to preview it.
In due course, I'll amend styles.xsl (or rather create a new version) to allow you to preview

[2018-06-26 07:44] DurHHHI commented on #102
@peterwebster I've searched and replaced extra characters in affected date and page range entries in textedit. The columns in ref.tsv reflect the correct order as per Saturday's emailed word doc.

[2018-06-26 07:55] DurHHHI opened #123 "Resurrect IDs currently set as do not index - how to identify for Peter's script"
Query 'how to let me [@peterwebster] know that my script should no longer hide person123[, identified in vol 15,] from 21'

@KPalmerHeathman

[2018-06-26 07:59] DurHHHI opened #124 "Resurrect IDS currently set as 'do not index' - what to do previous volume entries where ID was set as 'do not index'"
i.e. * If ID created for person in Vol 15, and person returns and annotation written for ID in vol 21, 'what to do with him/her in 15'

Personally, I think that if an ID is 'resurrected' because they become 'more important' or there is more information about them in a later volume to correctly identify, the person should be viewable across the journals.

This might be another question, but still h

[2018-06-26 08:14] nomoregrapes commented on #120
Decided on (iv) Extra drop-down for search will be called "Essays & Help"
Will be on both repository pages & wordpress pages.

[2018-06-26 08:15] peterwebster commented on #120
I shall remove the two search options on the right (moving to inactive for now in case they needed to be restored)

[2018-06-26 08:49] peterwebster commented on #120
Two search options removed from right of WP page (moved to Inactive Widgets, in case they need to be restored.)

[2018-06-26 08:53] nomoregrapes commented on #96
This is done.
No icon or mouseover-highlighting will appear.

Hidden feature: If you know it's there, you will be able to right-click on a name(etc), and then click "Inspect Element" and the person id will be in the HTML markup. This might be good for debugging, if you wonder why a name isn't highlighting.

[2018-06-26 09:16] peterwebster commented on #119
Done.

[2018-06-26 09:16] #119 closed, assigned to peterwebster

[2018-06-26 09:36] nomoregrapes commented on #120
"Essays & Help" search option is now implemented on both Worpress & Repository parts.

[2018-06-26 09:54] nomoregrapes commented on #118
When you ingest (which is done 1 type at a time) you choose between two options...
* Insert = if a matching ID is found, then skip ingest.
* Update = if a matching ID is found, overwrite it with the values from the TSV(even if they're blank).

Insert is slightly faster, because it processes less data but both options have to look for existing IDs.

[2018-06-26 10:02] nomoregrapes commented on #116
It's possible to stop assuming links should be reciprocal.

The trouble is that when ingesting person.1, neither (i) or (ii) can happen because person.2 hasn't been ingested yet.
#104 will need to be done first, this will allow the system to ingest all the people it has, and then do a delayed task of looking at the cross references.

[2018-06-26 10:04] peterwebster commented on #120
Could @DurHHHI and @KPalmerHeathman test this in the repository part of the site? It's fine in WP

[2018-06-26 10:06] KPalmerHeathman commented on #120
Will have a check now, seeing as I'm on campus.

[2018-06-26 10:17] KPalmerHeathman commented on #120
Seems to be working fine - searched for 'editorial' using 'essays and help' from the repository, got some results.

[2018-06-26 10:41] peterwebster commented on #116
OK @nomoregrapes let's come back to this once we've got a functioning application in its final home.

[2018-06-26 10:43] peterwebster commented on #120
OK, closing this now.

[2018-06-26 10:43] #120 closed, assigned to KPalmerHeathman, DurHHHI

[2018-06-26 11:01] peterwebster commented on #96
This needs to be tested once the revised 14 and 15 are ingested.

[2018-06-26 11:01] peterwebster commented on #96
Also, include the Inspect Element feature in user documentation.

[2018-06-26 12:33] peterwebster commented on #89
To pursue this once 14 and 15 are ingested in w/c 26 June

[2018-06-26 12:38] #115 closed, assigned to DurHHHI

[2018-06-26 13:29] nomoregrapes commented on #93
(i) is done.
Other work should be done, will test with next ingest of vol14.

[2018-06-26 15:59] nomoregrapes commented on #93
@peterwebster the new TEI doesn't work as XML is supposed to have only one root node. We need to wrap the head in a `<TEI xmlns="http://www.tei-c.org/ns/1.0">` and that should be TEI compliant but also allow me to access the body tag which is at the same level.

Files would look like...
[code]

[2018-06-26 16:45] nomoregrapes commented on #93
I've put a really bad hack in for now so it works for Julia & the team tomorrow. Volume 14 is in, but we should reingest a version with `<tei>` tags.

[2018-06-27 08:53] nomoregrapes commented on #114
Update is to abandon this, and..
- [x] run Solr 6 on Helios (Boguslaw's server)
- [ ] run Fedora and Rails etc on the library servers (cisvirhyd).
- [ ] have a nice error returned if the Helios is not available.

Yet still it relies on CIS...
Currently waiting for it-webteam to give my account access to the Durham github, so I can push my code to cisvirhyd.

[2018-06-27 09:07] nomoregrapes commented on #91
All these are done, and I think covered by other tickets.

[2018-06-27 09:07] #91 closed, assigned to nomoregrapes

[2018-06-27 09:39] nomoregrapes commented on #66
Done a few of these.

As a tickable list...
 - [x] Close when they hit the cross icon, top right
 - [x] Close when when they click on any other annotation icon in the page
 - [x] Close when when they click elsewhere in the page
 - [x] Remove white space after icon.
 - [x] On hover, expand icon to obscure the following character.

[2018-06-27 09:53] peterwebster commented on #93
Schoolboy error, apologies: this got overlooked. @nomoregrapes

Refining your example, the hierarchy needs to be TEI > text > body tags, as per this.  Fixing 14 now

[code]

[2018-06-27 10:00] peterwebster commented on #93
Chapter and verse here  http://en.guidelines.tei-c.org/html/ref-TEI.html  @nomoregrapes

[2018-06-27 10:13] peterwebster commented on #93
OK @nomoregrapes : fixed XML for volume 14 now in OneDrive, Master Data/Stage6/14v2

Hopefully that will work now.

[2018-06-27 12:56] peterwebster commented on #93
@nomoregrapes XML for volume 15 now also in OneDrive, MasterData>Stage6>15

[2018-06-27 14:02] peterwebster commented on #118
@KPalmerHeathman @DurHHHI here's what we discussed yesterday, which also supersedes #123 and #124 which I will close shortly.

As Gregory confirmed above, it is possible at every upload time to reingest *all* the TSV, from ID=1 in each case, asking the application to overwrite old versions with whatever it finds in the TSV with the same ID.  [EDIT:  need to use the Insert option at upload, not Upd

[2018-06-27 14:07] peterwebster commented on #118
Could @KPalmerHeathman @DurHHHI let me know if this doesn't seem clear, and which of (vi) and (vii) you'd rather work with.

Actions now:
(i) I need to update my master workflow document to reflect this change;
(ii) when it comes to volume 16, I need a little script to cater for (vii) if that is what is needed.

[2018-06-27 14:08] peterwebster commented on #124
Now documented at ##118.

[2018-06-27 14:08] #124 closed, assigned to peterwebster, KPalmerHeathman, DurHHHI

[2018-06-27 14:08] peterwebster commented on #123
See #118

[2018-06-27 14:08] #123 closed, assigned to peterwebster, KPalmerHeathman, DurHHHI

[2018-06-27 14:29] peterwebster commented on #96
Could @KPalmerHeathman and @DurHHHI take a look at 14 and see whether those persons/places etc who should be "hidden" in the XML are so - that is, they have no popups associated with them.

[2018-06-27 14:32] peterwebster commented on #114
If you don't anywhere soon with the web team, perhaps @BoguslawObara might give them a prod?

[2018-06-27 15:00] peterwebster commented on #102
OK, @DurHHHI you'll be delighted to hear that there's a tweak needed here (from 16 on) in light of #118

In #118 we decided that we need to maintain just one TSV file for each data type, the whole of which we ingest every time we're preparing for an ingest of new XML. So, you've merrily been adding 11xxx123 as you go along, and just before the ingest, you search/replace it to 11-123. Great.

But (

[2018-06-27 15:01] nomoregrapes commented on #105
I've now added the most simple page to list users, and links to make a user an "admin" or remove them.
Only admins can access this page, admins have all the special access to editing/ingesting/etc.
![admin-users](https://user-images.githubusercontent.com/1181194/41982242-d39855bc-7a22-11e8-89e1-a8170feedb8f.png)

Any type of user (logged in via Github or Twitter) can be made into an admin.
Logging

[2018-06-27 15:01] #105 closed, assigned to nomoregrapes

[2018-06-27 15:11] nomoregrapes commented on #74
For publications, the fields being searched are now
* title
* subtitle
* volume details
* periodical details
* translator/editor

[2018-06-27 15:14] peterwebster opened #125 "Change wording on date picker 'Search' button"
Having two search buttons has caused some confusion today. In a ten minute gap at the end of a day, could you change it to 'Show entries'?

Open to suggestions of better wording. 'Show days'? @DurHHHI @KPalmerHeathman

[2018-06-27 15:16] peterwebster commented on #74
We'll have to test this once the most up-to-date TSV is ingested.

[2018-06-27 15:46] nomoregrapes commented on #118
I think you're missing this small clarification:
* If person 123 is indexed (via a TSV ingest) then they will be searchable.
* A search result for Mr 123 will take you to `.../people/person123` which lists _all_ 14/15/16/etc journal mentions, regardless of whether the mention has a display=no or not.
* vol 16 entries mentions of him, the popup will have a link to `.../people/person123` for viewing

[2018-06-27 16:02] nomoregrapes commented on #114
As a prod, I've put it in as a CIS support call too.

[2018-06-27 16:07] nomoregrapes commented on #93
@peterwebster I'm not seeing the fixed 14, or XML for 15 on OneDrive.
![onedrive](https://user-images.githubusercontent.com/1181194/41985907-85f67b9a-7a2c-11e8-81c1-f1f445e1eb03.png)

[2018-06-28 07:27] peterwebster commented on #93
@nomoregrapes it should be there...?

![image](https://user-images.githubusercontent.com/5520710/42019457-2138effe-7aad-11e8-820e-5ba422bdab17.png)

[2018-06-28 07:38] peterwebster commented on #118
@nomoregrapes thanks for that, which means that once a new load of XML is ingested, along with the TSV in which person.123 is now set to index (where he had been hidden before), @KPalmerHeathman and @DurHHHI can in fact then use the site search itself (during the checking phase before the volume is made public) to find references in the earlier volumes. They click through to the journal entry, hit

[2018-06-28 08:27] peterwebster commented on #65
Could @KPalmerHeathman and @DurHHHI take a look at this and feedback?  That is, after a search in the Journals screen, do the results sort by date by default?

[2018-06-28 09:43] nomoregrapes commented on #93
Ah, found it. Don't know why it wasn't showing yesterday.

[2018-06-28 10:38] nomoregrapes commented on #116
I just spotted, I've done most of the work already to make cross references one-directional.
I've disabled the code that jumps to assuming that a reference should be reciprocated.

Some stuff will need to be done to ensure all intended references are linked up, and potentially the existing links cleared out. That's all work that will be completed int he course of other tasks anyway.

[2018-06-28 15:01] nomoregrapes opened #126 "Maintain consistent TSV headings."
Volume 15_v2 control file was missing the first 2 headings. The first line should be exactly,
`SortKey	FileName	DateFrom	DateTo	Volume	PageFrom	PageTo	Issues/controversies (separated by commas)`
I've fixed it on my local copy, so that I could do the ingest.

The annotation TSVs have `0` as the first heading instead of `ID`. I could adjust the code so that either is acceptable.

[2018-06-29 08:56] nomoregrapes commented on #93
TEI-compatible markup tested and is fine.

[2018-06-29 08:56] #93 closed, assigned to nomoregrapes

[2018-06-29 09:41] peterwebster commented on #126
So, first line must match exactly, but columns accepted in any order.

All existing top rows are now acceptable.

[2018-06-29 09:41] #126 closed, assigned to peterwebster

[2018-06-29 09:43] peterwebster commented on #125
I shall confirm the preferred wording, bearing in mind that there is only really space for six characters.

[2018-06-29 09:48] peterwebster commented on #116
@KPalmerHeathman @DurHHHI
this is ready for testing, on the following points:

(i) test that cross-references to annotations set to index=no are not visible

ON TESTING: we think this is OK, but see new issue below.

[2018-06-29 09:55] peterwebster commented on #110
Leave Wordpress, closing ticket. Testing now under #105

[2018-06-29 09:55] #110 closed, assigned to nomoregrapes

[2018-06-29 10:06] nomoregrapes commented on #79
Greg to test this again. Might be an overwritten bit for vol15_front

[2018-06-29 10:15] KPalmerHeathman commented on #65
Yes, results appearing in date order.

[2018-06-29 10:25] KPalmerHeathman opened #127 "Icons displaying on line above"
![image](https://user-images.githubusercontent.com/32575539/42087740-038a5cee-7b8f-11e8-8694-110c2e963bb9.png)
Hi @nomoregrapes and @peterwebster, not sure how well you can see it in the above screenshot, but the person icons for Mrs Talbot and Miss Talbot are appearing on the line above, in 'December' and 'dined with', rather than attached to the Talbots. This is in Firefox.

[2018-06-29 10:38] KPalmerHeathman commented on #96
Persons hidden have no popups, but appear in search results as a clickable profile, which then gives an error message.

[2018-06-29 13:32] nomoregrapes commented on #100
Those style rules are now implemented.
Example links are in my 1st comment, and additionally [03-11-08-12-21](http://10.245.28.108:3000/journals/03-11-08-12-21) has examples of: verse, verse with a table in it, and letters.

[2018-06-29 14:08] peterwebster commented on #100
To test on Monday @DurHHHI @KPalmerHeathman unless you're able to take a look at it before then and report back.

[2018-06-29 14:10] peterwebster commented on #96
Could you pick out an example and put a screenshot here @KPalmerHeathman @DurHHHI
If the person was set to index=no in the TSV, this should not be the case.

[2018-06-29 14:12] peterwebster commented on #127
Curious. *assigns to @nomoregrapes *

Nice desktop....

[2018-06-29 14:14] #65 closed, assigned to KPalmerHeathman, DurHHHI

[2018-06-29 14:15] KPalmerHeathman commented on #127
Sorry about the double screenshot, no idea how to make it only capture one screen!

[2018-06-29 14:16] KPalmerHeathman commented on #96
![image](https://user-images.githubusercontent.com/32575539/42097188-66055f34-7baf-11e8-8665-591f73c0bf3d.png)

[2018-06-29 14:17] KPalmerHeathman commented on #96
![image](https://user-images.githubusercontent.com/32575539/42097229-7e106d44-7baf-11e8-85c5-89d097c9d6ea.png)

[2018-06-29 14:17] KPalmerHeathman commented on #96
But, instead of getting an error as I did when I clicked on them this morning, I now get:
![image](https://user-images.githubusercontent.com/32575539/42097257-9538642c-7baf-11e8-87d7-da8742f48e67.png)

[2018-06-29 14:23] nomoregrapes commented on #121
Now done, this is how the repository top-bar now looks like...
![top-bars](https://user-images.githubusercontent.com/1181194/42097166-555bbb88-7baf-11e8-9ff7-f17a0afe3da3.png)

It's worth noting that we intended the repository homepage to redirect to the wordpress homepage. So the logo/title will effectively link to the same place as the "Guidance/Help" that is in the blue bar. We've avoided dupli

[2018-06-29 14:30] peterwebster commented on #96
OK, so there's a discussion to be had here @KPalmerHeathman @DurHHHI .

There are in fact two possible ways of dealing with a person/place/org etc. for whom we decided there would be no annotation.

1. As we imagined originally, all trace of the fact we know who they are is invisible: no popup, no index results.
2. Or, as here, the popup is not there but the bare fact of the name appears in the se

[2018-06-29 14:30] peterwebster commented on #96
@nomoregrapes these two examples are persons 3 (Father Hector) and 5 (Hirch)

[2018-06-29 14:39] peterwebster commented on #127
By disconnecting one monitor, alas. @KPalmerHeathman

[2018-06-29 15:30] nomoregrapes commented on #98
Oddly none of the references with this markup are used in journal entries (they get used in later volumes?).

So I temporarily tagged a reference in a journal entry...
![ref_annotation](https://user-images.githubusercontent.com/1181194/42100986-a63fa01e-7bb9-11e8-8aec-19e73202cee0.png)

[2018-06-29 16:02] nomoregrapes commented on #79
I've found the problem.
* The first time you ingest a journal entry it now gets the linking right.
* You have the option to manually overwrite links, in-case sortKey isn't how you want.
* When you do an ingest that updates a journal entry, it won't check the links because it doesn't want to undo any manual links you put in.

Because this went wrong earlier, I've done a special update reingest of v

[2018-07-02 08:39] nomoregrapes commented on #79
All linking is fixed and working for future ingests.

[2018-07-02 08:39] #79 closed, assigned to nomoregrapes

[2018-07-02 10:10] nomoregrapes commented on #47
[This is the example](http://10.245.28.108:3000/journals/01-01-10) of superscript with underline (the line now jumps up). Seems good on Chrome & Firefox, would anyone like to test it on Safari and Internet Explorer?
![journal-styles](https://user-images.githubusercontent.com/1181194/42158479-739678aa-7de8-11e8-92ad-f6e43a5576e2.png)

I noticed the styling wasn't functional at all since recent chan

[2018-07-02 13:43] KPalmerHeathman commented on #47
Fine on IE. I've never been able to access the website on Edge...

[2018-07-02 13:45] KPalmerHeathman opened #128 "No website access on Edge"
Gregory, just so you know and can look into it, the website doesn't seem to be accessible at all using Edge.

[2018-07-02 13:46] DurHHHI commented on #47
<img width="1231" alt="screen shot 2018-07-02 at 2 45 50 pm" src="https://user-images.githubusercontent.com/32575577/42167719-c26af1c2-7e06-11e8-9441-ee7ac4a5cc82.png">

[2018-07-02 13:48] DurHHHI commented on #47
This is a screenshot from chrome - just showing what seems to be a slightly different placement between the first and second underline of M**r** Talbot.

[2018-07-02 13:51] peterwebster commented on #47
Some differential vertical positioning of the underlining of superscript, for information. Not *at the moment* a high priority.

[2018-07-02 13:57] KPalmerHeathman opened #129 "Spacing of multiple pop up annotation boxes."
![image](https://user-images.githubusercontent.com/32575539/42168172-270c0188-7e08-11e8-9eb4-84c3e5f8921f.png)

[2018-07-02 13:58] DurHHHI commented on #129
For reference, this is involving event=160 and ref=119

[2018-07-02 14:00] peterwebster commented on #129
Me to check what is going on in relation to the event that is not showing here.

[2018-07-02 14:02] DurHHHI opened #130 "Special characters displaying incorrectly in annotation texts and names"
<img width="1269" alt="screen shot 2018-07-02 at 3 00 36 pm" src="https://user-images.githubusercontent.com/32575577/42168427-dbd8df50-7e08-11e8-9750-1d1067c12824.png">

[2018-07-02 14:02] KPalmerHeathman opened #131 "Display of person names in search results"
In some circumstances, the persons are still showing up as ID numbers in search results.

![image](https://user-images.githubusercontent.com/32575539/42168460-eeb706a6-7e08-11e8-91a2-cb91eac26e34.png)

[2018-07-02 14:03] DurHHHI commented on #130
Example above shows issues with added space in annotated text; also issues with character copy in header.

@peterwebster , @nomoregrapes
@KPalmerHeathman

[2018-07-02 14:05] peterwebster commented on #130
Peter to adjust later process to cater for i umlaut (some coming up in 17)

{now covered at #136

[2018-07-02 14:07] DurHHHI commented on #130
This might be a separate ticket, but too note: special characters - if searched for in normal plain text - cannot be found

Ex. if searching just 'Caroe', Car&ouml;e not found

[Now dealt with at #132 ]

[2018-07-02 14:10] peterwebster opened #132 "Names including special characters in the search"
An issue with the search annotations:  if you have a person with a name with a special character, we should expect that users will not search using the special character: is there any way to enable a search for 'regime' to find instances of r [e acute]gime ?

[2018-07-02 14:13] DurHHHI opened #133 "Cross-ref including people not specifically identified in TSV as linked"
<img width="1248" alt="screen shot 2018-07-02 at 3 11 56 pm" src="https://user-images.githubusercontent.com/32575577/42169002-70a27dd4-7e0a-11e8-9f6a-773b05dec28d.png">

[2018-07-02 14:14] DurHHHI commented on #133
Clicking on Rosa, I found that beyond her brothers - the two IDs that are linked to her by manual input in TSV - she is also linked with Archibald Primrose - this is incorrect and doesn't seem to be coming from a TSV input error.

@peterwebster @KPalmerHeathman

[2018-07-02 14:20] peterwebster commented on #133
In the TSV, Rosa [ID=713] is correctly cross-refd with Albert [222] and Edwin [293] but the ref to Primrose [292] is incorrect, and it all seems to be correct in the TSV.

[2018-07-02 14:24] DurHHHI commented on #130
Another example screenshot below where accents are not correctly appearing - this is when searching for Isabella Caroline Dennistoun Henson [pers112].
<img width="1171" alt="screen shot 2018-07-02 at 3 18 38 pm" src="https://user-images.githubusercontent.com/32575577/42169525-e56ed3c8-7e0b-11e8-8762-9c33ca8969fd.png">

[2018-07-02 14:25] KPalmerHeathman commented on #116
http://10.245.28.108:3000/people/person112
Isabella is cross referenced to five people, but far more are appearing. All of these people have cross refs to her, but should not be in her own refs.

[2018-07-02 14:49] peterwebster commented on #132
See screenshot at #130

[2018-07-02 14:53] peterwebster opened #134 "Issue in table spacing"
In our call earlier @KPalmerHeathman @DurHHHI we identified a curious looking table in 03-02-01-02-02.

The XML looks like this:

![image](https://user-images.githubusercontent.com/5520710/42171230-abd9129a-7e10-11e8-9ace-4627247d686c.png)

[2018-07-02 15:02] peterwebster commented on #134
Table cells, if not specifically instructed to do otherwise (ie. by fixing their width/height either in the stylesheet or in the XML) default in the browser to the width of the shortest span of text in them. In this case, for some reason, there are actually two tables (see the opening and closing tags in the highlighted section).
So, since all of the left-hand cells in the second table are empty,

[2018-07-02 15:03] peterwebster commented on #131
Probably just an echo of an older issue showing up under different conditions elsewhere @nomoregrapes

[2018-07-02 15:08] peterwebster commented on #98
Could @durHHI test and feedback? As @nomoregrapes  has dummied this up, search for Knox and check it, then we'll need to ask Gregory to reverse it.

[2018-07-02 15:12] nomoregrapes commented on #96
I think I know the problem why Father Hector is showing.
He was ingested early on before index=no was used. Later on I did an update ingest, but it just skips index=no (it needs to proactively delete the already ingested person). **I have no fixed this, but need to repeat for other annotation data types.**
![search-hector](https://user-images.githubusercontent.com/1181194/42171955-96f89a10-7e12-11

[2018-07-02 15:16] DurHHHI commented on #98
Not finding anything in 15 that will work with this as a pop up test - but searching for Knox directly in the search, finding 'span' command still visible.

![knox span capture](https://user-images.githubusercontent.com/32575577/42172211-465ce164-7e13-11e8-8187-53157a45278c.JPG)

[2018-07-02 15:24] nomoregrapes commented on #127
Yet you haven't told us where the photo is of! When I was forced to use Windows, I had [FSCapture](http://www.faststone.org/FSCaptureDetail.htm)(free download) which I think you can select the area to screenshot.

Curious desktop, curious bug too.
It's specific to **Firefox** and I can recreate, so I will work on fixing this later. [link to journal](http://10.245.28.108:3000/journals/00-12-02-12-1

[2018-07-02 15:31] nomoregrapes commented on #129
This is in 01-01-27-02-07
`My <listEvent><event xml:id="160"><ref xml:id="119">sermon</ref></event></listEvent> took exactly`

Can we agree you shouldn't have an annotation inside any other annotation? So it should instead look something like this...
`My <listEvent><event xml:id="160">sermon</event></listEvent><ref xml:id="119"></ref> took exactly`
(aka, not my problem)

[2018-07-02 15:47] nomoregrapes commented on #131
This happens now & then when I'm changing/breaking/fixing things. I have to restart the repository system on my computer, and then it's fixed. So if I noticed, it's usually fixed within 5 minutes (includes 30 seconds of no website at all).

It won't happen when the website is in it's final place, because I'll be more conscious about making changes and if a restart is needed.

[2018-07-02 15:47] #131 closed, assigned to nomoregrapes

[2018-07-02 16:00] nomoregrapes commented on #128
Errr, could you try again?
Hoping you didn't catch it while I was doing a restart.

[2018-07-03 09:09] KPalmerHeathman commented on #127
![image](https://user-images.githubusercontent.com/32575539/42210556-38ff529a-7ea9-11e8-8413-9322b131efb7.png)
Cheddar Gorge!

[2018-07-03 09:11] KPalmerHeathman commented on #128
Still no.

[2018-07-03 11:00] KPalmerHeathman commented on #129
So how should we now be marking up families/couples? At the beginning we were advised:
`I went to see the <persName id="123"><persName id="124">Murrays</persName></persName> at their house`
I have a couple to markup now, so want to make sure I'm doing it right.

[2018-07-03 14:08] peterwebster commented on #129
Two separate issues in play here:

1. @KPalmerHeathman @DurHHHI the particular example here, where there is both an event and a ref should probably be dealt with by <event mark up and cross-reference to the publication. Strictly speaking, the thing being marked up is not (at this point in the journal) a publication.

2. But, the point about people being referred to collectively that Katie points o

[2018-07-03 14:12] nomoregrapes commented on #69
I have now fixed this.

Spent longer trying to fix it, because I was using the example below which is correct if you pay attention to the year!
![search_ordered_by_date](https://user-images.githubusercontent.com/1181194/42222358-e43adde6-7ecc-11e8-8978-426ebdd681d2.png)

[2018-07-03 14:13] peterwebster commented on #98
So, two things going on here.
@nomoregrapes is on the case with the display in the search results.

@DurHHHI can you search for '4 boys at school' in order to find the example Gregory has mocked up, and see if it is acceptable?

[2018-07-03 14:19] DurHHHI commented on #98
Hi @peterwebster - I did exactly that yesterday and sourced the correct entry but could not find the mocked up ref example.

[2018-07-03 14:55] nomoregrapes commented on #96
This is now fixed for all data types, and reingest of annotations done.

Father Hector and Mrs Hirst don't show up as people. If you agree, then we can close this ticket?

[2018-07-04 05:48] peterwebster commented on #98
OK @DurHHHI : what we'll need to do is, once we have access to the editing functions in the interface, we can create a couple of examples ourselves to test, and then remove.

[2018-07-04 05:53] peterwebster commented on #69
Could @KPalmerHeathman @DurHHHI take a few minutes to try various searches, with lots of different combinations of filters, and in various different places around the site, to test this?

[2018-07-04 05:57] peterwebster commented on #96
@DurHHHI @KPalmerHeathman could you spend some time trying to find any trace of our markup for persons/places who are hidden? There should be no popups in the text, and no search results for the actual person (except, if you search everything, you'll find the name as a free text result, which is correct)

[2018-07-04 10:59] nomoregrapes commented on #114
If something happens to Helios (running Solr) then any repository page will redirect to a 503 error page, that currently looks like this.
![solr_503](https://user-images.githubusercontent.com/1181194/42273280-abda819a-7f80-11e8-9a3d-e0af5d698d28.png)

Along with the 404 page, this error page uses a very cut-down style so that it's not reliant on the usual template files. I can change the text if d

[2018-07-04 11:01] nomoregrapes commented on #92
I'm not chasing this up.
If / when a logo is agreed, a note to myself that I'll need to change it in multiple places:
 - [ ] Wordpress termplate
 - [ ] Repository template
 - [ ] Repository error pages (404 and 503)

[2018-07-04 12:31] KPalmerHeathman commented on #69
@nomoregrapes jsut tried to check this and the website seems to be down - ok if this is planned :)

[2018-07-04 12:43] KPalmerHeathman opened #135 "Display of person titles"
In this search, Sir Ian Malcolm appears just as 'Sir' in the search results.
![image](https://user-images.githubusercontent.com/32575539/42277731-3df0c1ca-7f90-11e8-9eed-d0a70fc8c325.png)